.b{
	font-weight:bold!important;
}
.u{
	text-decoration:underline!important;
}
@if $fontFamilyItalic {
	.i {
		font-style:italic!important;
	}
}

@if $fontFamilyMincho {
	.serif{
		font-family:$fontFamilyMincho;
	}
}

.al-l{text-align:left;}
.al-r{text-align:right;}
.al-c{text-align:center;}
.cl-l{
	clear:left;
}
.cl-r{
	clear:right;
}
.aligncenter,
img.aligncenter,
.entry img.aligncenter,
.textwidget img.aligncenter,
.dp_text_widget img.aligncenter,
a.aligncenter,
a.btn.aligncenter,
.entry a.btn.aligncenter,
.textwidget a.btn.aligncenter,
.dp_text_widget a.btn.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.alignnone {
	display:block;
	margin-left:0;
	padding-left:0;
}
.fl-l,
.alignleft{float:left}
.fl-r,
.alignright{float:right;}
.fl-l img,
.alignleft img{
	margin-top:5px;
	margin-left:0;
}
.fl-r img,
.alignright img{
	margin-top:5px;
	margin-right:0;
}

.shadow-none{
	text-shadow:none;
}

.disp-none{display:none;}
.disp-blk{display:block;}
.inline-bl,
.disp-in-blk{
	display:inline-block;
}





.v-al-btm{
	vertical-align:bottom;
}
.v-al-top{
	vertical-align:top;
}
.v-al-mdl{
	vertical-align:middle;
}
.v-al-txt-btm{
	vertical-align:text-bottom;
}
.v-al-txt-top{
	vertical-align:text-top;
}

.pos-ab{position:absolute;}
.pos-re{position:relative;}

.big	{font-size:20px;}
.small  {font-size:10px;}

// Font size
[class^="ft"], 
[class*=" ft"]{
	line-height:1.3;
}
.ft8px {font-size:8px;}
.ft9px {font-size:9px;}
.ft10px{font-size:10px;}
.ft11px{font-size:11px;}
.ft12px{font-size:12px;}
.ft13px{font-size:13px;}
.ft14px{font-size:14px;}
.ft15px{font-size:15px;}
.ft16px{font-size:16px;}
.ft17px{font-size:17px;}
.ft18px{font-size:18px;}
.ft19px{font-size:19px;}
.ft20px{font-size:20px;}
.ft21px{font-size:21px;}
.ft22px{font-size:22px;}
.ft23px{font-size:23px;}
.ft24px{font-size:24px;}
.ft25px{font-size:25px;}
.ft26px{font-size:26px;}
.ft27px{font-size:27px;}
.ft28px{font-size:28px;}
.ft29px{font-size:29px;}
.ft30px{font-size:30px;}
.ft31px{font-size:31px;}
.ft32px{font-size:32px;}
.ft33px{font-size:33px;}
.ft34px{font-size:34px;}
.ft35px{font-size:35px;}
.ft40px{font-size:40px;}
.ft45px{font-size:45px;}
.ft50px{font-size:50px;}
.ft55px{font-size:55px;}
.ft60px{font-size:60px;}
.ft65px{font-size:65px;}
.ft70px{font-size:70px;}
.ft75px{font-size:75px;}
.ft80px{font-size:80px;}
.ft85px{font-size:85px;}
.ft90px{font-size:90px;}
.ft95px{font-size:95px;}
.ft100px{font-size:100px;}

.black{color:#000;}
.red{color:#f21a0a;}
.green{color:#1abc9c;}
.yellow{color:#f7d745;}
.blue{color:#3094dd;}
.lightblue{color:#08abdc;}
.gray{color:#aaa;}
.orange{color:#f39c12;}
.pink{color:#f95189;}
.white{
	color:#fff;
	text-shadow:none!important;
}


[class^="mk-"], 
[class*=" mk-"] {
	padding:2.5px 4px;
}

.bg-none{
	background:transparent!important;
}
.bg-black,
.mk-black{
	color:#fff;
	background:#353c42;
	text-shadow:none!important;
}
.bg-gray,
.mk-gray{
	color:#444;
	background:#e8e8e8;
	text-shadow:none!important;
}
.bg-yellow,
.mk-yellow{
	color:#444;
	background:#f7d745;
	text-shadow:none!important;
}
.bg-green,
.mk-green{
	color:#fff;
	background:#1abc9c;
	text-shadow:none!important;
}

.bg-blue,
.mk-blue{
	color:#fff;
	background:#3094dd;
	text-shadow:none!important;
}
.bg-lightblue,
.mk-lightblue{
	color:#444;
	background:#aee2fc;
	text-shadow:none!important;
}
.bg-red,
.mk-red{
	color:#fff;
	background:#fda2a2;
	text-shadow:none!important;
}
.bg-orange,
.mk-orange{
	color:#fff;
	background:#f39c12;
	text-shadow:none!important;
}
.bg-pink,
.mk-pink{
	color:#444;
	background:#fdc2d6;
	text-shadow:none!important;
}
.bg-white{
	color:#444;
	background:#fff;
	text-shadow:none!important;
}

/* Background color with transparent */
.bg-black-op90{
	background-color:rgba(#000,.9);
}
.bg-black-op80{
	background-color:rgba(#000,.8);
}
.bg-black-op70{
	background-color:rgba(#000,.7);
}
.bg-black-op60{
	background-color:rgba(#000,.6);
}
.bg-black-op50{
	background-color:rgba(#000,.5);
}
.bg-black-op40{
	background-color:rgba(#000,.4);
}
.bg-black-op30{
	background-color:rgba(#000,.3);
}
.bg-black-op20{
	background-color:rgba(#000,.2);
}
.bg-black-op10{
	background-color:rgba(#000,.1);
}
[class^="bg-black-op"]:not(:target),
[class*="bg-black-op"]:not(:target){
	filter:none;
}

// Border
.bd-none{
	border:none!important;
}
.bd{
	border-bottom:2px solid #000;
}
.bd-red{
	border-bottom:2px solid #fda2a2;
}
.bd-blue{
	border-bottom:2px solid #3094dd;
}
.bd-green{
	border-bottom:2px solid #1abc9c;
}
.bd-yellow{
	border-bottom:2px solid #f7d745;
}
.bd-gray{
	border-bottom:2px solid #aaa;
}
.bd-orange{
	border-bottom:2px solid #f39c12;
}
.bd-pink{
	border-bottom:2px solid #fdc2d6;
}
.bd-lightblue{
	border-bottom:2px solid #aee2fc;
}

img.bd {
	background-color:rgba(#aaa,.16);
	border:1px solid rgba(#aaa,.48);
	border-radius:3px;
	padding:4px;
}

// Box
.box,
[class^="box-"], 
[class*=" box-"]{
	position:relative;
	width:100%;
	line-height:1.8;
	padding:6px 12px!important;
	margin:0 auto 20px auto!important;
	border:1px solid #c0c0c0;
	background:#f9f9f9;
	box-sizing:border-box;
}
// Rounded box
.box-c,
[class^="box-c-"], 
[class*=" box-c-"] {
	@include border_radius(3px);
}

.box-red,
.box-c-red {
	color: #b94a48;
	background-color: #f2dede;
	border: 1px solid #f5c2c9;
}

.box-blue,
.box-c-blue{
	color: #3a87ad;
	background-color: #d9edf7;
  	border: 1px solid #ace9f5;
}

.box-green,
.box-c-green {
	color: #48832b;
	border:1px solid #c6f5ab;
	background-color: #eafddf;
}

.box-yellow,
.box-c-yellow{
	color: #97911e;
	border:1px solid #f3ee85;
	background-color:#fefee2;
}

.box-pink,
.box-c-pink{
	color: #d97c9e;
	border:1px solid #fddce9;
	background-color:#fff5f9;
}

.box-orange,
.box-c-orange{
	color: #b9714f;
	border:1px solid #fbd69d;
	background-color:#f5e5c9;
}


// Padding
.pd0px{padding:0!important;}
.pd4px{padding:4px;}
.pd5px{padding:5px;}
.pd6px{padding:6px;}
.pd7px{padding:7px;}
.pd8px{padding:8px;}
.pd9px{padding:9px;}
.pd10px{padding:10px;}
.pd11px{padding:11px;}
.pd12px{padding:12px;}
.pd13px{padding:13px;}
.pd14px{padding:14px;}
.pd15px{padding:15px;}
.pd16px{padding:16px;}
.pd17px{padding:17px;}
.pd18px{padding:18px;}
.pd19px{padding:19px;}
.pd20px{padding:20px;}
.pd21px{padding:21px;}
.pd22px{padding:22px;}
.pd23px{padding:23px;}
.pd24px{padding:24px;}
.pd25px{padding:25px;}
.pd26px{padding:26px;}
.pd27px{padding:27px;}
.pd28px{padding:28px;}
.pd29px{padding:29px;}
.pd30px{padding:30px;}
.pd35px{padding:35px;}
.pd40px{padding:40px;}
.pd45px{padding:45px;}
.pd50px{padding:50px;}
.pd55px{padding:55px;}
.pd60px{padding:60px;}
.pd65px{padding:65px;}
.pd70px{padding:70px;}
.pd75px{padding:75px;}
.pd80px{padding:80px;}
.pd85px{padding:85px;}
.pd90px{padding:90px;}
.pd95px{padding:95px;}
.pd100px{padding:100px;}

.pd0px-top{padding-top:0!important;}
.pd4px-top{padding-top:4px;}
.pd5px-top{padding-top:5px;}
.pd6px-top{padding-top:6px;}
.pd7px-top{padding-top:7px;}
.pd8px-top{padding-top:8px;}
.pd9px-top{padding-top:9px;}
.pd10px-top{padding-top:10px;}
.pd11px-top{padding-top:11px;}
.pd12px-top{padding-top:12px;}
.pd13px-top{padding-top:13px;}
.pd14px-top{padding-top:14px;}
.pd15px-top{padding-top:15px;}
.pd16px-top{padding-top:16px;}
.pd17px-top{padding-top:17px;}
.pd18px-top{padding-top:18px;}
.pd19px-top{padding-top:19px;}
.pd20px-top{padding-top:20px;}
.pd21px-top{padding-top:21px;}
.pd22px-top{padding-top:22px;}
.pd23px-top{padding-top:23px;}
.pd24px-top{padding-top:24px;}
.pd25px-top{padding-top:25px;}
.pd26px-top{padding-top:26px;}
.pd27px-top{padding-top:27px;}
.pd28px-top{padding-top:28px;}
.pd29px-top{padding-top:29px;}
.pd30px-top{padding-top:30px;}
.pd35px-top{padding-top:35px;}
.pd40px-top{padding-top:40px;}
.pd45px-top{padding-top:45px;}
.pd50px-top{padding-top:50px;}
.pd55px-top{padding-top:55px;}
.pd60px-top{padding-top:60px;}
.pd65px-top{padding-top:65px;}
.pd70px-top{padding-top:70px;}
.pd75px-top{padding-top:75px;}
.pd80px-top{padding-top:80px;}
.pd85px-top{padding-top:85px;}
.pd90px-top{padding-top:90px;}
.pd95px-top{padding-top:95px;}
.pd100px-top{padding-top:100px;}

.pd0px-btm{padding-bottom:0!important;}
.pd4px-btm{padding-bottom:4px;}
.pd5px-btm{padding-bottom:5px;}
.pd6px-btm{padding-bottom:6px;}
.pd7px-btm{padding-bottom:7px;}
.pd8px-btm{padding-bottom:8px;}
.pd9px-btm{padding-bottom:9px;}
.pd10px-btm{padding-bottom:10px;}
.pd11px-btm{padding-bottom:11px;}
.pd12px-btm{padding-bottom:12px;}
.pd13px-btm{padding-bottom:13px;}
.pd14px-btm{padding-bottom:14px;}
.pd15px-btm{padding-bottom:15px;}
.pd16px-btm{padding-bottom:16px;}
.pd17px-btm{padding-bottom:17px;}
.pd18px-btm{padding-bottom:18px;}
.pd19px-btm{padding-bottom:19px;}
.pd20px-btm{padding-bottom:20px;}
.pd21px-btm{padding-bottom:21px;}
.pd22px-btm{padding-bottom:22px;}
.pd23px-btm{padding-bottom:23px;}
.pd24px-btm{padding-bottom:24px;}
.pd25px-btm{padding-bottom:25px;}
.pd26px-btm{padding-bottom:26px;}
.pd27px-btm{padding-bottom:27px;}
.pd28px-btm{padding-bottom:28px;}
.pd29px-btm{padding-bottom:29px;}
.pd30px-btm{padding-bottom:30px;}
.pd35px-btm{padding-bottom:35px;}
.pd40px-btm{padding-bottom:40px;}
.pd45px-btm{padding-bottom:45px;}
.pd50px-btm{padding-bottom:50px;}
.pd55px-btm{padding-bottom:55px;}
.pd60px-btm{padding-bottom:60px;}
.pd65px-btm{padding-bottom:65px;}
.pd70px-btm{padding-bottom:70px;}
.pd75px-btm{padding-bottom:75px;}
.pd80px-btm{padding-bottom:80px;}
.pd85px-btm{padding-bottom:85px;}
.pd90px-btm{padding-bottom:90px;}
.pd95px-btm{padding-bottom:95px;}
.pd100px-btm{padding-bottom:100px;}

.pd0px-l{padding-left:0!important;}
.pd4px-l{padding-left:4px;}
.pd5px-l{padding-left:5px;}
.pd6px-l{padding-left:6px;}
.pd7px-l{padding-left:7px;}
.pd8px-l{padding-left:8px;}
.pd9px-l{padding-left:9px;}
.pd10px-l{padding-left:10px;}
.pd11px-l{padding-left:11px;}
.pd12px-l{padding-left:12px;}
.pd13px-l{padding-left:13px;}
.pd14px-l{padding-left:14px;}
.pd15px-l{padding-left:15px;}
.pd16px-l{padding-left:16px;}
.pd17px-l{padding-left:17px;}
.pd18px-l{padding-left:18px;}
.pd19px-l{padding-left:19px;}
.pd20px-l{padding-left:20px;}
.pd21px-l{padding-left:21px;}
.pd22px-l{padding-left:22px;}
.pd23px-l{padding-left:23px;}
.pd24px-l{padding-left:24px;}
.pd25px-l{padding-left:25px;}
.pd26px-l{padding-left:26px;}
.pd27px-l{padding-left:27px;}
.pd28px-l{padding-left:28px;}
.pd29px-l{padding-left:29px;}
.pd30px-l{padding-left:30px;}
.pd35px-l{padding-left:35px;}
.pd40px-l{padding-left:40px;}
.pd45px-l{padding-left:45px;}
.pd50px-l{padding-left:50px;}
.pd55px-l{padding-left:55px;}
.pd60px-l{padding-left:60px;}
.pd65px-l{padding-left:65px;}
.pd70px-l{padding-left:70px;}
.pd75px-l{padding-left:75px;}
.pd80px-l{padding-left:80px;}
.pd85px-l{padding-left:85px;}
.pd90px-l{padding-left:90px;}
.pd95px-l{padding-left:95px;}
.pd100px-l{padding-left:100px;}

.pd0px-r{padding-right:0!important;}
.pd4px-r{padding-right:4px;}
.pd5px-r{padding-right:5px;}
.pd6px-r{padding-right:6px;}
.pd7px-r{padding-right:7px;}
.pd8px-r{padding-right:8px;}
.pd9px-r{padding-right:9px;}
.pd10px-r{padding-right:10px;}
.pd11px-r{padding-right:11px;}
.pd12px-r{padding-right:12px;}
.pd13px-r{padding-right:13px;}
.pd14px-r{padding-right:14px;}
.pd15px-r{padding-right:15px;}
.pd16px-r{padding-right:16px;}
.pd17px-r{padding-right:17px;}
.pd18px-r{padding-right:18px;}
.pd19px-r{padding-right:19px;}
.pd20px-r{padding-right:20px;}
.pd21px-r{padding-right:21px;}
.pd22px-r{padding-right:22px;}
.pd23px-r{padding-right:23px;}
.pd24px-r{padding-right:24px;}
.pd25px-r{padding-right:25px;}
.pd26px-r{padding-right:26px;}
.pd27px-r{padding-right:27px;}
.pd28px-r{padding-right:28px;}
.pd29px-r{padding-right:29px;}
.pd30px-r{padding-right:30px;}
.pd35px-r{padding-right:35px;}
.pd40px-r{padding-right:40px;}
.pd45px-r{padding-right:45px;}
.pd50px-r{padding-right:50px;}
.pd55px-r{padding-right:55px;}
.pd60px-r{padding-right:60px;}
.pd65px-r{padding-right:65px;}
.pd70px-r{padding-right:70px;}
.pd75px-r{padding-right:75px;}
.pd80px-r{padding-right:80px;}
.pd85px-r{padding-right:85px;}
.pd90px-r{padding-right:90px;}
.pd95px-r{padding-right:95px;}
.pd100px-r{padding-right:100px;}


// Margin
.mg0px{margin:0!important;}
.mg4px{margin:4px;}
.mg5px{margin:5px;}
.mg6px{margin:6px;}
.mg7px{margin:7px;}
.mg8px{margin:8px;}
.mg9px{margin:9px;}
.mg10px{margin:10px;}
.mg11px{margin:11px;}
.mg12px{margin:12px;}
.mg13px{margin:13px;}
.mg14px{margin:14px;}
.mg15px{margin:15px;}
.mg16px{margin:16px;}
.mg17px{margin:17px;}
.mg18px{margin:18px;}
.mg19px{margin:19px;}
.mg20px{margin:20px;}
.mg21px{margin:21px;}
.mg22px{margin:22px;}
.mg23px{margin:23px;}
.mg24px{margin:24px;}
.mg25px{margin:25px;}
.mg26px{margin:26px;}
.mg27px{margin:27px;}
.mg28px{margin:28px;}
.mg29px{margin:29px;}
.mg30px{margin:30px;}
.mg35px{margin:35px;}
.mg40px{margin:40px;}
.mg45px{margin:45px;}
.mg50px{margin:50px;}
.mg55px{margin:55px;}
.mg60px{margin:60px;}
.mg65px{margin:65px;}
.mg70px{margin:70px;}
.mg75px{margin:75px;}
.mg80px{margin:80px;}
.mg85px{margin:85px;}
.mg90px{margin:90px;}
.mg95px{margin:95px;}
.mg100px{margin:100px;}

.mg0px-top{margin-top:0!important;}
.mg4px-top{margin-top:4px;}
.mg5px-top{margin-top:5px;}
.mg6px-top{margin-top:6px;}
.mg7px-top{margin-top:7px;}
.mg8px-top{margin-top:8px;}
.mg9px-top{margin-top:9px;}
.mg10px-top{margin-top:10px;}
.mg11px-top{margin-top:11px;}
.mg12px-top{margin-top:12px;}
.mg13px-top{margin-top:13px;}
.mg14px-top{margin-top:14px;}
.mg15px-top{margin-top:15px;}
.mg16px-top{margin-top:16px;}
.mg17px-top{margin-top:17px;}
.mg18px-top{margin-top:18px;}
.mg19px-top{margin-top:19px;}
.mg20px-top{margin-top:20px;}
.mg21px-top{margin-top:21px;}
.mg22px-top{margin-top:22px;}
.mg23px-top{margin-top:23px;}
.mg24px-top{margin-top:24px;}
.mg25px-top{margin-top:25px;}
.mg26px-top{margin-top:26px;}
.mg27px-top{margin-top:27px;}
.mg28px-top{margin-top:28px;}
.mg29px-top{margin-top:29px;}
.mg30px-top{margin-top:30px;}
.mg35px-top{margin-top:35px;}
.mg40px-top{margin-top:40px;}
.mg45px-top{margin-top:45px;}
.mg50px-top{margin-top:50px;}
.mg55px-top{margin-top:55px;}
.mg60px-top{margin-top:60px;}
.mg65px-top{margin-top:65px;}
.mg70px-top{margin-top:70px;}
.mg75px-top{margin-top:75px;}
.mg80px-top{margin-top:80px;}
.mg85px-top{margin-top:85px;}
.mg90px-top{margin-top:90px;}
.mg95px-top{margin-top:95px;}
.mg100px-top{margin-top:100px;}

.mg0px-btm{margin-bottom:0!important;}
.mg4px-btm{margin-bottom:4px;}
.mg5px-btm{margin-bottom:5px;}
.mg6px-btm{margin-bottom:6px;}
.mg7px-btm{margin-bottom:7px;}
.mg8px-btm{margin-bottom:8px;}
.mg9px-btm{margin-bottom:9px;}
.mg10px-btm{margin-bottom:10px;}
.mg11px-btm{margin-bottom:11px;}
.mg12px-btm{margin-bottom:12px;}
.mg13px-btm{margin-bottom:13px;}
.mg14px-btm{margin-bottom:14px;}
.mg15px-btm{margin-bottom:15px;}
.mg16px-btm{margin-bottom:16px;}
.mg17px-btm{margin-bottom:17px;}
.mg18px-btm{margin-bottom:18px;}
.mg19px-btm{margin-bottom:19px;}
.mg20px-btm{margin-bottom:20px;}
.mg21px-btm{margin-bottom:21px;}
.mg22px-btm{margin-bottom:22px;}
.mg23px-btm{margin-bottom:23px;}
.mg24px-btm{margin-bottom:24px;}
.mg25px-btm{margin-bottom:25px;}
.mg26px-btm{margin-bottom:26px;}
.mg27px-btm{margin-bottom:27px;}
.mg28px-btm{margin-bottom:28px;}
.mg29px-btm{margin-bottom:29px;}
.mg30px-btm{margin-bottom:30px;}
.mg35px-btm{margin-bottom:35px;}
.mg40px-btm{margin-bottom:40px;}
.mg45px-btm{margin-bottom:45px;}
.mg50px-btm{margin-bottom:50px;}
.mg55px-btm{margin-bottom:55px;}
.mg60px-btm{margin-bottom:60px;}
.mg65px-btm{margin-bottom:65px;}
.mg70px-btm{margin-bottom:70px;}
.mg75px-btm{margin-bottom:75px;}
.mg80px-btm{margin-bottom:80px;}
.mg85px-btm{margin-bottom:85px;}
.mg90px-btm{margin-bottom:90px;}
.mg95px-btm{margin-bottom:95px;}
.mg100px-btm{margin-bottom:100px;}

.mg0px-l{margin-left:0!important;}
.mg4px-l{margin-left:4px;}
.mg5px-l{margin-left:5px;}
.mg6px-l{margin-left:6px;}
.mg7px-l{margin-left:7px;}
.mg8px-l{margin-left:8px;}
.mg9px-l{margin-left:9px;}
.mg10px-l{margin-left:10px;}
.mg11px-l{margin-left:11px;}
.mg12px-l{margin-left:12px;}
.mg13px-l{margin-left:13px;}
.mg14px-l{margin-left:14px;}
.mg15px-l{margin-left:15px;}
.mg16px-l{margin-left:16px;}
.mg17px-l{margin-left:17px;}
.mg18px-l{margin-left:18px;}
.mg19px-l{margin-left:19px;}
.mg20px-l{margin-left:20px;}
.mg21px-l{margin-left:21px;}
.mg22px-l{margin-left:22px;}
.mg23px-l{margin-left:23px;}
.mg24px-l{margin-left:24px;}
.mg25px-l{margin-left:25px;}
.mg26px-l{margin-left:26px;}
.mg27px-l{margin-left:27px;}
.mg28px-l{margin-left:28px;}
.mg29px-l{margin-left:29px;}
.mg30px-l{margin-left:30px;}
.mg35px-l{margin-left:35px;}
.mg40px-l{margin-left:40px;}
.mg45px-l{margin-left:45px;}
.mg50px-l{margin-left:50px;}
.mg55px-l{margin-left:55px;}
.mg60px-l{margin-left:60px;}
.mg65px-l{margin-left:65px;}
.mg70px-l{margin-left:70px;}
.mg75px-l{margin-left:75px;}
.mg80px-l{margin-left:80px;}
.mg85px-l{margin-left:85px;}
.mg90px-l{margin-left:90px;}
.mg95px-l{margin-left:95px;}
.mg100px-l{margin-left:100px;}

.mg0px-r{margin-right:0!important;}
.mg4px-r{margin-right:4px;}
.mg5px-r{margin-right:5px;}
.mg6px-r{margin-right:6px;}
.mg7px-r{margin-right:7px;}
.mg8px-r{margin-right:8px;}
.mg9px-r{margin-right:9px;}
.mg10px-r{margin-right:10px;}
.mg11px-r{margin-right:11px;}
.mg12px-r{margin-right:12px;}
.mg13px-r{margin-right:13px;}
.mg14px-r{margin-right:14px;}
.mg15px-r{margin-right:15px;}
.mg16px-r{margin-right:16px;}
.mg17px-r{margin-right:17px;}
.mg18px-r{margin-right:18px;}
.mg19px-r{margin-right:19px;}
.mg20px-r{margin-right:20px;}
.mg21px-r{margin-right:21px;}
.mg22px-r{margin-right:22px;}
.mg23px-r{margin-right:23px;}
.mg24px-r{margin-right:24px;}
.mg25px-r{margin-right:25px;}
.mg26px-r{margin-right:26px;}
.mg27px-r{margin-right:27px;}
.mg28px-r{margin-right:28px;}
.mg29px-r{margin-right:29px;}
.mg30px-r{margin-right:30px;}
.mg35px-r{margin-right:35px;}
.mg40px-r{margin-right:40px;}
.mg45px-r{margin-right:45px;}
.mg50px-r{margin-right:50px;}
.mg55px-r{margin-right:55px;}
.mg60px-r{margin-right:60px;}
.mg65px-r{margin-right:65px;}
.mg70px-r{margin-right:70px;}
.mg75px-r{margin-right:75px;}
.mg80px-r{margin-right:80px;}
.mg85px-r{margin-right:85px;}
.mg90px-r{margin-right:90px;}
.mg95px-r{margin-right:95px;}
.mg100px-r{margin-right:100px;}


 
// Image style
.img {
	width:auto;
	max-width: 100%;
	height:auto;
	vertical-align: middle;
	box-sizing:border-box;
	margin:10px;
}
.img-circular {
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
}


// Buttons and labels
a.btn{
	text-decoration:none!important;
}
p.label {
	display:inline-block;
	padding:0 12px;
	line-height:32px;
}
.btn {
	// Gradient style
	// @extend %button_and_label;
	// @extend %button_style;

	// Flat style
	@extend %button_and_label_falt;
	@extend %button_style_flat;
}
.label {
	// Gradient style
	// @extend %button_and_label;
	// @extend %label_style;

	// Flat style
	@extend %button_and_label_falt;
	@extend %label_style_flat;
}


/**
 * WordPress uploaded image with link
 */
a{
    >img{
        &[class*="wp-image-"]{
            box-shadow:0 6px 24px -16px #000;
            transition:all .3s ease;
        }
    }
}

/**
 * Keyboard button
 */
.keyboard{
	display:inline-block;
	font:bold 13.5px Arial, 'Hiragino Sans', Meiryo;
	color:#8a8a8a;
	background:#f0f0f0;
	vertical-align:middle;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	height:36px;
	line-height:36px;
	margin:auto 7px 10px 7px;
	padding:0 13px;
	border-radius:4px;
	border-top:1px solid #fafafa;
	box-shadow:inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 4px #4a4a4a;
	text-shadow:0px 1px 0px #fcfcfc;

	&:active{
		border-color:#eee;
		box-shadow:inset 0 0 25px #ddd, 0 0 3px #6a6a6a;
		transform:translateY(2px);
	}
}