textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"],
input[type=submit],
.uneditable-input{
	display: inline-block;
	height:22px;
	padding:4px 6px;
	margin:0 10px 10px 0;
	border:1px solid #d0d0d0;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
input[type="checkbox"], 
input[type="radio"] {
	box-sizing:border-box;
	padding:0;
	margin:0 6px 22px 0;
}
textarea{
	height:auto;
}

/* Disable focus outline on Chrome */
input:focus,
textarea:focus{
	outline:none;
}
input[type=submit] {
	-webkit-appearance: none!important;
	-webkit-border-radius:2px!important;
}