// **********************************************************
// Global Menu
// **********************************************************
#global_menu {
	width:100%;
	z-index:10000;

	// DELETE
	@extend %global_menu_gradient;
	@extend %global_menu_box_shadow;
	border-bottom:1px solid $globalMenuGradient1;
}
#global_menu_div {
	@include position(relative);
	width:$containerWidth;
	height:$globalMenuHeight - 1;
	margin:0 auto;
	z-index:10;
}

// For media queries
#expand_global_menu {
	display:none;
	height:100%;
	line-height:4.4;
	cursor:pointer;
	text-align:left;
	width:100%;
	font-size:14px;
}

// Global menu ul
ul#global_menu_ul {
	display:block;
	padding:0;

	li {
		@include position(relative);
		display:block;
		text-align:center;
		list-style-image:none;
		list-style-type:none;
		height:$globalMenuHeight - 1;
		float:left;
		margin:0;
		padding:0;
		
		// DELETE
		@extend %global_menu_gradient;
		@include single-text-shadow($globalMenuTextShadowColor, 0, 1px, 0);

		a {
			display:block;
			margin:0;
			padding:24px 14px 18px 14px;
			line-height:17px;
			font-size:$px12;
			text-decoration:none;
			z-index:1;

			&:hover{
				text-decoration:none;
			}

			// DELETE
			color:$globalMenuLinkColor;
		}
		&:hover {
			@extend %global_menu_gradient_hover;
		}
	}

	li.current-menu-item {
		@extend %global_menu_gradient_hover;
	}
	
	// DELETE
	> li:not(:first-child) {
		border-left:1px solid $globalMenuGradient2;
	}
	> li:not(:last-child) {
		border-right:1px solid $globalMenuGradient1;
	}

	// Sub menu
	ul.sub-menu {
		display:none;
		@include position(absolute);
		width:$globalSubMenuWidth;
		zoom:1;
		
		// DELETE
		@extend %global_menu_box_shadow;
		border-right:1px solid $globalMenuGradient1;
		border-bottom:1px solid $globalMenuGradient1;
		border-left:1px solid $globalMenuGradient1;

		li {
			float:none;
			height:auto;
			a {
				padding:14px 10px ;
			}
		}

		.menu-caption {
			display:none;
		}

		.submenu_li {
			height:44px;
		}
	}

	// Global menu title
	.menu-title{
		@include position(relative, "", "", 10px);
	}
	
	// menu caption
	.menu-caption {
		@include position(absolute);
		bottom:8px;
		left:0;
		display:block;
		width:100%;
		font-size:$px9;
		color:$globalMenuCaptionColor;
		letter-spacing:0.6pt;
		cursor:pointer;
		overflow:hidden;
	}

	// For media queries
	.submenu_li {
		position:relative;
		float:right;
		text-align: center;
		width:44px;
		height:59px;
		display:block;
		cursor:pointer;
		z-index:1000;
	}
	.submenu_li:before{
		position:relative;
		top:12px;
		cursor:pointer;
	}
}

.menu_num_1 > li {
	width:100%;
}
.menu_num_2 > li {
	width:49.89%;
	width:49.87%\9;
}
.menu_num_3 > li {
	width:33.19%;
	width:33.17%\9;
}
.menu_num_4 > li {
	width:24.84%;
	width:24.82%\9;
}
.menu_num_5 > li {
	width:19.83%;
	width:19.81%\9;
}
.menu_num_6 > li {
	width:16.49%;
	width:16.47%\9;
}
.menu_num_7 > li {
	width:14.1%;
	width:13.98%\9;
}
.menu_num_8 > li {
	width:12.31%;
	width:12.28%\9;
}
.menu_num_9 > li {
	width:10.92%;
	width:10.89%\9;
}
.menu_num_10 > li {
	width:9.81%;
	width:9.78%\9;
}
