// **********************************************************
// media queries
// **********************************************************
@include mq-custom(0, '750px', false, false ) {	

}

@include mq-custom(0, '680px', false, false ) {	

}
@include mq-custom(0, '620px', false, false ) {

}
@include mq-custom(0, '568px', false, false ) {
	//iPhone 5 landscape
}
@include mq-custom(0, '480px', false, false ) {
	// Until iPhone 4 landscape (480px width)
}
@include mq-custom ( 0, '480px', false, false ) {
	.entry {
		.fl-r,
		.fl-l,
		.alignright,
		.alignleft{
			float:none;
			display:block;
		}
	}
	img {
		&.fl-r,
		&.fl-l,
		&.alignright,
		&.alignleft{
			padding:0!important;
			margin:0 auto 20px auto!important;
			border:none!important;
		}
	}
}
@include mq-custom(0, '320px', false, false ) {
	// 320px width

}