// Anchor text color
a {
	// @include link_color($linkColor, $linkColorHover);
}
code {
	padding:3px 6px 4px;
	margin:auto 6px;
	line-height:2;
	border-radius:3px;
}

hr,
hr.wp-block-separator {
	height: 0;
	margin: $smallSeparateWidth 0 $blockSeparateWidth 0;
	padding: 0;
	border: 0;
	border-top: 1px dotted;
	// border-color:rgba($fontColor,0.34);
}

// Clearfix
.clearfix {
	@include clearfix;
}

// **********************************************************
// Header menu
// **********************************************************
#mb_header_menu,
#mb_footer_menu{
	position:relative;
	padding:5px 0;
	font-size:12px;
}
#mb_footer_menu {
	padding:0 0 22px 0;
}
#mb_header_menu_list{
	display:none;
}
#mb_header_menu_list,
#mb_footer_menu_list {
	li {
		line-height:1.4;
		font-size:11px;
		border-bottom:1px solid rgba(#fff,.2);
		a {
			display: block;
			padding:14px 0;
			&:before {
				display:inline-block;
				width:20px;
				font-size:14px;
				text-align:center;
				margin-right:10px;
			}
		}
	}
}
#mb_header_menu_arrow {
	position:absolute;
	bottom:-22px;
	right:10px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 22px 22px 0 22px;
	-webkit-transform:rotate(360deg);
	cursor:pointer;
	z-index:1000;

	&:before {
		position:relative;
		top:-24px;
		right:10px;
		font-size:16px;
	}
}

// **********************************************************
// Header area
// **********************************************************
div#header_container_paged{
	height:100%;
	margin:0 auto;
	text-align:left;
}
#header_area {
	position:relative;
	width:100%;
	height:82px;	// 80px is TRUE!!!! but... 
	padding:0;
	margin:0 auto;
	overflow:hidden;
	z-index:0;

	h1 {
		position: relative;
		top:8px;
		font-size:22px;
		line-height:1.2;

		a {
			font-weight:normal;
			text-decoration: none;

			&:hover{
				text-decoration: none;
			}
		}

		img {
			position: relative;
			top:-4px;
			border:none;
			vertical-align:middle;
			padding:0;
			height:70px;
			max-height:70px;
		}
	}
	h2 {
		position: relative;
		top:8px;
		font-size:11px;
	}
}



// Global menu caption
.menu-caption{
	position:absolute;
	top:12px;
	width:100%;
	cursor:pointer;
	max-height:30px;
	max-width:100%;
	font-size:78.6%;
	letter-spacing:1.4pt;
	overflow:hidden;
}

// Wrapping
#wrap {
	position:relative;
	min-height:100%;
}



// **********************************************************
// Container
// **********************************************************
#container{
	clear:both;
	text-align:left;
	width:100%;
	margin:0 auto;
	padding-bottom:22px;
}

// Widget in container and content
div#top-container-widget,
div#top-content-bottom-widget{
	margin:0 auto 10px auto;
	border-bottom:none;
	box-shadow:none;
	-webkit-box-shadow:none;
}
div#top-container-widget{
	margin:10px auto $separateWidth auto;
}
div#top-content-widget a,
div#top-content-widget a:hover{
	text-decoration: none;
}
div#top-container-widget.entry,
div#top-content-widget.entry,
div#top-content-bottom-widget.entry {
	padding-bottom:0;
}
div#top-container-widget img,
div#top-content-widget img,
div#top-content-bottom-widget img{
	border:none;
	padding:0;
	margin:0;
}


// **********************************************************
// Breadcrumb
// **********************************************************
.dp_topbar_title {
	padding:13px 10px;
	font-size:14px;
	line-height:1;

	&.headline_slider_sec {
		padding:10px;
		font-size:12px;
		line-height:1.3;
		text-align:center;
	}

	h1 {
		font-size:18px;
		letter-spacing: 2px;
		text-align: center;
	}
}
.dp_breadcrumb{
	position:relative;
	width:100%;
	margin:0 auto;
	a {
		text-decoration: none!important;
	}

	.headline_main_title {
		display:inline-block;
		position:relative;
		top:-5px;
		margin-bottom:4px;
		h1 {
			font-size:11.4px;
			text-shadow:none;
			letter-spacing:0.05em;
			padding:3px 12px;
			@extend %border_radius_all_2px;
		}
	}

	ul {
		list-style-type:none;
		padding:0;
		margin:0;

		li {
			position:relative;
			float:left;
			padding:0;

			&:after {
				padding-left:5px;
			}
		}
	}
	// Headline SLider
	.headline_slider {
		overflow:hidden;
		text-align:center;
	}
	ul.slides {
		position:relative;
		overflow: hidden;
		padding:0;
		display:none;
		@include css3(transition, all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000));
		li {
			a {
				padding:3px 12px;
				&:hover {
					// background-color:rgba(0,0,0,0.15);
				}
			}
			&:after {
				content:'';
				padding-left:0;
			}
		}
	}

	ul#headline_ticker {
		transition:none;
		-webkit-transition:none; 
		left:340px;
		li {
			margin:0 40px 0 0;
			white-space: nowrap;
		}
	}
}
.breadcrumb_arrow {
	display:block;
	position:relative;
	top:0;
	width: 0px;
	height: 0px;
	margin:0 auto;
	border-style: solid;
	border-width: 22px 22px 0 22px;
	@include css3(transform,rotate(360deg));
}



// **********************************************************
// Listing posts style
// **********************************************************
 #posts-normal {
 	margin:0 auto;
 	padding-bottom:22px;
 }

/* Main content */
.content{
	position: static!important;
	left:auto!important;
	right:auto!important;
	min-height:100%;
	height:auto;
	line-height:178%;
	margin:0 auto;
	float:none!important;

	ol {
		li {
			margin:2px 0 2px 22px;
		}
	}
	
	blockquote {
		position:relative;
		padding:0 12px 12px 8px;
		margin:8px 5px 30px 5px;

		&:before,
		&:after {
			display:block;
			line-height: 128%;
			padding:12px 0  0 6px;
			font-size:18px;
		}
		&:before {
			margin:0 auto 0 0;
		}

		&:after {
			margin:-22px 0 0 auto;
			text-align: right;
		}

		p{
			padding:4px 6px 12px 12px;
		}
	}

	pre {
		padding:12px;
		margin-bottom:44px;
		line-height:168%;
		font-size:14px;
		max-height:500px;
	}
	address {
		padding-left:12px;
	}

	table,
	blockquote,
	dl{
		margin-bottom:$separateWidth;
	}
}


// container footer 
#container_footer {
	width:100!important;
	position:relative;
	bottom: 0;
	padding:22px 0;
}
	#content_footer {
		text-align: left;
		height:100%;
		margin:0 auto 0 auto;
		border-bottom:none;
		
		.dp_custom_text_widget {
			padding:0!important;
		}
	}

.posttitle{
	top:-10px;
	font-size:18px;
	font-weight: bold;
	line-height:1.3;
	padding:0 6px 3px 0;
	margin:0 0 10px 0;
	vertical-align:middle;
}



// **********************************************************
// Gallery Style
// **********************************************************
#gallery-style,
#gallery-style .masonry,
.post_thumb_gallery{
	width:100%;
	margin:0 auto;
}
.post_thumb_gallery {
	margin-bottom:10px;
	img {
		width:100%;
		height:auto;
	}
}
.g_item.mb {
	margin:0 10px 10px auto!important;

	header {
		h1 {
			display: inline;
			font-size:15px;
			line-height:1.4;
			margin-right:4px;
			a {
				font-weight: bold;
			}
		}
	}
}

// **********************************************************
// Post
// **********************************************************
.postmeta_title,
.postmeta_bottom,
.postmetadata_archive {
	line-height: 1;
	margin-bottom:15px;
	font:{
		size:11px;
	}
	a {
		font-size:11px;
	}
	time {
		@extend %inline_block;
	}
	span {
		margin-right:10px;
	}
	.entrylist-cat{
		margin:15px auto 30px;
	}
	.dp_time_for_reading {
		span {
			margin:0;
		}
	}
}
.postmeta_title {
	margin:0 0 15px 0;
	padding-bottom:10px;

	.first_row {
		margin-bottom:6px;
	}
}

.postmeta_bottom {
	@extend %border_top_dotted;
	@extend %border_bottom_dotted;
	padding:$separateWidth / 2 0;
}

.post, 
.post_excerpt {
	position:relative;
	display:block;
	clear:both;
	margin:0 0 22px 0;
	_zoom:1;
}
.post {
	margin-top:10px;
}
.post img{
	height:auto!important;
}


// **********************************************************
// Entry section
// **********************************************************
.entry,
.dp_text_widget,
.textwidget{
	position:relative;
	letter-spacing:0.02em;
	line-height:1.96;
	padding:0 0 24px 0;
	margin:0;

	p {
		padding:0 0 24px 0;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6{
		line-height:1.2;
		padding:8px 0 0 0;
		margin:22px 0 12px 0;
		font-weight: bold;
	}
	h2,
	h4{padding:4px 0 2px 8px;}

	h1{font-size:20px;}
	h2{font-size:18px;}
	h3{font-size:16px;}
	h4{font-size:14px;}
	h5{font-size:13px;}
	h6{font-size:12px;}

	img{
		margin:12px auto 12px 0;
		max-width: 100%;
		height:auto;
	}
	img.fl-l,
	img.alignleft,
	.wp-caption.alignleft{ 
		margin:10px 12px 12px 0;
	}
	img.fl-r,
	img.alignright,
	.wp-caption.alignright{
		margin:10px 0 12px 12px;
	}

	ul,
	ol {
		margin:0 0 0 5px;
		padding:0 0 22px 0;
	}
	/* Fix :before content */
	ul {
		list-style:none;
		margin-left:32px;
	}
	ol ol,
	ul ul {
		padding:0;
	}
	ol{
		list-style-type:decimal;
	}
	ul li,
	ol li{
		line-height:192%;
		padding:2px 0 2px 0;
	}
	ul li:before {
		top:4px;
		font-size:22px;
		margin:0 8px 0 -28px;
	}
	/* For yourbe etc */
	iframe {
		max-width:100%;
	}

    .excerpt_title,
	.excerpt_title_wid {
		display: inline;
		padding:0;
		margin:8px 8px 0 0;
		vertical-align:-webkit-baseline-middle;
		border:none!important;

		a {
			font-size:12px;
			font-weight:bold;
			text-decoration:none;
		}
	}

}

// Attatchment figure with caption
.wp-caption {
    max-width: 100%;
    margin: 12px auto 40px;
    padding: 5px;
    text-align: center;
    border-radius:3px;
    box-shadow:0 6px 24px -16px;
    @extend %common_border_1px;
    @extend %common_background_color;
    img {
        height: auto;
        margin: 0 auto 5px;
    }
    p{
        padding:0;
        margin:0;
    }
}
// Caption
.wp-caption-text {
    padding:4px 0;
    margin:0;
    font-size:13.5px;
}

#content_footer .entry {
	padding-bottom:0;
}

// Galelry 
.gallery dl,
.gallery dt,
.gallery dd{
	background-color:transparent!important;
	border:none!important;
}

// **********************************************************
// Related posts
// **********************************************************
.dp_related_posts_vertical {
	margin-bottom:22px;

	.posttitle {
		margin-bottom:0;
	}

	h4 {
		width:92%;
		font-size:12px;
		display:list-item;
		line-height:1.3;
		border:none;

		a{
			font-weight:bold;
		}
	}

	ul {
		margin:0;
		padding:0;
		list-style-type:none;
	}
	
	li{
		padding:5px 0;
		margin:0;
		line-height: 1.3;
		cursor:pointer;
	}

	&.mobile {
		li {
			@extend %entry_list_row_style_mobile;
		}
	}

	img {
		border:none;
		margin:0;
		padding:0;
	}
}

.entrylist-cat a{
	display:inline-block;
	margin-bottom:4px;
	padding:6px;
	font-size:10px;
	line-height:1;
	font-size:10px;
	white-space: nowrap;
}
.postmeta_title .entrylist-cat a,
.postmetadata .entrylist-cat a{
	font-weight: bold;
	font-size:12px;
	padding:0 8px;
	line-height: 2.2;
}


.dp_related_posts_vertical .entrylist-cat a{
	margin-right:3px;
	text-decoration:none;
}

.tagbar,
.relatedposts {
	font-weight:bold;
	margin:15px 0 0 0;
	padding:0 7px;
}

// For Simple tags related post plugin 
.st-related-posts{
	margin:5px 0 12px 8px!important;
	border:none!important;
}
.st-related-posts li{
	color:#2d2d2d!important;
}

.entry > p > a.more-link{
	display:block;
	width:80px;
	line-height:18px;
	margin:22px 0 0 auto;
	padding:6px 10px;
	text-align:center;
}


// **********************************************************
// Post meta block
// **********************************************************
.postmeta_title,
.postmetadata,
.postmetadata_archive {
	position:relative;
	font-size:10px;
	padding:10px 0 22px 0;
	margin:0;
	line-height: 1.62;
}
.postmeta_title {
	font-size:12px;
	padding:0;
	margin-bottom:22px;
}
.postmetadata {
	font-size:12px;
}
.postmetadata_archive {
	left:-2px;
	padding:0;
	margin-top:14px;
}
.postmetadata span,
.postmeta_title span,
.postmetadata_archive span,
.abs_time {
	margin-right:6px;
}
.dp_time_for_reading span{
	margin:0px;
}
.postmeta_title div,
.postmetadata div,
.postmetadata_archive div{
	margin:0 0 6px 0;
	padding:0;
}
#single-header-widget,
#single-footer-widget {
	margin-bottom:0;
}
#single-header-widget img,
#single-footer-widget img,
#content_footer img,
#ft-widget-content img {
	margin:0 auto;
	height: auto;
	max-width:100%;
}




// **********************************************************
// Trackback
// **********************************************************
div.trackback_url_area{
	margin:22px 0 22px 0;
	font-size:78.6%;
}
div.trackback_url_area div {
	background-color:#eee;
	color:#333;
	padding:0;
	overflow:hidden;
}
div.trackback_url_area input{
	width:98%;
	border:none;
	background-color:transparent;
}
input.trackback-url{
	line-height:188%;
	margin:0;
}


// **********************************************************
// Comments
// **********************************************************
#comment_section {
	margin-top:22px;
}
#respond {
	margin-top:22px;
}
.comment_hd_title,
h3#reply-title {
	font-size:18px;
	font-weight: bold;
	line-height:165%;
	padding:0;
	margin:0 0 11px 0;
}

ul#switch_comment_type {
	list-style-type:none;
	padding:0;
	margin:0;
}
ul#switch_comment_type li {
	float:left;
	width:50%;
	height:34px;
	font-size:13px;
	cursor:pointer;
	border-radius:2px 2px 0 0;
}
.inactive_tab {
	background-color:#eee;
	color:#666;
}
ul#switch_comment_type li span{
	display:block;
	height:100%;
	padding-left:12px;
	line-height:34px;
}
div.trackbacks_div {
	display:none;
}

form#commentform{
	font-size:78.6%;
	margin:11px 0 22px 0;
}
form#commentform input[type="text"],
form#commentform input[type="url"],
form#commentform input[type="email"],
form#commentform textarea {
	padding:0;
	margin:0;
	width:100%;
	background-color:transparent;
	border:none;
}
div#comment-author,
div#comment-email,
div#comment-url,
div#comment-comment{
	font-size:13px;
	padding:0 8px;
	margin-bottom:11px;
}
.comment-author{
	margin-bottom:12px;
	font-size:11px;
}
.comment-author img{
	padding:3px;
	float:left;
	background-color:#fff;
	border:1px solid #ccc;
}
img.avatar{
	margin:0 12px 6px 0!important;
}

div.comment-body p{
	position:relative;
	top:6px;
}

ol.commentlist{
	list-style-type:none;
	margin:10px 0 22px 0;
	border:none!important;

	li {
		list-style-type:none;
		ul {
			&.children {
				margin:0;
				li {
					&.comment {
						padding:10px 0;
						margin-bottom:0;
						border-right:none;
						border-left:none;
						border-bottom:none;
					}
				}
			}
		}
	}

	p {
		padding:4px 0 20px 0;
	}
}

li.comment,
li.trackback,
li.pingback{
	font-size:13px; // Fix font size 
	line-height:175%;
	padding:10px;
	margin:0 0 10px 0!important;
	border:1px solid #bababa;
}
li.comment div.reply,
li.trackback div.reply,
li.pingback div.reply{
	position:relative;
	top:0;
	text-align:right;
}
a.comment-reply-link {
	padding:4px 8px;
	text-shadow:none;
}

textarea#comment{
	width:95%;
	height:28px;
	margin-top:8px!important;
}

/* Form */
input#submit{
	width:100px;
	height:24px;
	padding:12px 0;
	margin:4px auto 12px auto;
	cursor:pointer;
	border:none;
}
.entry input[type="submit"] {
	position:relative;
	top:1px;
	font-size:14px;
	height:32px;
	padding:0 16px;
	cursor:pointer;
	border:none;
}

#commentform input[type="submit"] {
	width:100%;
	height:44px;
	padding:0;
	margin-bottom:0;
	font-size:16px;
}

// **********************************************************
// Facebook social Widget Plugins
// **********************************************************
.fb-comments,
.fb-comments span[style],
.fb-comments iframe[style],
.fb_iframe_widget:not(.fb-like),
.fb_iframe_widget[style],
.fb_iframe_widget:not(.fb-like) iframe[style],
.fb_iframe_widget:not(.fb-like) span[style] {
	overflow: hidden;
	width: 100% !important;
}
.fb_iframe_widget iframe{
	max-width:none;
}
.fb-page{
	margin-bottom:30px;
}
.fb-like{
	display:inline-block!important;
	>span{
		vertical-align:top!important;
	}
}


// **********************************************************
// Navigation
// **********************************************************
nav.navigation-mb{
	display:block;
	clear:both;
	width:100%;
	line-height: 44px;
	margin:0;
	text-align: center;
	// font-weight: bold;
	font-size: 12px;
	font-weight: bold;
	.tooltip{
        opacity:1;
    }
}
nav.navigation-mb a{
	position: relative;
	line-height: 44px;
	// font-weight:bold;
	text-align: center;
}
.navialignleft-mb,
.navialignright-mb,
.navialigncenter-mb {
	background: #efefef;
	color:#888;
}
.navialignleft-mb,
.navialigncenter-mb {
	float:left;
	width:35%;
}
.navialigncenter-mb {
	width:30%;
	background: #ddd;
	color:#222;
}
.navialigncenter-mb span {
	padding:0 2px;
}
.navialignright-mb{
	float:right;
	width: 35%;
}
nav.singlenav-mb .navialignleft-mb {
	border-right:1px solid transparent;
	margin-left:-1px;
}
nav.singlenav-mb .navialignleft-mb,
nav.singlenav-mb .navialignright-mb {
	width:50%;
}
.navialignleft-mb a,
.navialignright-mb a{
	display: block;
	font-size:18px;
}
.navialignleft-mb a {
	border-radius: 2px 0px 0px 2px; 
}
.navialignright-mb a {
	border-radius: 0px 2px 2px 0px;
}
.navialignleft-mb a:before {
	position: absolute;
	top:10px;
	left:0;
}
.navialignright-mb a:after {
	position: absolute;
	top:10px;
	right:0;
}
.nav-prev-thumb,
.nav-next-thumb {
	position:relative;
	top:4px;
	left:12px;
	margin-right:12px;
	width:50px;
	height:36px;
	float:left;
	overflow:hidden;
	img {
		width:50px;
		height:auto;
		vertical-align: baseline;
	}
}
.nav-next-thumb {
	left:auto;
	right:0;
	margin-left:0;
	float:right;
}
.nav_to_paged {
	line-height:44px;
	margin:0 auto;
	font-size:14px;
}
.nav_to_paged a {
	display:block;
	text-align:center;
}
.dp-pagenavi {
	padding:0;
	margin:0 auto;
	text-align:center;
	border:none!important;
}
.dp-pagenavi span,
.dp-pagenavi a {
	display:inline-block;
	line-height:44px;
	margin:0;
	padding:0 17px;
	font-size:13px;
	font-weight: bold;
	white-space: nowrap;
}
.dp-pagenavi a.page-numbers {
	background:#ddd;
	color:#333;
}
.wp-pagenavi,
.wp-navigation{
	text-align:center;
	padding:5px 0 5px 0;
	margin:8px 0 25px 0;
}

// ***************************************
// Read More 
// ***************************************
div.more_block{
	text-align:right;
	padding:8px 10px 8px 0;
	margin:6px 0 4px auto;
}
// For recent post widget
.more-entry-link {
	position:absolute;
	top:0;
	right:0;
	
	@extend %border_radius_all_2px;
	@extend %tagcloud_style_mobile;

	// @extend %common_bordercolor_bgcolor;
	// @extend %common_box_shadow_linkcolor_1px;
}


// ***************************************
// Auto pager
// ***************************************
#pager-loading {
	background:transparent url(../../img/misc/loading1.gif) no-repeat 50% 50%;
	background-size:100%;
	width:30px;
	height:30px;
	text-align: center;
	margin:0 auto;
	padding-bottom:22px;
}




// **********************************************************
// Portfolio
// **********************************************************
#post-table-section {
	margin:10px auto 12px auto;
	position:relative;
	overflow: hidden;
}
.hide-ex li{
	min-height:300px!important;
	max-height:300px!important;	
}

.top-tbl-title {
	font-size:16px;
	padding:0 20px;
	line-height:1.5;
}
.top-cat-desc {
	font-size:12px;
	line-height:160%;
	margin:8px 0 0 18px;
	min-height:0;
	max-height:58px;
	overflow:hidden;
}
img.hatebunumber{
	position:relative; 
	top:2px;
}

//------ Post title, excerpt... ------
.post_info_portfolio {
	position:absolute;
	top:0;
	width:100%;
	display:inline-table;
	text-align:center;
	vertical-align:middle;
	overflow:hidden;
	cursor:pointer;
	a {
		font-weight:bold;
		font-weight:normal;
		display: table-cell;
		vertical-align: middle;
		padding:5%;
	}
}

.tbl_meta {
	position:relative;
	top:0;
	font-size:10px;
	margin:0;
	padding:11px 5px;
	line-height: 2;
	font-weight: bold;
}
.tbl_meta span {
	margin-right:6px;
}
.tbl_meta a,
.tbl_meta a:hover,
.tbl_meta a:visited {
	font-weight: bold;
	text-decoration:none;
}
// ------ Thumbnail ------
.post_thumb,
.post_thumb_portfolio,
.widget-post-thumb {
	overflow:hidden;
	background-color:#f0f0f0;
	background-color:rgba(0,0,0,0.08);
	
	background-repeat:no-repeat;
	background-image:url(../../img/misc/loading3.gif);
	background-position:50% 50%;
	background-size:22px 22px;
	img {
		opacity:0;
		-webkit-transform:none;
	}
}
// Excerpt block 
.post_thumb {
	float:left;
}
// Overwright post thumbnail size 
.post_thumb_portfolio {
	margin:0;
}
.post_thumb,
.post_thumb_portfolio {
	a {
		display:block;
		height:100%;
		margin:0 auto 0 auto;
		text-align:center;
	}
	img {
		width:100%;
		margin:0;
		padding:0;
		border:none;
	}
}




// **********************************************************
// WordPress gallery style
// **********************************************************
.dp-gallery {
	margin:20px auto;
}
.dp-gallery ul{
	margin:0 auto;
	padding:0;
	text-align: center;
}
.dp-gallery ul li{
	display: inline-block;
	padding:0 22px 11px 22px;
}
.dp-gallery ul li:before{
	content:"";
}
.dp-gallery-item {
	position:relative;
	text-align:left;
}
.dp-gallery-item img{
	margin:0;
	padding:0;
	border:none;
}

p.dp-gallery-title,
p.dp-gallery-caption {
	position:absolute;
	bottom:21px;
	left:22px;
	width:138px;
	overflow:hidden;
	display:none;
	font-size:78.6%;
	line-height:132%;
	margin:0;
	padding:2px 6px 2px 6px;
	color:#fff;
	text-shadow:none;
	cursor:pointer;
}

// **********************************************************
// Widgets
// **********************************************************
.widget-box{
	position:relative;
	margin:0;
	padding:0 0 10px 0;
	font-size:13px;
	line-height:168%;

	img {
		max-width:100%;
	}
}
.widget-box a,
.ft-widget-box a{
	font-weight:bold;
}

.widget-box p{
	margin:5px 0 10px 0;
}


#ft-widget-content h1,
.widget-box h1{
	font-size:16px;
	line-height:1.6;
	padding:0 0 2px 0;
	vertical-align:bottom;
}
.widget_title_hover,
.fake-hover{
	display:block;
}
.widget-box select{margin:10px;}


#sns_buttons ul,
.sns_buttons_meta ul,
.widget-box ul,
.ft-widget-box ul{
	position:relative;
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
	overflow:hidden;
}
#sns_buttons ul,
.sns_buttons_meta ul {
	overflow: visible;
}

// Bg none 
.widget-box ul,
#ft-widget-content ul.recent_entries.thumb li{
	background:none;
}

.widget-box li,
.ft-widget-box li{
	margin:0;
	padding:10px 0;
	line-height:148%;
}
.widget-box li a,
.ft-widget-box li a{
	position:relative;
	top:0;
}

.widget-box li ul,
.ft-widget-box li ul{
	position:relative;
	right:0;
}
.widget-box li li,
.ft-widget-box li li {
	padding-left:15px;
}
.widget-box li li a,
.ft-widget-box li li a{
	font-size: 12px;
}
.widget_nav_menu,
.widget_pages,
.widget_categories{
	a {
		display:block;
	}

	li  {
		position: relative;
		padding:0!important;
		line-height:1.6!important;
		font-size:12px;

		&:before {
			content:"";
			display:none;
		}

		a {
			padding:10px 0 9px 4px!important;
			text-decoration:none!important;
			&:before {
				padding-right:6px;
			}
		}

		ul {
			li {
				a {
					&:before {
						padding-right:6px;
					}
				}
			}
		}
	}
	&.slider_fx {
		ul {
			&.children {
				display:none;
			}
		}
	}
}
// Only category widget
.widget_categories {
	li {
		// Count number
		.count {
			margin:auto 0 auto 10px;
			padding:4px 6px;
			font-size:10px;
			font-weight:bold;
			border-radius:2px;
		}
	}
}

.widget_nav_menu {
	&.slider_fx {
		ul {
			&.sub-menu {
				display:none;
			}
		}
	}
	li {
		a{
			display:block;
		}
	}
}
.dp_tab_widget{
	&.slider_fx {
		#tab_category_content {
			ul {
				&.children {
					display:none;
				}
			}
		}
	}
}

// To Vertical sub menus
span.v_sub_menu_btn {
	position: absolute;
	top:0;
	right:0;
	text-align: center;
	width:40px;
	height:40px;
	line-height: 40px;
	cursor: pointer;
	overflow:hidden;

	&:before {
		display:block;
		height:40px;
		line-height:40px;
	}
}

.widget_rss div.rssSummary,
.widget_rss cite {
	font-size:78.6%;
}

.widget_rss div.rssSummary{
	line-height:15px;
	padding:4px;
}

.widget-time{
	display:block;
	font-size:71.4%;
}

#calendar_wrap{
	width:100%;
	margin:0 auto;
}

#wp-calendar{
	font-size:12px;
	width:100%;
	margin:0 auto;
	caption {
		font-size:12px;
		margin-bottom:10px;
		text-align: center;
	}

	th,
	td{
		position:relative;
		left:-1px;
		text-align:center;
		padding:0;
		font-weight: normal;
		line-height: 30px;
		border-right:1px solid transparent;
		border-bottom:1px solid transparent;
	}
	tbody td a {
		display:block;
	}
	td#prev {
		text-align:left;
	}
	td#next {
		text-align:right;
	}
}



// **********************************************************
// Archive list
// **********************************************************
ul.recent_entries{
	margin-left:auto;
	li {
		position:relative;
		cursor:pointer;
		line-height:152%;
		min-height: 44px;
		padding:5px 0;
		margin-left:auto;
	    letter-spacing:-1em;
	    white-space:nowrap;
	    &::before{
	        display:none;
	        content:none;
	        box-shadow:none;
	    }
	    *{
	        letter-spacing:normal;
	        white-space:normal;
	    }

		time {
			display:block;
			font-size:10px;
			margin-bottom:8px;
		}
	}

	&.thumb {
		li {
			min-height:68px;
		}
	}
	&.mobile {
		li {
			@extend %entry_list_row_style_mobile;
		}
	}
}
.excerpt_div {
	position:relative;
	top:3px;
	line-height: 1.28;
	letter-spacing:0.4pt;

	time {
		display:block;
		font-size:10px;
		margin-bottom:6px;
		display:inline-block;
	}

	span {
		margin-right:4px;
	}
}
	.excerpt_title_div {
		width:92%;
	}

.widget-post-thumb {
	float:left;
	overflow: hidden;
	width:102px;
	height:65px;
	margin:0 10px 0 0;

	img {
		width:100%;
		height:auto;
	}
}
.loop-article.post_excerpt {
	margin:0;
	padding:5px 0;
	cursor:pointer;
	
	&.mobile {
		@extend %entry_list_row_style_mobile;
	}

	&.first-post {
		padding-top:10px;
	}
}
.plane-label {
	float:right;
	line-height: 1.4;
	font-size:10px;
	padding:2px 4px 0 4px;
}
.posttitle {
	a {
		text-decoration:none;
		padding:0;
	}
}

// Tag Cloud 
.tagcloud {
	position:relative;
	margin:8px 0 0 0;

	a {
		font-size:12px!important;
		@extend %tagcloud_style_mobile;
	}
}
.widget_tag_cloud {
	a {
		font-size:12px!important;
		@extend %tagcloud_style_mobile;
	}
}

ul.dp_feed_widget{
	margin:0 auto 0 auto;
	padding:0;
	text-align: center;
	font-family: Arial;
}
ul.dp_feed_widget li,
ul.dp_feed_widget li a {
	position:relative;
	top:6px;
	margin:0 2.4% 15px;
	display:inline-block;
	width:36px;
	height:36px;
	text-align:center;
	font-family: Arial;
	i{
		&:before{
			font-size:20px;
			line-height:36px;
			display:block;
		}
	}
}

#dp_fix_widget{
	max-width:300px;
	z-index:10;
}
// Tab widget 
ul.dp_tab_widget_ul li{
	display:inline-block;
	float:left;
	overflow:hidden;
	height:24px;
	padding:10px 6px 4px 6px;
	margin:0 4px 0 0;
	cursor:pointer;
	font-size:13px;
	border-radius:2px 2px 0 0;
}

.dp_tab_contents > div{
	display:none;
}

// ***************************
// Form
.widget_archive,
.widget_categories{
	select {
		width:100%;
		margin:10px 0 0 0;
		height:28px;
		line-height: 28px;
		font-size:12px;
		text-align: center;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		border-radius:0;
		cursor: pointer;
		background-color:transparent;
		border:1px solid rgba(0,0,0,0.14);
		&:hover {
			background-color:rgba(0,0,0,0.06);
		} 
	}
}


.fb-likebox iframe {
	position:relative;
	top:-1px;
}



// **********************************************************
// Footer
// **********************************************************
#footer{
	position:relative;
	top:0;
	clear:both;
	width:100%!important;
	margin:0 auto;
	padding:20px 0 0 0;
}
a#gototop-mb {
	display:block;
	position:relative;
	top:-22px;
	width: 0px;
	height: 0px;
	margin:0 auto;
	border-style: solid;
	border-width: 0 22px 22px 22px;
	-webkit-transform:rotate(360deg);
	
	&:before {
		position:relative;
		top:4px;
		right:9px;
		font-size:20px;
	}
}

a#gototop2 {
	@include position(fixed, "", 15px, 15px);
	@extend %goto_return_link;
	@extend %text_shadow_none;
	transition:none;
	font-size:20px;
	z-index: 100;
	@extend %display_none;

	&:hover {
		@extend %text_shadow_none;
	}
	&:before {
		top:0;
		@extend %goto_return_link;
	}
	// DELETE
	// background-color:$headerH1BarGradient1;
	@extend %image_hover_opacity; 

	span {
		@extend %display_none;
	}
}

#footer-bottom-mb{
	clear:both;
	text-align:right;
	font-size:11px;
	padding-bottom:5px;
}
#ft-btm-content {
	margin:0 auto;
}
#ft-widget-container{
	height:auto;
	margin:0 auto;
	padding-top:22px;
}

#ft-widget-content{
	margin:0 auto 0 auto;
	text-align:left;
	width:100%!important;
}
.ft-widget-box{
	font-size:13px;
	margin:0 0 22px 0;
}



// **********************************************************
// Google custom search
// **********************************************************
table.gsc-search-box {
	position:relative!important;
	padding:0!important;
	margin:2px 0 0 0!important;
}
table.gsc-search-box td{
	margin:0;
	padding:0;
}
.gsc-control-cse,
.gsc-control-searchbox-only {
	background-color:transparent!important;
	border:none!important;
	padding:0!important;
	margin:20px auto 15px auto!important;
	width:100%!important;
}
.gsc-control-cse td{
	border:none!important;
}
td.gsc-input {
	padding:0 4px 0 0!important;
}
div.gsc-input-box {
	padding-left:4px;
}
div.gsc-input-box table {
	margin:3px 0 0 0!important;
}
td.gsc-search-button {
	padding:0!important;
	width:25px!important;
	height:25px!important;
}
input.gsc-search-button {
	float:right;
	padding:6px!important;
	margin:0!important;
}
.gsc-webResult,
.gsc-result {
	border:none!important;
}

// **********************************************************
// Search form
// **********************************************************
#searchform{
	position:relative;
	height:34px;
	padding:5px 40px 5px 10px;
	margin:20px auto 16px auto;
	z-index:100;
	background: #fff;
}

input#s{
	padding:0;
	line-height:2;
	width: 100%;
	border:none;
	font-size:16px;
	background-color:transparent;
	color:#666;
}
input#searchsubmit{
	display: block;
	position: absolute;	
	top:5px;
	right:5px;
	padding:0;
	margin: 0;
	width:34px;
	height:34px;
	font-size:18px;
	color:#666;
	background:none;
	border: none;
	cursor:pointer;
}
#found-title {
	position:relative;
	top:4px;
	text-align: center;
}
#found-title span{
	font-size:13px;
	line-height: 1.5;
	padding:4px 10px 3px 10px;
}

.ooops{
	margin:0;
	font-size:150px;
	height:220px;
	width:100%;
	text-align:center;
}





// **********************************************************
// Misc...
// **********************************************************
img.bd {
	box-sizing:border-box;
}

// Text shadow none 
#mb_header_menu_list a,
#mb_footer_menu_list a,
.tbl_meta,
.post_info_portfolio,
a.show-this-rss,
.entrylist-cat a,
.post_info_portfolio a,
.posttitle a:hover,
.entry h1 a:hover,
.entry h2 a:hover,
.entry h3 a:hover,
.entry h4 a:hover,
.entry h5 a:hover,
.entry h6 a:hover,
.nav_to_paged a,
nav.navigation-mb a,
.meta_sns a,
.meta_sns a:hover,
.abs_time,
ul.dp_tab_widget_ul li,
nav.single-nav a,
span.current,
div.tagcloud a,
a.more-link,
a.more-link:hover,
#content_footer a,
.wp-pagenavi a,
ul#switch_comment_type li,
a.comment-reply-link,
nav.single-nav a,
.widget-box h1 > a,
#footer-bottom-mb a {
	text-shadow:none!important;
	text-decoration:none!important;
}

a,
.dp_related_posts_vertical ul li,
.post a,
.post a img,
.post_thumb,
.post_thumb_portfolio,
.post_thumb_gallery,
.post_excerpt,
.dp-gallery-icon a img,
.entry input[type="submit"],
input#submit,
ul#switch_comment_type li
#ft-widget-content a,
#ft-widget-content li{
	-webkit-transition:all 0.24s ease;
	-moz-transition:all 0.24s ease;
	-ms-transition:all 0.24s ease;
	-o-transition:all 0.24s ease;
    transition:all  0.24s ease;
}
/* Alpha */
section#site_banner_bottom,
.entry a:hover img,
.post_thumb:hover,
.post_thumb_gallery:hover,
.post_thumb_portfolio:hover,
.recent_entries.thumb a:hover img,
.dp-gallery-item a:hover img{
	filter: brightness(65%);
	-moz-filter: brightness(65%);
	-o-filter: brightness(65%);
	-ms-filter: brightness(65%);
	-webkit-filter: brightness(65%);
	// For Retina
	@extend %translateZ0;
}
.dp-widget-content a:hover img{
	filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none;
	-webkit-filter: none;
}

// display none
#mb_header_menu_arrow span,
.breadcrumb_arrow span,
a.show-this-rss span,
.post_tbl_div,
.meta_sns span,
.dp_feed_widget span,
.assistive-text,
.screen-reader-text,
.dp-slide,
#mb_header_menu_list .menu-caption,
#mb_footer_menu_list .menu-caption,
.ooops span,
#gototop-mb span{
	display:none;
}

#mb_header_menu_list ul,
#mb_footer_menu_list ul,
#container,
.entrylist-cat a,
div.tagcloud a,
nav.single-nav a,
.nav_to_paged a,
.entry > p > a.more-link,
li.comment,
li.trackback,
li.pingback,
a.comment-reply-link,
#comment-author,
#comment-email,
#comment-comment,
#comment-url,
div.trackback_url_area div,
.entry input[type="submit"],
.wp-caption,
#searchform,
input#submit,
input#s:focus,
.gsc-input-box,
.post_thumb,
.g_item,
.dp-gallery-item img,
.plane-label,
#container blockquote,
#container q,
#container pre,
#container code,
#found-title span,
.tooltip-msg,
a#gototop-mb span {
	@include border_radius(2px);
}

// Inner centering
#mb_header_menu_list,
#mb_footer_menu_list,
div#header_container_paged,
.content,
#content_footer,
.dp-gallery-item,
#ft-btm-content,
#ft-widget-container {
	width:auto!important;
	padding:0 10px;
}

ul.menu {
	margin:0;
}


// SNS buttons layout
.sns_buttons_meta {
	text-align:center;
	padding:6px 0 4px 0;
	ul {
		@extend %widget_ul_style;
		overflow: visible;
		margin:0 auto;
	}

	li {
		@extend %inline_block;
		vertical-align: top;
		position:relative;
		margin:15px auto;
		padding:0 8px 0 0;
		max-width:90px;
		max-height:68px;

		span {
			margin-right:0;
		}
		img,
		>a{
			vertical-align:top!important;
		}

		&.sns_btn_google {
		}
		&.sns_btn_pinterest,
		&.sns_btn_facebook{
			max-width:110px;
		}
		&.sns_btn_pinterest{
			>span{
				>span{
					background-color:#fff!important;
					color:#666!important;
					font-size:12px!important;
					border:1px solid #c0c0c0;
					box-sizing:border-box;
					&:before,
					&:after{
						border-width:4px!important;
						border-style:solid;
						border-color:transparent;
					}
					&:after{
						position:absolute;
						content:"";
					}
				}
			}
		}
		&.sns_btn_twitter {
			min-width:72px;
		}
		&.sns_btn_pocket {
			top:2px;
			.pocket-btn {
				margin-bottom:0;
			}
		}
		&.sns_btn_mixi {
			top:3px;
		}
		&.sns_btn_tumblr {
			a {
				@extend %inline_block;
				overflow:hidden;
				width:81px; 
				height:20px; 
				background:url('https://platform.tumblr.com/v1/share_2.png') top left no-repeat transparent;
			}
			span {
				display: none;
			}
		}
	}
	&.bottom {
		margin:$separateWidth / 2 auto 0 auto;
		background-color:rgba(0,0,0,0.1);

		li {
			padding:0 0 0 8px;
		}
	}

	// Fix
	.btn_box{
		li{
			&.sns_btn_pinterest{
				>a{
					margin-top:36px!important;
				}
				>span{
					margin-top:40px!important;
					>span{
						height:34px!important;
						line-height:34px!important;
						margin-top:-4px;
						&:before,
						&:after{
							left:50%!important;
							margin-left:-4px;
						}
						&:before{
							bottom:-8px!important;
							border-top-color:#c0c0c0!important;
						}
						&:after{
							bottom:-7px;
							border-top-color:#fff;
						}
					}
				}
			}
		}
	}
	.btn_normal {
		li {
			&.sns_btn_pinterest{

				>span{
					>span{
						&:before,
						&:after{
							top:50%!important;
							margin-top:-4px;
						}
						&:before{
							left:-8px!important;
							border-right-color:#c0c0c0!important;
						}
						&:after{
							left:-7px;
							border-right-color:#fff;
						}
					}
				}
			}
		}
	}
}
	// **********************************
	// feedly subscriber count box
	// **********************************
	a.feedly_button {
		display:block;
		color: #777777;
		text-align: center;
		text-decoration: none;
		&:hover {
			color: #333333;
			text-decoration: none;
		}
		&:visited {
			color: #777777;
		}
	}
	.arrow_box_feedly {
		position: relative;
		background: none repeat scroll 0 0 #ffffff;
		border: 1px solid #bbbbbb;
		border-radius: 3px 3px 3px 3px;
		height: 35px;
		width: 100%;
		margin-bottom: 6px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;

		&:before,
		&:after {
			position: absolute;
			top: 100%;
			left: 50%;
			border: medium solid transparent;
			content: " ";
			height: 0;
			pointer-events: none;
			width: 0;
		}
		&:after {
			border-color: #ffffff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
			border-width: 4px;
			margin-left: -4px;
		}
		&:before {
			border-color: #999999 rgba(204, 204, 204, 0) rgba(204, 204, 204, 0);
			border-width: 5px;
			margin-left: -5px;
		}
		img {
			margin: 0;
			border: none;
		}
		span {
			display:block;
			width:100%;
			font-size:14px;
			line-height: 35px;
			overflow:hidden;
		}

		&.feedly_standard {
			height:20px;
			width:auto;
			margin:0 auto auto 6px;
			float:right;
			
			&:after,
			&:before {
				left:0;
			}
			&:before {
				border-color: rgba(204,204,204,0) #999999 rgba(204,204,204,0) rgba(204,204,204,0);
				border-width: 4px;
				margin: -13px auto auto -8px;
			}

			&:after {
				border-color: rgba(255, 255, 255, 0) #ffffff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
				border-width: 3px;
				margin: -12px auto auto -6px;
			}

			span {
				width:auto;
				font-size:11px;
				line-height: 20px;
				padding:0 4px;
			}
		}
	}


// SNS share number
img.hatebunumber {
	margin:0 8px 0 0;
	vertical-align: text-bottom;
}

// ***********************************
// SNS share number
// ***********************************
.loop-share-num {
	position: relative;
	letter-spacing: 0.06em;
	text-shadow:none!important;
	font-family: Arial;
	@extend %inline_block;

	&.in-blk {
		margin-top: 8px;
		@extend %inline_block;
	}

	div {
		position:relative;
		display: inline;
		padding:2px 4px;
		line-height:1.2;
		font-size:11px;
		&:before {
			font-size:12px;
		}
		
		// color:$linkColor;
		// background-color:rgba($linkColor,0.14);
		border-bottom:1px solid;
		// @extend %common_bordercolor_linkcolor;

		// default
		background-color:rgba(128,128,128,0.14);
	}
	.share-num {
		margin:0;
	}
}
.widget-views {
	display: inline-block;
	font-size:11px;
	padding:0 4px;
	line-height: 15px;
	vertical-align: bottom;
}
div.bg-hatebu{
	background-color:#dbf5ff;
	color:#00A5DE;
	border-color:#00A5DE;
}
div.bg-tweets{
	background-color:#daf2fe;
	color:#087fc4;
	border-color:#087fc4;
}
div.bg-likes{
	background-color:#dbe4fd;
	color:#0c37ac;
	border-color:#0c37ac;
}

/******************************************************
 Embeded iframe video
******************************************************/
.emb_video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.emb_video iframe {
	position:absolute;
	top:0;
	left:0;
	max-width:100%;
	max-height:100%;
}

// Contact form 7
.wpcf7-form {
	.wpcf7-form-control-wrap {
		display: block;
		text-align:center;
		margin:0 auto 10px auto;
	}
	.wpcf7-list-item {
		display:block;
		margin:6px auto 10px 0;
		text-align:left;
	}
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="tel"],
	input[type="submit"],
	textarea {
		display:block;
		width:100%;
		margin:0 auto;
		padding:10px 6px;
	}
	input.wpcf7-submit {
		height:40px;
		font-size:14px;
	}
}


// **********************************************************
// Shortcodes
// **********************************************************
div.phg-af-box,
div.ls-af-box {
	img {
		@extend %border_none;
	}
}

/**
 * Google Map adjustment
 */
div.gm-style{
    img{
        margin:auto;
        max-width:none;
    }
}


// **********************************************************
// Ranking Label
// **********************************************************
.rank_label {
	position: absolute;
	display: block;
	font-weight:normal;
	line-height: 1;
	text-shadow: none;
	&.thumb {
		top:5px;
		left:5px;
		padding-top:3px;
		// color:#fff;
		font-size:11px;
		z-index: 10;

		&:before {
			position:absolute;
			top:0;
			left:-5px;
			content:"";
			width: 0;
			height: 0;
			z-index:-1;
			border-style: solid;
			border-width: 30px 30px 0 0;
			// border-color: rgba(64,183,229,0.8) transparent transparent transparent;
		}
	}
	&.no-thumb {
		top:20%;
		right:4px;
		height:100%;
		font-size:34px;
		font-weight:bold;
		font-style:italic;
		// color:rgba(0,0,0,0.14);
		z-index:0;
	}
}