@mixin flipInY($prefix) {
	0.00% {
		@include transform(perspective(400px) rotateY(90deg), $prefix);
		opacity: 0;
	}
	40% {
		@include transform(perspective(400px) rotateY(-10deg), $prefix);
	}
	70% {
		@include transform(perspective(400px) rotateY(10deg), $prefix);
	}
	100% {
		@include transform(perspective(400px) rotateY(0deg), $prefix);
		opacity: 1;
	}
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes flipInY { @include flipInY(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes flipInY { @include flipInY(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes flipInY { @include flipInY(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes flipInY { @include flipInY(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes flipInY { @include flipInY(o); }
}
@keyframes flipInY { @include flipInY(none); }

.flipInY {
  @include animation-name(flipInY);
  @include backface-visibility(visible !important);
}