@mixin fadeInRight($prefix) {
  0.00% {
    opacity: 0;
    @include transform(translateX(20px), $prefix);
  }
  100% {
    opacity: 1;
    @include transform(translateX(0), $prefix);
  }
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes fadeInRight { @include fadeInRight(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes fadeInRight { @include fadeInRight(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes fadeInRight { @include fadeInRight(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes fadeInRight { @include fadeInRight(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes fadeInRight { @include fadeInRight(o); }
}
@keyframes fadeInRight { @include fadeInRight(none); }

.fadeInRight {
  @include animation-name(fadeInRight);
}