@mixin fadeInDownBig($prefix) {
  0.00% {
    opacity: 0;
    @include transform(translateY(-2000px), $prefix);
  }
  100% {
    opacity: 1;
    @include transform(translateY(0), $prefix);
  }
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes fadeInDownBig { @include fadeInDownBig(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes fadeInDownBig { @include fadeInDownBig(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes fadeInDownBig { @include fadeInDownBig(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes fadeInDownBig { @include fadeInDownBig(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes fadeInDownBig { @include fadeInDownBig(o); }
}
@keyframes fadeInDownBig { @include fadeInDownBig(none); }

.fadeInDownBig {
  @include animation-name(fadeInDownBig);
}