@mixin fadeInLeftBig($prefix) {
  0.00% {
    opacity: 0;
    @include transform(translateX(-2000px), $prefix);
  }
  100% {
    opacity: 1;
    @include transform(translateX(0), $prefix);
  }
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes fadeInLeftBig { @include fadeInLeftBig(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes fadeInLeftBig { @include fadeInLeftBig(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes fadeInLeftBig { @include fadeInLeftBig(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes fadeInLeftBig { @include fadeInLeftBig(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes fadeInLeftBig { @include fadeInLeftBig(o); }
}
@keyframes fadeInLeftBig { @include fadeInLeftBig(none); }

.fadeInLeftBig {
  @include animation-name(fadeInLeftBig);
}