@mixin fadeInUp($prefix) {
  0.00% {
    opacity: 0;
    @include transform(translateY(20px), $prefix);
  }
  100% {
    opacity: 1;
    @include transform(translateY(0), $prefix);
  }
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes fadeInUp { @include fadeInUp(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes fadeInUp { @include fadeInUp(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes fadeInUp { @include fadeInUp(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes fadeInUp { @include fadeInUp(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes fadeInUp { @include fadeInUp(o); }
}
@keyframes fadeInUp { @include fadeInUp(none); }

.fadeInUp {
  @include animation-name(fadeInUp);
}