// Create font-face
@include font-face(
	$fontNameIcon,
	font-files(
		"#{$fontFileNameIcon}.woff",
		"#{$fontFileNameIcon}.ttf"
	),
	normal,
	normal
);

// For Windows Chrome Anti-Alias
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@include font-face(
		$fontNameIcon,
		font-files("#{$fontFileNameIcon}.svg")
	);
}


// Icons
[class^="icon-"]:before, 
[class*=" icon-"]:before,
.dp_breadcrumb ul li:after,
.post_excerpt.mobile:after,
.dp_related_posts_vertical.mobile li:after,
blockquote:before,
blockquote:after,
.entry ul li:before,
.widget_nav_menu li ul li a:before,
.widget_pages li ul li a:before,
.widget_categories li ul li a:before,
.widget_mycategoryorder li ul li a:before,
.comment-reply-link:before,
.navialignright span:after,
.navialignleft span:before,
ul#top_menu_mobile li a:before, 
ul#footer_menu_mobile li a:before,
input#searchsubmit{
	position:relative;
	font-family: $fontNameIcon;
	font-style: normal;
	font-weight: normal;
	// you can be more comfortable with increased icons size
	font-size: $fontScaleIcon;
	speak: none;
	text-decoration: inherit;
	font-variant: normal;
	text-transform: none;
	vertical-align: text-bottom;
	margin-right:0.15em;
	margin-left:0.15em;
	// width: 1em;
	// vertical-align: sub;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-feedly:before {
	content: "\e600";
}

.icon-cloud-upload:before {
	content: "\e602";
}
.icon-cloud-download:before {
	content: "\e603";
}
.icon-mail:before {
	content: "\e6c2";
}
.icon-mail-alt:before {
	content: "\e604";
}
.icon-edit:before {
	content: "\e605";
}
.icon-resize-exit-alt::before {
	content: "\e606";
}
.icon-resize-full-alt::before {
	content: "\e607";
}
.icon-headphones:before {
	content: "\e608";
}
.icon-phone:before {
	content: "\e609";
}
.icon-open:before {
	content: "\e60a";
}
.icon-sale:before {
	content: "\e60b";
}
.icon-diamond:before {
	content: "\e60c";
}
.icon-tablet:before {
	content: "\e60d";
}
.icon-music:before {
	content: "\e60e";
}
.icon-picture:before {
	content: "\e60f";
}
.icon-pictures:before {
	content: "\e610";
}
.icon-th:before {
	content: "\e611";
}
.icon-space-invaders:before {
	content: "\e61d";
}
.icon-menu:before {
	content: "\e61e";
}
.icon-retweet:before {
	content: "\e61f";
}
.icon-chart:before {
	content: "\e67b";
}
.icon-phone2:before {
	content: "\e67c";
}
.icon-gmail:before {
	content: "\e612";
}
.icon-skype:before {
	content: "\e613";
}
.icon-pocket:before {
	content: "\e614";
}
.icon-up-bold:before {
	content: "\e615";
}
.icon-right-bold:before {
	content: "\e616";
}
.icon-down-bold:before {
	content: "\e617";
}
.icon-left-bold:before {
	content: "\e618";
}
.icon-ok:before {
	content: "\e619";
}
.icon-home:before {
	content: "\e61a";
}
.icon-chrome:before {
	content: "\e61b";
}
.icon-safari:before {
	content: "\e61c";
}
.icon-opera:before {
	content: "\e620";
}
.icon-ie:before {
	content: "\e621";
}
.icon-firefox:before {
	content: "\e622";
}
.icon-link:before {
	content: "\e623";
}
.icon-new-tab:before {
	content: "\e624";
}
.icon-gplus:before {
	content: "\e625";
}
.icon-gplus-squared:before {
	content: "\e626";
}
.icon-facebook-rect:before {
	content: "\e627";
}
.icon-facebook:before {
	content: "\e628";
}
.icon-twitter:before {
	content: "\e629";
}
.icon-twitter-rect:before {
	content: "\e62a";
}
.icon-flickr:before {
	content: "\e62b";
}
.icon-pinterest:before {
	content: "\e6e3";
}
.icon-pinterest-circled:before {
	content: "\e6e1";
}
.icon-pinterest-rect:before {
	content: "\e62c";
}
.icon-rss:before {
	content: "\e62d";
}
.icon-vimeo:before {
	content: "\e62e";
}
.icon-cupcake:before {
	content: "\e62f";
}
.icon-raceflag:before {
	content: "\e630";
}
.icon-speaker:before {
	content: "\e631";
}
.icon-th-large:before {
	content: "\e632";
}
.icon-lock:before {
	content: "\e633";
}
.icon-unlock:before {
	content: "\e634";
}
.icon-alarm:before {
	content: "\e635";
}
.icon-clock:before {
	content: "\e636";
}
.icon-coffee:before {
	content: "\e637";
}
.icon-building:before {
	content: "\e638";
}
.icon-metro:before {
	content: "\e639";
}
.icon-automobile:before {
	content: "\e63a";
}
.icon-bus:before {
	content: "\e63b";
}
.icon-shipping:before {
	content: "\e63c";
}
.icon-warmedal:before {
	content: "\e63d";
}
.icon-crown:before {
	content: "\e63e";
}
.icon-doc:before {
	content: "\e63f";
}
.icon-docs:before {
	content: "\e640";
}
.icon-resize-full:before {
	content: "\e641";
}

.icon-download:before {
	content: "\e643";
}
.icon-upload:before {
	content: "\e644";
}
.icon-plus:before {
	content: "\e645";
}
.icon-minus:before {
	content: "\e646";
}
.icon-evernote:before {
	content: "\e647";
}
.icon-martini:before {
	content: "\e648";
}
.icon-trophy:before {
	content: "\e649";
}
.icon-podium:before {
	content: "\e64a";
}
.icon-google:before {
	content: "\e64b";
}
.icon-popup:before {
	content: "\e64c";
}
.comment-reply-link:before,
.icon-pencil:before {
	content: "\e64d";
}
.icon-blocked:before {
	content: "\e64e";
}
.icon-checkbox-checked:before {
	content: "\e64f";
}
blockquote:after,
.icon-quote-right:before {
	content: "\e650";
}
blockquote:before,
.icon-quote-left:before {
	content: "\e651";
}
.icon-cmd:before {
	content: "\e652";
}
.icon-terminal:before {
	content: "\e653";
}
.icon-finder:before {
	content: "\e654";
}
.icon-bookmark:before {
	content: "\e655";
}
.icon-star:before {
	content: "\e656";
}
.icon-star-half:before {
	content: "\e657";
}
.icon-star-empty:before {
	content: "\e658";
}
.icon-yahoo:before {
	content: "\e659";
}
.icon-eye:before {
	content: "\e65a";
}
.icon-wordpress:before {
	content: "\e65b";
}
.icon-podcast:before {
	content: "\e65c";
}
.icon-connection:before {
	content: "\e65d";
}
.icon-volume-up:before {
	content: "\e65e";
}
.icon-volume-off:before {
	content: "\e65f";
}
.icon-404:before {
	content: "\e660";
}
.icon-paypal:before {
	content: "\e661";
}
.icon-visa:before {
	content: "\e6c8";
}
.icon-mastercard:before {
	content: "\e6c9";
}
.icon-mobile:before {
	content: "\e662";
}
.icon-desktop:before {
	content: "\e663";
}
.icon-login:before {
	content: "\e664";
}
.icon-logout:before {
	content: "\e665";
}
.icon-food:before {
	content: "\e666";
}
.icon-facebook-circled:before {
	content: "\e667";
}
.icon-twitter-circled:before {
	content: "\e668";
}
.icon-rss-rect:before {
	content: "\e669";
}
.icon-rss-circled:before {
	content: "\e66a";
}
.icon-tumblr:before {
	content: "\e66b";
}
.icon-gift:before {
	content: "\e66c";
}
.icon-movie:before {
	content: "\e66d";
}
.icon-attach:before {
	content: "\e66e";
}
.icon-videocam:before {
	content: "\e66f";
}
.icon-list:before {
	content: "\e670";
}
.icon-equalizer:before {
	content: "\e671";
}
.icon-gplus-circled:before {
	content: "\e672";
}
.icon-ok-circled:before {
	content: "\e601";
}
.icon-left-circled:before {
	content: "\e673";
}
.icon-right-circled:before {
	content: "\e674";
}
.icon-up-circled:before {
	content: "\e675";
}
.icon-down-circled:before {
	content: "\e676";
}
.icon-video-play:before {
	content: "\e67d";
}
.icon-youtube-rect:before {
	content: "\e6e2";
}
.icon-youtube:before {
	content: "\e67e";
}
.icon-calendar:before {
	content: "\e67f";
}
input#searchsubmit,
.icon-search:before {
	content: "\e680";
}
.icon-cross-circled:before {
	content: "\e681";
}
.icon-minus-ciecled:before {
	content: "\e682";
}
.icon-plus-circled:before {
	content: "\e683";
}
.icon-appstore:before,
.icon-apple:before {
	content: "\e684";
}
.icon-windows:before {
	content: "\e685";
}
.icon-android:before {
	content: "\e686";
}
.icon-linux:before {
	content: "\e687";
}
.icon-tag:before {
	content: "\e688";
}
.icon-tags:before {
	content: "\e689";
}
.icon-comment:before {
	content: "\e68a";
}
.icon-comments:before {
	content: "\e68b";
}
.icon-user:before {
	content: "\e68c";
}
.icon-users:before {
	content: "\e68d";
}
.icon-folder:before {
	content: "\e68e";
}
.icon-folder-open:before {
	content: "\e68f";
}
.icon-folder-alt:before {
	content: "\e690";
}
.icon-folder-open-alt:before {
	content: "\e691";
}
.icon-comment-alt:before {
	content: "\e692";
}
.icon-dropbox:before {
	content: "\e694";
}
.icon-heart-empty:before {
	content: "\e695";
}
.icon-heart:before {
	content: "\e696";
}
.icon-thumbs-down:before {
	content: "\e697";
}
.icon-thumbs-up:before {
	content: "\e698";
}
.icon-right-hand:before {
	content: "\e699";
}
.icon-left-hand:before {
	content: "\e69a";
}
.icon-up-hand:before {
	content: "\e69b";
}
.icon-down-hand:before {
	content: "\e69c";
}
.icon-cog:before {
	content: "\e69d";
}
.icon-print:before {
	content: "\e69e";
}
.icon-plane:before {
	content: "\e69f";
}
.icon-zoom-in:before {
	content: "\e6a0";
}
.icon-zoom-out:before {
	content: "\e6a1";
}
.icon-laptop:before {
	content: "\e6a2";
}
.icon-globe:before {
	content: "\e6a3";
}
.nivo-prevNav:before,
.icon-angle-circled-left:before {
	content: "\e677";
}
.nivo-nextNav:before,
.icon-angle-circled-right:before {
	content: "\e678";
}
.icon-angle-circled-up:before {
	content: "\e679";
}
.icon-angle-circled-down:before {
	content: "\e67a";
}
.icon-angle-left:before {
	content: "\e6a7";
}
.widget_pages li ul li a:before,
.widget_nav_menu li ul li a:before,
.widget_categories li ul li a:before,
.widget_mycategoryorder li ul li a:before,
.dp_breadcrumb ul li:after,
ul#top_menu_mobile li a:before, 
ul#footer_menu_mobile li a:before,
.icon-angle-right:before {
	content: "\e6a8";
}
.icon-angle-up:before {
	content: "\e6a9";
}
.icon-angle-down:before {
	content: "\e6aa";
}
.icon-double-angle-left:before {
	content: "\e6be";
}
.icon-double-angle-right:before {
	content: "\e6bf";
}
.icon-double-angle-up:before {
	content: "\e6c0";
}
.icon-double-angle-down:before {
	content: "\e6c1";
}
.navialignleft span:before,
.icon-left-open:before {
	content: "\e6a4";
}
.icon-down-open:before {
	content: "\e6a5";
}
.icon-up-open:before {
	content: "\e6a6";
}
.icon-info:before {
	content: "\e6ab";
}
.entry ul li:before,
.icon-triangle-right:before {
	content: "\e6ac";
}
.icon-triangle-up:before {
	content: "\e6ad";
}
.icon-triangle-down:before {
	content: "\e6ae";
}
.icon-triangle-left:before {
	content: "\e6af";
}
.icon-leaf:before {
	content: "\e6b0";
}
.icon-bookmark-narrow:before {
	content: "\e6b1";
}
.icon-bag:before {
	content: "\e6b2";
}
.icon-info-circled:before {
	content: "\e6b3";
}
.icon-attention:before {
	content: "\e6b4";
}
.icon-help-circled:before {
	content: "\e6b5";
}
.icon-help:before {
	content: "\e6b6";
}
.icon-ccw:before {
	content: "\e6b7";
}
.icon-cw:before {
	content: "\e6b8";
}
.navialignright span:after,
.post_excerpt.mobile:after,
.dp_related_posts_vertical.mobile li:after,
.icon-right-open:before {
	content: "\e6b9";
}
.icon-starburst:before {
	content: "\e6ba";
}
.icon-written-doc:before {
	content: "\e6bb";
}
.icon-camera:before {
	content: "\e6bc";
}
.icon-basket:before {
	content: "\e6bd";
}
.icon-torigate:before {
	content: "\e6c3";
}
.icon-christmastree:before {
	content: "\e6c4";
}
.icon-email:before {
	content: "\e6c5";
}
.icon-safe:before {
	content: "\e6ca";
}
.icon-dollar:before {
	content: "\e6cb";
}
.icon-dollar2:before {
	content: "\e6cc";
}
.icon-basket2:before {
	content: "\e6cd";
}
.icon-credit:before {
	content: "\e6ce";
}
.icon-ambulance:before {
	content: "\e6d0";
}
.icon-cogs:before {
	content: "\e6cf";
}
.icon-hospital:before {
	content: "\e6d1";
}
.icon-arrow-left-pop:before {
	content: "\e6d3";
}
.icon-arrow-right-pop:before {
	content: "\e6d4";
}
.icon-arrow-up-pop:before {
	content: "\e6d5";
}
.icon-arrow-down-pop:before {
	content: "\e6d6";
}
.icon-code:before {
	content: "\e6d2";
}
.icon-palette:before {
	content: "\e6dd";
}
.icon-trash-empty:before {
	content: "\e6de";
}
.icon-trash-full:before {
	content: "\e6df";
}
.icon-dot:before {
	content: "\e6dc";
}
.icon-left-light:before {
	content: "\e6d7";
}
.icon-right-light:before {
	content: "\e6d8";
}
.icon-up-light:before {
	content: "\e6d9";	
}
.icon-down-light:before {
	content: "\e6da";
}
.icon-spaced-menu:before {
	content: "\e6db";
}
.icon-instagram:before {
	content: "\e6e0";
}
.icon-triangle-up-down:before {
	content: "\e6f5";
}
.icon-baby:before {
	content: "\e6e4";
}
.icon-finger-sldie-lr:before {
	content: "\e6e5";
}
.icon-finger-slide-up:before {
	content: "\e6e6";
}
.icon-finger-slide-down:before {
	content: "\e6e7";
}


.icon-finger-tap:before {
	content: "\e6ea";
}
.icon-finger-pinch-out:before {
	content: "\e6eb";
}
.icon-finger-pinch-in:before {
	content: "\e6ec";
}
.icon-finger-point:before {
	content: "\e6f1";
}
.icon-book-open:before {
	content: "\e6ed";
}
.icon-man:before {
	content: "\e6ee";
}
.icon-woman:before {
	content: "\e6ef";
}
.icon-database:before {
	content: "\e6f0";
}
.icon-keyboard:before {
	content: "\e6f3";
}
.icon-powercord:before {
	content: "\e6f4";
}
.icon-beer:before {
	content: "\e6f7";
}
.icon-amazon:before {
	content: "\e6f8";
}
.icon-game-pad:before {
	content: "\e6f9";
}
.icon-hatebu:before {
	content: "\e6f6";
}
.icon-piano:before {
	content: "\e6fb";
}
.icon-ticket:before {
	content: "\e6fc";
}
.icon-play:before {
	content: "\e6fd";
}
.icon-pause:before {
	content: "\e6fe";
}
.icon-stop:before {
	content: "\e6ff";
}
.icon-backward:before {
	content: "\e700";
}
.icon-forward:before {
	content: "\e701";
}
.icon-first:before {
	content: "\e702";
}
.icon-last:before {
	content: "\e703";
}
.icon-previous:before {
	content: "\e704";
}
.icon-next:before {
	content: "\e705";
}
.icon-spinner:before {
	content: "\e706";
}
.icon-spinner2:before {
	content: "\e707";
}
.icon-spinner3:before {
	content: "\e708";
}
.icon-spinner4:before {
	content: "\e709";
}
.icon-spinner5:before {
	content: "\e70a";
}
.icon-spinner6:before {
	content: "\e70b";
}
.icon-spinner7:before {
	content: "\e70c";
}
.icon-spinner8:before {
	content: "\e70d";
}
.icon-spinner9:before {
	content: "\e70e";
}
.icon-spinner10:before {
	content: "\e70f";
}
.icon-creativecommons:before {
	content: "\e711";
}
.icon-spam:before {
	content: "\e710";
}
.icon-microphone:before {
	content: "\e712";
}
.icon-microphone-off:before {
	content: "\e713";
}
.icon-microphone2:before {
	content: "\e717";
}
.icon-box2:before {
	content: "\e714";
}
.icon-box-opened:before {
	content: "\e715";
}
.icon-box:before {
	content: "\e716";
}
.icon-zip:before {
	content: "\e718";
}
.icon-book:before {
	content: "\e91f";
}
.icon-minus2:before {
	content: "\e719";
}
.icon-plus2:before {
	content: "\e71a";
}
.icon-cross:before {
	content: "\e71b";
}
.icon-cake:before {
	content: "\e243";
}
.icon-update:before {
	content: "\ea2e";
}
.icon-html5:before {
	content: "\e71c";
}
.icon-css3:before {
	content: "\e71d";
}
.icon-yen:before {
	content: "\e900";
}
.icon-coin-yen:before {
	content: "\e901";
}
.icon-new1:before {
    content: "\e905";
}
.icon-new2:before {
    content: "\e902";
}
.icon-new3:before {
    content: "\e904";
}
.icon-new4:before {
    content: "\e903";
}
.icon-google-drive:before {
    content: "\eeee";
}
.icon-dot-menu:before {
    content: "\ec6a";
}
.icon-dot-menu2:before {
    content: "\ec5c";
}
.icon-location:before {
    content: "\ea38";
}
.icon-location2:before {
    content: "\ea39";
}
.icon-cube3:before {
    content: "\ec1a";
}
.icon-cube4:before {
    content: "\ec1b";
}
.icon-code2:before {
    content: "\eed1";
}
.icon-onedrive:before {
    content: "\ef0e";
}
.icon-soundcloud:before {
    content: "\ef22";
}
.icon-soundcloud2:before {
    content: "\ef23";
}
.icon-sun:before {
    content: "\e908";
}
.icon-sun2:before {
    content: "\e909";
}
.icon-moon:before {
    content: "\e906";
}
.icon-moon2:before {
    content: "\e907";
}
.icon-share:before {
  content: "\e25a";
}
.icon-bed:before {
  content: "\ecdd";
}
.icon-sofa:before {
  content: "\ecde";
}
.icon-diving-goggle:before {
  content: "\e90a";
}
.icon-sports-shoe:before {
  content: "\e90b";
}
.icon-sports-shoe2:before {
  content: "\e90c";
}
.icon-display:before {
  content: "\ea75";
}
.icon-t-shirt::before {
  content: "\e90d";
}
.icon-edge::before {
  content: "\ef3b";
}
.icon-wakaba-mark::before {
  content: "\e910";
}
.icon-bicycle::before {
  content: "\e1d3";
}
.icon-ferry::before {
  content: "\e1cc";
}
.icon-train::before {
  content: "\e1ce";
}
.icon-walk::before {
  content: "\e1d0";
}
.icon-rest::before {
  content: "\e1d2";
}
.icon-window::before {
  content: "\e918";
}
.icon-disc::before {
  content: "\ea8f";
}
.icon-key-a::before {
  content: "\ee5d";
}
.icon-one-finger-swipe-left::before {
  content: "\e912";
}
.icon-one-finger-swipe-right::before {
  content: "\e913";
}
.icon-one-finger-swipe-up::before {
  content: "\e914";
}
.icon-one-finger-swipe-down::before {
  content: "\e915";
}
.icon-yen2::before {
  content: "\e761";
}
.icon-lamp::before {
  content: "\e7bc";
}
.icon-store::before {
  content: "\e9fd";
}
.icon-line::before {
  content: "\e90e";
}
.icon-line-spacing::before {
  content: "\e9ac";
}
.icon-sort-asc::before {
  content: "\ee50";
}
.icon-sort-desc::before {
  content: "\ee51";
}
.icon-hammer-wrench::before {
  content: "\e693";
}
.icon-hammer-wrench2::before {
  content: "\eb69";
}
.icon-coffee2::before {
  content: "\ebcb";
}
.icon-pill::before {
  content: "\eb7c";
}
.icon-construction::before {
  content: "\eb7d";
}
.icon-stethoscope::before {
  content: "\eb73";
}
.icon-pandage::before {
  content: "\eb77";
}
.icon-syringe::before {
  content: "\eb7b";
}
.icon-scissor::before {
  content: "\ee85";
}
.icon-haircut::before {
  content: "\ee87";
}
.icon-stamp::before {
  content: "\e625";
}
.icon-stamp2::before {
  content: "\e939";
}
.icon-linkedin::before {
  content: "\eac8";
}
.icon-fish::before {
  content: "\e81f";
}
.icon-steak::before {
  content: "\ebbf";
}
.icon-bread::before {
  content: "\e822";
}
.icon-hamburger:before {
  content: "\ebc2";
}
.icon-pizza::before {
  content: "\ebc3";
}
.icon-apple2::before {
  content: "\ebcf";
}
.icon-tiktok::before {
  content: "\e90f";
}
.icon-guitar::before {
  content: "\e6e9";
}
.icon-soccer::before {
  content: "\ec37";
}
.icon-tennis::before {
  content: "\ec3c";
}
.icon-basketball::before {
  content: "\ec3f";
}
.icon-sunglass::before {
  content: "\e911";
}
.icon-watch::before {
  content: "\ea52";
}
.icon-smart-watch::before {
  content: "\e916";
}
.icon-refrigerator::before {
  content: "\e917";
}
.icon-microwave-oven::before {
  content: "\e919";
}
.icon-accessibility::before {
  content: "\ec29";
}
.icon-x::before {
  content: "\e91a";
}