/* ************************************
 *
 * SCSS Media Queries Mixins
 * 
 * Aauthor   : Ryuichi Nonaka
 * Version   : 0.4.0
 * Copyright : 2012 Ryuichi Nonaka
 * Date      : 2012/11/16
 *
 * Released under the MIT license
 *
 *********************************** */

/* ************************************
 *
 * Device Width 
 * Initialize variables
 *
 *********************************** */
//Mobile device sizes
$MQ_OLD_MOBILE_PORTRAIT         :   320px !default;
$MQ_OLD_MOBILE_LANDSCAPE        :   480px !default;
$MQ_OLD_MOBILE_PXRATIO          :     1.0 !default;

$MQ_MODERN_MOBILE_PORTRAIT      :   320px !default; // 640 resolution.
$MQ_MODERN_MOBILE_LANDSCAPE     :   480px !default; // 960 resolution.
$MQ_MODERN_MOBILE_PXRATIO       :     1.5 !default; // iOS: 2.0

$MQ_FUTURE_MOBILE_PORTRAIT      :   320px !default; // new iPhone 5.
$MQ_FUTURE_MOBILE_LANDSCAPE     :   568px !default; // new iPhone 5.
$MQ_FUTURE_MOBILE_PXRATIO       :     1.5 !default; // iOS: 2.0

//Tablet device sizes
$MQ_OLD_TABLET_PORTRAIT         :   768px !default; // 1 or 2 or mini.
$MQ_OLD_TABLET_LANDSCAPE        :  1024px !default; // 1 or 2 or mini.
$MQ_OLD_TABLET_PXRATIO          :     1.0 !default;

$MQ_MODERN_TABLET_PORTRAIT      :   768px !default; // new iPad: 1,536 resolution.
$MQ_MODERN_TABLET_LANDSCAPE     :  1024px !default; // new iPad: 2,048 resolution.
$MQ_MODERN_TABLET_PXRATIO       :     1.5 !default; // iOS: 2.0

//Desctop device sizes
$MQ_DESCTOP_NARROW              :  1024px !default;
$MQ_DESCTOP_MODERN              :  1280px !default;
$MQ_DESCTOP_WIDE                :  1600px !default;
$MQ_DESCTOP_HD                  :  1920px !default;
$MQ_MODERN_DESCTOP_PXRATIO      :     1.0 !default;

$MQ_FUTURE_DESCTOP_MODERN       :  1280px !default; //13inch MacBookPro Retina 2560
$MQ_FUTURE_DESCTOP_WIDE         :  1440px !default; //15inch MacBookPro Retina 2880
$MQ_FUTURE_DESCTOP_PXRATIO      :     1.5 !default; // MacOS: 2.0


/* ************************************
 *
 * Browser Prefix 
 * Initialize variables
 *
 *********************************** */
$MQ_PREFIX_TYPES                : -webkit-, -moz-, -o-, -ms-, '' !default;
//$MQ_PREFIX_TYPES                : -webkit-, -moz-, -ms-, -o-, '' !default;


/* ************************************
 *
 * Return ratio
 * Initialize variables
 * @param $prefix prefix type
 * @param $ratio device ratio
 *
 *********************************** */
@function set_temp_pxratio( $prefix, $ratio ){
        @if $prefix == -o- {
                $fraction_molecule    : $ratio * 2;
                $fraction_denominator : 2;
                @return '#{$fraction_molecule}/#{$fraction_denominator}';
        } @else {
                @return $ratio;
        }
}

/* ************************************
 *
 * Mobile Device mixin
 * @param $orientation Direction of a device
 * @param $version [old|modern|future|any] The version of a device
 * @param $add_orientation boolean [true|false] add orientation attribute
 *
 * old    : iPhone 3G or 3GS.
 * modern : iPhone 4 or 4S.
 * future : iPhone 5.
 * any    : All version.
 *
 *********************************** */

@mixin mq-mobile ( $orientation: portrait, $version: old, $add_orientation: false ) {
        @each $prefix in $MQ_PREFIX_TYPES
        {
                @if $version == old {
                        @if $orientation == portrait {
                                @if $add_orientation {
                                        @media only screen 
                                        and ( min-width: 0 )
                                        and ( max-width: $MQ_OLD_MOBILE_PORTRAIT )
                                        and ( #{$prefix}max-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_OLD_MOBILE_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }
                                } @else {
                                        @media only screen 
                                        and ( min-width: 0 )
                                        and ( max-width: $MQ_OLD_MOBILE_PORTRAIT )
                                        and ( #{$prefix}max-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_OLD_MOBILE_PXRATIO ) )
                                        {
                                                @content;
                                        }
                                }
                        } @else if $orientation == landscape {
                                @if $add_orientation {
                                        @media only screen
                                        and ( min-width: $MQ_OLD_MOBILE_PORTRAIT + 1 )
                                        and ( max-width: $MQ_OLD_MOBILE_LANDSCAPE )
                                        and ( #{$prefix}max-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_OLD_MOBILE_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }
                                } @else {
                                        @media only screen
                                        and ( min-width: $MQ_OLD_MOBILE_PORTRAIT + 1 )
                                        and ( max-width: $MQ_OLD_MOBILE_LANDSCAPE )
                                        and ( #{$prefix}max-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_OLD_MOBILE_PXRATIO ) )
                                        {
                                                @content;
                                        }
                                }
                                
                        }
                } @else if $version == modern {
                        @if $orientation == portrait {
                                @if $add_orientation {
                                        @media only screen
                                        and ( min-width: $MQ_OLD_MOBILE_LANDSCAPE + 1 )
                                        and ( max-width: $MQ_MODERN_MOBILE_PORTRAIT )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_MODERN_MOBILE_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }
                                } @else {
                                        @media only screen
                                        and ( min-width: $MQ_OLD_MOBILE_LANDSCAPE + 1 )
                                        and ( max-width: $MQ_MODERN_MOBILE_PORTRAIT )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_MODERN_MOBILE_PXRATIO ) )
                                        {
                                                @content;
                                        }
                                }
                        } @else if $orientation == landscape {
                                @if $add_orientation {
                                        @media only screen
                                        and ( min-width: $MQ_MODERN_MOBILE_PORTRAIT + 1 )
                                        and ( max-width: $MQ_MODERN_MOBILE_LANDSCAPE )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_MODERN_MOBILE_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }
                                } @else {
                                        @media only screen
                                        and ( min-width: $MQ_MODERN_MOBILE_PORTRAIT + 1 )
                                        and ( max-width: $MQ_MODERN_MOBILE_LANDSCAPE )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_MODERN_MOBILE_PXRATIO ) )
                                        {
                                                @content;
                                        }
                                }
                        }
                } @else if $version == future {
                        @if $orientation == portrait {
                                @if $add_orientation {
                                        @media only screen
                                        and ( min-width: $MQ_OLD_MOBILE_LANDSCAPE + 1 )
                                        and ( max-width: $MQ_FUTURE_MOBILE_PORTRAIT )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_FUTURE_MOBILE_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }
                                } @else {
                                        @media only screen
                                        and ( min-width: $MQ_OLD_MOBILE_LANDSCAPE + 1 )
                                        and ( max-width: $MQ_FUTURE_MOBILE_PORTRAIT )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_FUTURE_MOBILE_PXRATIO ) )
                                        {
                                                @content;
                                        }
                                }
                        } @else if $orientation == landscape {
                                @if $add_orientation {
                                        @media only screen
                                        and ( min-width: $MQ_FUTURE_MOBILE_PORTRAIT + 1 )
                                        and ( max-width: $MQ_FUTURE_MOBILE_LANDSCAPE )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_FUTURE_MOBILE_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }
                                } @else {
                                        @media only screen
                                        and ( min-width: $MQ_FUTURE_MOBILE_PORTRAIT + 1 )
                                        and ( max-width: $MQ_FUTURE_MOBILE_LANDSCAPE )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_FUTURE_MOBILE_PXRATIO ) )
                                        {
                                                @content;
                                        } 
                                }
                        }
                } @else if $version == any {
                        @if $orientation == portrait {
                                @if $add_orientation {
                                        @media only screen 
                                        and ( min-width: 0 )
                                        and ( max-width: $MQ_OLD_MOBILE_PORTRAIT )
                                        and ( #{$prefix}max-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_OLD_MOBILE_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }

                                        @media only screen
                                        and ( min-width: 0 )
                                        and ( max-width: $MQ_MODERN_MOBILE_PORTRAIT )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_MODERN_MOBILE_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }

                                        @media only screen
                                        and ( min-width: 0 )
                                        and ( max-width: $MQ_FUTURE_MOBILE_PORTRAIT )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_FUTURE_MOBILE_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }
                                } @else {
                                        @media only screen 
                                        and ( min-width: 0 )
                                        and ( max-width: $MQ_OLD_MOBILE_PORTRAIT )
                                        and ( #{$prefix}max-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_OLD_MOBILE_PXRATIO ) )
                                        {
                                                @content;
                                        }

                                        @media only screen
                                        and ( min-width: 0 )
                                        and ( max-width: $MQ_MODERN_MOBILE_PORTRAIT )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_MODERN_MOBILE_PXRATIO ) )
                                        {
                                                @content;
                                        }

                                        @media only screen
                                        and ( min-width: 0 )
                                        and ( max-width: $MQ_FUTURE_MOBILE_PORTRAIT )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_FUTURE_MOBILE_PXRATIO ) )
                                        {
                                                @content;
                                        }
                                }
                        } @else if $orientation == landscape {
                                @if $add_orientation {
                                        @media only screen
                                        and ( min-width: $MQ_OLD_MOBILE_PORTRAIT + 1 )
                                        and ( max-width: $MQ_OLD_MOBILE_LANDSCAPE )
                                        and ( #{$prefix}max-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_OLD_MOBILE_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }
                                        @media only screen
                                        and ( min-width: $MQ_MODERN_MOBILE_PORTRAIT + 1 )
                                        and ( max-width: $MQ_MODERN_MOBILE_LANDSCAPE )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_MODERN_MOBILE_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }

                                        @media only screen
                                        and ( min-width: $MQ_FUTURE_MOBILE_PORTRAIT + 1 )
                                        and ( max-width: $MQ_FUTURE_MOBILE_LANDSCAPE )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_FUTURE_MOBILE_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }
                                } @else {
                                        @media only screen
                                        and ( min-width: $MQ_OLD_MOBILE_PORTRAIT + 1 )
                                        and ( max-width: $MQ_OLD_MOBILE_LANDSCAPE )
                                        and ( #{$prefix}max-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_OLD_MOBILE_PXRATIO ) )
                                        {
                                                @content;
                                        }
                                        @media only screen
                                        and ( min-width: $MQ_MODERN_MOBILE_PORTRAIT + 1 )
                                        and ( max-width: $MQ_MODERN_MOBILE_LANDSCAPE )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_MODERN_MOBILE_PXRATIO ) )
                                        {
                                                @content;
                                        }

                                        @media only screen
                                        and ( min-width: $MQ_FUTURE_MOBILE_PORTRAIT + 1 )
                                        and ( max-width: $MQ_FUTURE_MOBILE_LANDSCAPE )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_FUTURE_MOBILE_PXRATIO ) )
                                        {
                                                @content;
                                        }
                                }
                        }
                }
        }
}


/* ************************************
 *
 * Tablet Device mixin
 * @param $orientation Direction of a device
 * @param $version [old|modern|any] The version of a device
 * @param $add_orientation boolean [true|false] add orientation attribute
 *
 * old    : iPad 1 or 2 or mini.
 * modern : new iPad (3).
 * any    : All version.
 *
 *********************************** */
@mixin mq-tablet ( $orientation: portrait, $version: old, $add_orientation: false ) {
        @each $prefix in $MQ_PREFIX_TYPES
        {
                @if $version == old {
                        @if $orientation == portrait {
                                @if $add_orientation {
                                        @media only screen 
                                        and ( min-width: $MQ_OLD_MOBILE_LANDSCAPE + 1 )
                                        and ( max-width: $MQ_OLD_TABLET_PORTRAIT )
                                        and ( #{$prefix}max-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_OLD_TABLET_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }
                                } @else {
                                        @media only screen 
                                        and ( min-width: $MQ_OLD_MOBILE_LANDSCAPE + 1 )
                                        and ( max-width: $MQ_OLD_TABLET_PORTRAIT )
                                        and ( #{$prefix}max-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_OLD_TABLET_PXRATIO ) )
                                        {
                                                @content;
                                        }
                                }
                        } @else if $orientation == landscape {
                                @if $add_orientation {
                                        @media  only screen
                                        and ( min-width: $MQ_OLD_TABLET_PORTRAIT + 1 )
                                        and ( max-width: $MQ_OLD_TABLET_LANDSCAPE )
                                        and ( #{$prefix}max-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_OLD_TABLET_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }
                                } @else {
                                        @media only screen
                                        and ( min-width: $MQ_OLD_TABLET_PORTRAIT + 1 )
                                        and ( max-width: $MQ_OLD_TABLET_LANDSCAPE )
                                        and ( #{$prefix}max-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_OLD_TABLET_PXRATIO ) )
                                        {
                                                @content;
                                        }
                                }
                        }
                } @else if $version == modern {
                        @if $orientation == portrait {
                                @if $add_orientation {
                                        @media only screen
                                        and ( min-width: $MQ_OLD_MOBILE_LANDSCAPE + 1 )
                                        and ( max-width: $MQ_MODERN_TABLET_PORTRAIT )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_MODERN_TABLET_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }
                                } @else {
                                        @media only screen
                                        and ( min-width: $MQ_OLD_MOBILE_LANDSCAPE + 1 )
                                        and ( max-width: $MQ_MODERN_TABLET_PORTRAIT )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_MODERN_TABLET_PXRATIO ) )
                                        {
                                                @content;
                                        }
                                }
                        } @else if $orientation == landscape {
                                @if $add_orientation {
                                        @media only screen
                                        and ( min-width: $MQ_MODERN_TABLET_PORTRAIT + 1 )
                                        and ( max-width: $MQ_MODERN_TABLET_LANDSCAPE )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_MODERN_TABLET_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }
                                } @else {
                                        @media only screen
                                        and ( min-width: $MQ_MODERN_TABLET_PORTRAIT + 1 )
                                        and ( max-width: $MQ_MODERN_TABLET_LANDSCAPE )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_MODERN_TABLET_PXRATIO ) )
                                        {
                                                @content;
                                        }
                                }
                        }
                } @else if $version == any {
                        @if $orientation == portrait {
                                @if $add_orientation {
                                        @media only screen 
                                        and ( min-width: $MQ_OLD_MOBILE_LANDSCAPE + 1 )
                                        and ( max-width: $MQ_OLD_TABLET_PORTRAIT )
                                        and ( #{$prefix}max-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_OLD_TABLET_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }
                                        @media only screen
                                        and ( min-width: $MQ_OLD_MOBILE_LANDSCAPE + 1 )
                                        and ( max-width: $MQ_MODERN_TABLET_PORTRAIT )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_MODERN_TABLET_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }
                                } @else {
                                        @media only screen 
                                        and ( min-width: $MQ_OLD_MOBILE_LANDSCAPE + 1 )
                                        and ( max-width: $MQ_OLD_TABLET_PORTRAIT )
                                        and ( #{$prefix}max-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_OLD_TABLET_PXRATIO ) )
                                        {
                                                @content;
                                        }
                                        @media only screen
                                        and ( min-width: $MQ_OLD_MOBILE_LANDSCAPE + 1 )
                                        and ( max-width: $MQ_MODERN_TABLET_PORTRAIT )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_MODERN_TABLET_PXRATIO ) )
                                        {
                                                @content;
                                        }
                                }
                        } @else if $orientation == landscape {
                                @if $add_orientation {
                                        @media only screen
                                        and ( min-width: $MQ_OLD_TABLET_PORTRAIT + 1 )
                                        and ( max-width: $MQ_OLD_TABLET_LANDSCAPE )
                                        and ( #{$prefix}max-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_OLD_TABLET_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }
                                        @media only screen
                                        and ( min-width: $MQ_MODERN_TABLET_PORTRAIT + 1 )
                                        and ( max-width: $MQ_MODERN_TABLET_LANDSCAPE )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_MODERN_TABLET_PXRATIO ) )
                                        and ( orientation: $orientation )
                                        {
                                                @content;
                                        }
                                } @else {
                                        @media only screen
                                        and ( min-width: $MQ_OLD_TABLET_PORTRAIT + 1 )
                                        and ( max-width: $MQ_OLD_TABLET_LANDSCAPE )
                                        and ( #{$prefix}max-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_OLD_TABLET_PXRATIO ) )
                                        {
                                                @content;
                                        }
                                        @media only screen
                                        and ( min-width: $MQ_MODERN_TABLET_PORTRAIT + 1 )
                                        and ( max-width: $MQ_MODERN_TABLET_LANDSCAPE )
                                        and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_MODERN_TABLET_PXRATIO ) )
                                        {
                                                @content;
                                        }
                                }
                        }
                }
        }
}


/* ************************************
 *
 * Desctop Device mixin
 * @param $size Direction of a device
 * @param $version [modern|future|any] The version of a device
 *
 * Version modern ---------------------
 * narrow  : max width 1024.
 * modern  : max width 1280.
 * wide    : max width 1600.
 * hd      : max width 1920.
 * over    : width 1920 over.
 * ratio   : 1.0
 *
 * Version future ---------------------
 * modern : max width 1280.
 * wide   : max width 1440.
 * ratio  : 2.0
 *
 *********************************** */
@mixin mq-desctop ( $size: narrow, $version: modern ) {
        @if $version == modern {
                @if $size == narrow {
                        @media only screen
                        and ( min-width: $MQ_OLD_TABLET_LANDSCAPE )
                        and ( max-width: $MQ_DESCTOP_NARROW )
                        {
                                @content;
                        }
                } @else if $size == modern {
                        @media only screen
                        and ( min-width: $MQ_DESCTOP_NARROW + 1 )
                        and ( max-width: $MQ_DESCTOP_MODERN )
                        {
                                @content;
                        }
                } @else if $size == wide {
                        @media only screen
                        and ( min-width: $MQ_DESCTOP_MODERN + 1 )
                        and ( max-width: $MQ_DESCTOP_WIDE )
                        {
                                @content;
                        }
                } @else if $size == hd {
                        @media only screen
                        and ( min-width: $MQ_DESCTOP_WIDE + 1 )
                        and ( max-width: $MQ_DESCTOP_HD )
                        {
                                @content;
                        }
                } @else if $size == over {
                        @media only screen
                        and ( min-width: $MQ_DESCTOP_HD + 1 )
                        {
                                @content;
                        }
                }
        } @else if $version == future {
                @each $prefix in $MQ_PREFIX_TYPES
                {
                        @if $size == modern {
                                @media only screen
                                and ( min-width: $MQ_DESCTOP_NARROW + 1 )
                                and ( max-width: $MQ_FUTURE_DESCTOP_MODERN )
                                and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_FUTURE_DESCTOP_PXRATIO ) )
                                {
                                        @content;
                                }
                        } @else if $size == wide {
                                @media only screen
                                and ( min-width: $MQ_FUTURE_DESCTOP_MODERN + 1 )
                                and ( max-width: $MQ_FUTURE_DESCTOP_WIDE )
                                and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_FUTURE_DESCTOP_PXRATIO ) )
                                {
                                        @content;
                                }
                        }
                }
        } @else if $version == any {
                @if $size == narrow {
                        @media only screen
                        and ( min-width: $MQ_OLD_TABLET_LANDSCAPE )
                        and ( max-width: $MQ_DESCTOP_NARROW )
                        {
                                @content;
                        }
                } @else if $size == modern {
                        @media only screen
                        and ( min-width: $MQ_DESCTOP_NARROW + 1 )
                        and ( max-width: $MQ_DESCTOP_MODERN )
                        {
                                @content;
                        }
                } @else if $size == wide {
                        @media only screen
                        and ( min-width: $MQ_DESCTOP_MODERN + 1 )
                        and ( max-width: $MQ_DESCTOP_WIDE )
                        {
                                @content;
                        }
                } @else if $size == hd {
                        @media only screen
                        and ( min-width: $MQ_DESCTOP_WIDE + 1 )
                        and ( max-width: $MQ_DESCTOP_HD )
                        {
                                @content;
                        }
                } @else if $size == over {
                        @media only screen
                        and ( min-width: $MQ_DESCTOP_HD + 1 )
                        {
                                @content;
                        }
                }
                @each $prefix in $MQ_PREFIX_TYPES
                {
                        @if $size == modern {
                                @media only screen
                                and ( min-width: $MQ_DESCTOP_NARROW + 1 )
                                and ( max-width: $MQ_FUTURE_DESCTOP_MODERN )
                                and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_FUTURE_DESCTOP_PXRATIO ) )
                                {
                                        @content;
                                }
                        } @else if $size == wide {
                                @media only screen
                                and ( min-width: $MQ_FUTURE_DESCTOP_MODERN + 1 )
                                and ( max-width: $MQ_FUTURE_DESCTOP_WIDE )
                                and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $MQ_FUTURE_DESCTOP_PXRATIO ) )
                                {
                                        @content;
                                }
                        }
                }
        }
}


/* ************************************
 *
 * Custom Device mixin
 * @param $min_width number(px) Minimum device size
 * @param $max_width number(px) Maximum device size
 * @param $pixel_ratio number Device px ratio
 * @param $add_orientation boolean [true|false] add orientation attribute
 *
 *********************************** */
@mixin mq-custom ( $min_width, $max_width, $pixel_ratio: false, $orientation: false ) {
        @if $pixel_ratio {
                @each $prefix in $MQ_PREFIX_TYPES
                {
                        @if $orientation {
                                @media only screen
                                and ( min-width: $min_width )
                                and ( max-width: $max_width )
                                and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $pixel_ratio ) )
                                and ( orientation: $orientation )
                                {
                                        @content;
                                }
                        } @else {
                                @media only screen
                                and ( min-width: $min_width )
                                and ( max-width: $max_width )
                                and ( #{$prefix}min-device-pixel-ratio: set_temp_pxratio( $prefix, $pixel_ratio ) )
                                {
                                        @content;
                                }
                        }
                }
        } @else {
                @if $orientation {
                        @media only screen
                        and ( min-width: $min_width )
                        and ( max-width: $max_width )
                        and ( orientation: $orientation )
                        {
                                @content;
                        }
                } @else {
                        @media only screen
                        and ( min-width: $min_width )
                        and ( max-width: $max_width )
                        {
                                @content;
                        }
                }
        }
}