@charset "utf-8";
*{
	margin:0;
	padding:0;
}
html{
	height:100%;
	line-height: 1;
	-webkit-text-size-adjust: none;
}
@font-face {
  font-family: YuGothic;
  src: local("Yu Gothic Medium"),
       local("Yu Gothic");
  font-weight:500;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  // font-weight: normal;
  font-style: normal;
  font-size: 100%;
  vertical-align: baseline;
}

body {
	height:100%;
	@if $fontFamily {
		font-family:$fontFamily;
	} @else {
		font-family:'Century Gothic', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, YuGothic, 'Yu Gothic', sans-serif;
	}
	@if $fontSize {
		font-size:$fontSize;
	} @else {
		font-size:13px;
	}
	// @if $fontColor {
	// 	color:$fontColor;
	// }
	// -webkit-font-smoothing:antialiased;
	word-wrap:break-word;
	word-break:break-word;
	-webkit-text-size-adjust:100%;
	text-rendering:geometricPrecision;	// For Web font anc Mac
}

article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section, 
summary {
	display:block;
}

audio,
applet,
object,
iframe,
video {
	max-width:100%;
}

a, a:hover, a:visited, a:active {
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	
}
a:active, 
a:focus {
	outline: none;
}

h1, h2, h3, h4, h5, h6{
	font-style: normal;
	font-weight: normal;
}

img {
	border:none;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

// Debug break tag of IE
br{
	letter-spacing:0;
}

ul{
	list-style: none;
}

dl,
table{
	position:relative;
	border-collapse:collapse;
	border-spacing:0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
strong, em, dt, th {
	font-weight: bold;
}

@if $tableCellPadding {
	dt, th, td{
		padding:$tableCellPadding;
	}
}

@if $ddPadding {
	dd {
		padding:$ddPadding;
	}	
}

q, blockquote {
  quotes: none;
}

pre, code{
	overflow:auto;
	white-space:pre;
	text-shadow:none;
	font-family:Consolas,Monaco,monospace,"Hiragino Kaku Gothic ProN",Meiryo,YuGothic,"Yu Gothic",sans-serif;
}
input, textarea{
	word-wrap:normal;
	word-break:normal;
}
button {
	font-size:100%;
}

// Selection Color
@if $selectionFontColor and $selectionBgColor {
	::-moz-selection {
		color:#333;
		background-color:rgba(#000,0.08);
		text-shadow:none;
	}
	::selection{
		color:#333;
		background-color:rgba(#000,0.08);
		text-shadow:none;
	}
}
