%text_shadow_none {
	text-shadow:none!important;
	text-decoration:none!important;
}

// Display:inline-block;
%inline_block {
	display:inline-block;
}

%border_none {
	border:none;
}

%border_top_dotted {
	border-top:1px dotted rgba(32, 32,32, 0.18);
}

%border_bottom_dotted {
	border-bottom:1px dotted rgba(32, 32,32, 0.18);
}

%common_bottom_margin {
	margin-bottom:$separateWidth;
}

%text_hover_underline {
	&:hover {
		text-decoration:underline;
	}
}

%header_footer_h1_title_style {
	color:$headerH1BarFontColor;
	a, 
	a:hover {
		color:$headerH1BarFontColor;
		font-weight:normal;
	}
	a:hover {
		text-decoration:underline;
	}
	@include gradient($headerH1BarGradient1, $headerH1BarGradient2);
}

%header_gradient {
	@include gradient($headerGradient1, $headerGradient2);
}


%global_menu_box_shadow {
	@include box_shadow(0 5px 10px rgba(#000, $globalMenuShadowOpacity));
}

%global_menu_gradient {
	@include gradient($globalMenuGradient1, $globalMenuGradient2);
}
%global_menu_gradient_hover {
	@include gradient($globalMenuGradient2, $globalMenuGradient1);
}
%gradient_with_bgcolor {
	@include gradient_with_bgcolor($globalMenuGradient2);
}
%gradient_with_bgcolor_hover {
	@include gradient_with_bgcolor($globalMenuGradient1);
}

%display_none {
	display:none;
}

%container_width {
	width:$containerWidth;
}


%thumbnail_background {
	background-color:#e6e6e6;
	border:1px solid #e6e6e6;
}

// Common title object
%common_title_style {
	line-height:1.3;
	font:{
		size:14px;
		weight:bold;
	}
	// color:$headerFontColor;
	// border:3px solid $headerGradient2;
	padding:10px;
	border-width:3px;
	border-style:solid;
}
%common_title_style2 {
	font:{
		size:17px;
		weight:bold;
	}
	line-height:1.3;
	padding:$separateWidth / 2 0 0 0;
	margin:0 0 10px 0;
}

// Link color is font color
%normal_font_color_link {
	color:$fontColor;
	&:visited {
		color:$fontColor;
	}
	&:hover{
		color:$linkColorHover;
	}
}

//To prevent retina fuzzy on filter
%translateZ0 {
	-webkit-transform: translateZ(0);
}

%border_radius_all_0px {
	// @include border_radius(0);
	border-radius:0;
}
// Border radius 2px
%border_radius_all_2px {
	// @include border_radius(2px);
	border-radius:2px;
}
// Border radius 3px
%border_radius_all_3px {
	// @include border_radius(3px);
	border-radius:3px;
}
// Border radius 10px
%border_radius_all_10px {
	border-radius:10px;
}
// Border radius 12px
%border_radius_all_12px {
	border-radius:12px;
}
// Border radius 14px
%border_radius_all_14px {
	// @include border_radius(14px);
	border-radius:14px;
}
// Border radius 50%
%border_radius_all_half {
	// @include border_radius(50%);
	border-radius:50%;
}

// Image hover opacity 
%image_hover_opacity {
	@include opacity(.62);
}

// Easing effect
%hover_easing {
	@include transition(all 0.6s ease);
}

// User image box shadow
%profile_bottom_box_shadow {
	@include box_shadow(0 3px 5px rgba(#000, 0.2));
}

// Thumbnail
%post_thumbnail_style1{
	float:left;
	overflow: hidden;
	width:$newEntryListVerticalThumbWidth;
	height:$newEntryListVerticalThumbHeight;
	margin:0 10px 0 0;

	img {
		max-width:100%;
		height:auto;
	}
}

// Archive listing style in mobile
%entry_list_row_style_mobile {
	position:relative;
	border-bottom:1px dotted rgba(0,0,0,0.2);

	&:before {
		content:'';
		display:none;
	}
	&:after {
		position:absolute;
		top:44%;
		right:0;
		font-size:16px;
		color:rgba(0,0,0,0.4);
	}
}


%tagcloud_style_mobile {
	display:inline-block;
	padding:5px 8px 4px 8px;
	margin-bottom:4px;
	line-height: 2.2;
	white-space: nowrap;
	font-size:11px;
}

// Image align left
%post_image_align_left {
	margin:10px $separateWidth $separateWidth 0;
}

// Image align right
%post_image_align_right {
	margin:10px 0 $separateWidth $separateWidth;
}

// Plane label Fix position
%plane_label_fix_position {
	position:absolute;
	top:8px;
	right:0;
}

%entry_list_mobile_after {
	position:absolute;
	top:40%;
	right:5px;
	height:100%;
	font-size:14px;
	color:#888;
}

// Widget list style 
%widget_ul_style {
	position:relative;
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
	overflow:hidden;
}
%widget_li_style {
	margin:0;
	line-height:1.8;
}
%widget_li_a_style {
	padding:9px 0 7px 0;
	top:0;
	a {
		text-decoration: none;
	}
}

%widget_li_ul_style {
	margin:0 0 0 auto;
	width:95%;
}
%widget_meta_time {
	display: block;
	font-size: 10px;
	margin-bottom:6px;
}

%widget_p_style {
	margin:6px 0 12px 0;
	line-height:1.8;
}

%sidebar_widget_title_style{
	padding:$sidebarWidgetTitlePadding;
	font:{
		size:$sideBarWidgetTitleFontSize;
	}
}

%goto_return_link {
	width: 40px;
	height: 40px;
	line-height:40px;
	text-align:center;
}

/**
 * Scrollbar
 */
%overflow_scrollbar{
	// Scrollbar(windows IE)
    -ms-overflow-style:-ms-autohiding-scrollbar;

    &::-webkit-scrollbar{
        width:8px;
        height:8px;
    }
    &::-webkit-scrollbar-track{
        background-color:rgba(#aaa,.38);
    }
    &::-webkit-scrollbar-thumb {
        background-color:rgba(#aaa,.62);
    }

    -webkit-overflow-scrolling: touch;
}

/**
 * Common border, background color elements
 */
%common_border_1px{
	border:1px solid rgba(#aaa,.48);
}
%common_border_top_1px{
	border-top:1px solid rgba(#aaa,.48);
}
%common_border_bottom_1px{
	border-bottom:1px solid rgba(#aaa,.48);
}
%common_background_color{
	background-color:rgba(#aaa,.16);
}
