.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
// Attention seekers
// flash bounce shake tada swing wobble pulse
@import "animations/attention-seekers";

// Fading entrances
// fadeIn fadeInUp fadeInDown fadeInLeft fadeInRight fadeInUpBig fadeInDownBig fadeInLeftBig fadeInRightBig
@import "animations/fading-entrances";

// Fading exits
// fadeOut fadeOutUp fadeOutDown fadeOutLeft fadeOutRight fadeOutUpBig fadeOutDownBig fadeOutLeftBig fadeOutRightBig
// @import "animations/fading-exits";

// Bouncing entrances
// bounceIn bounceInDown bounceInUp bounceInLeft bounceInRight
@import "animations/bouncing-entrances";

// Bouncing exits
// bounceOut bounceOutDown bounceOutUp bounceOutLeft bounceOutRight
// @import "animations/bouncing-exits";

// Rotating entrances
// rotateIn rotateInDownLeft rotateInDownRight rotateInUpLeft rotateInUpRight
@import "animations/rotating-entrances";

// Rotating exits
// rotateOut rotateOutDownLeft rotateOutDownRight rotateOutUpLeft rotateOutUpRight
// @import "animations/rotating-exits";

// Specials
// hinge rollIn rollOut
@import "animations/specials";

// Flippers
// flip flipInX flipOutX flipInY flipOutY
@import "animations/flippers";