@mixin bounceInLeft($prefix) {
  0.00% {
    opacity: 0;
    @include transform(translateX(-2000px), $prefix);
  }
  60% {
    opacity: 1;
    @include transform(translateX(30px), $prefix);
  }
  80% {
    @include transform(translateX(-10px), $prefix);
  }
  100% {
    @include transform(translateX(0), $prefix);
  }
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes bounceInLeft { @include bounceInLeft(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes bounceInLeft { @include bounceInLeft(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes bounceInLeft { @include bounceInLeft(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes bounceInLeft { @include bounceInLeft(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes bounceInLeft { @include bounceInLeft(o); }
}
@keyframes bounceInLeft { @include bounceInLeft(none); }

.bounceInLeft {
  @include animation-name(bounceInLeft);
}