$amp:0;
@charset "utf-8";

@import "../../pc/scss/settings/settings";
@import "compass"; 
@import "compass/css3";
@import "../../_import/ptp-14";
@import "../../_import/icon-font";
@import "../../pc/scss/mixin/common_mixins";
@import "../../pc/scss/mixin/button_label_mixin";
@import "../../pc/scss/extend/button_label_extend";
@import "../../pc/scss/extend/placeholder";
@import "../../pc/scss/style/decoration";



a,input {outline: none;}
@font-face {
	font-family: 'Hiragino Sans';
	src: local( HiraginoSans-W3 );
	font-weight: normal;
}
@font-face {
	font-family: 'Hiragino Sans';
	src: local( HiraginoSans-W6 );
	font-weight: bold;
}

#dp_custom {
	position:relative;
	margin-top:18px;
	padding:0;

	dl {
		margin: 10px 0px 15px 10px;
	}
	dd {
		margin:8px 0 20px 20px;
	}
	select {
		margin:0 8px 8px 4px;
	}
}

.dp_box180 {
	background-color:#fff;
	border:1px solid #bbb;
	height:180px;
	padding:5px;
	margin:0 0 15px 0;
}

.dp_box {
	display:none;
	background-color:#fff;
	border:1px solid #bbb;
	padding:5px;
	margin:0 0 15px 0;
}


#h1title_as_text,
#h1title_as_image{display:none;}

.formblock {margin: -8px 8px 12px 0;}

// span.dp-admin-logo {
// 	position:relative;
// 	top:5px;
// 	display:inline-block;
// 	width:32px;
// 	height:32px;
// 	margin:0 12px 0 0;
// 	background: url("img/dp-admin-icon.png") left center no-repeat;
// 	background-size: 100%;
// }
.dp_h2 {
	color:#222;
	font-size:20px;
	font-weight:bold!important;
	&:before {
		font-size:28px;
	}
}
.dp_h3 {
	clear:both;
	cursor:pointer;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	letter-spacing:4px;
	padding:8px 0 8px 8px;
	margin:0;
	background-color:#222;
	// border-radius: 4px 4px 0px 0px; 
	// -moz-border-radius: 4px 4px 0px 0px; 
	// -webkit-border-radius: 4px 4px 0px 0px;
	&:hover {
		background-color:#444;
	}
}
div.dp_box {
	// -moz-border-radius: 0 0 4px 4px/0 0 4px 4px;
	// -webkit-border-radius: 0 0 4px 4px/0 0 4px 4px;
	// border-radius:0 0 4px 4px/0 0 4px 4px;
}

.dp_set_title1 {
	color:#322F26;
	font-size:15px;
	font-weight:bold;
	line-height:30px;
	padding: 22px 0 12px 0;
}
.dp_set_title2 {
	color:#605C4C;
	font-size:14px; 
	font-weight:bold;
	line-height:20px;
	padding: 1px 0 0 0;
	margin:0 0 10px 0;
}

.dp_set_title3 {
	color:#605C4C;
	font-size:13px;
	font-weight:bold;
	border-left: 5px solid #30B4F6;
	padding: 2px 0 2px 6px;
	margin:18px 0 8px 0;
}

.dp_set_title4 {
	color:#605C4C;
	font-size:13px;
	font-weight:bold;
	border-left: 4px solid #52B6F8;
	padding: 2px 0 2px 6px;
	margin:18px 0 8px 0;
}

.dp_indent1 {margin:0 5px 15px 30px;}
.dp_indent2 {margin:0 10px 15px 30px;}

.prev_theme_box {
	float:left;
	border:1px solid #ddd;
	padding:3px;
	width:206px;
	height:166px;
	text-align:center;
}

.dp_ft_small {font-size:11px;}

.slide-title {
	color:#fff;
	background-color:#d74d11;
	font-size:12px;
	line-height:1.3;
	margin:12px 0 0 0;
	padding:8px;
	cursor:pointer;
}
.slide-content {
	font-size:11px;
	display:none;
	padding:12px;
	border:1px solid #d74d11;
}

ul.thumb,
ul#crop_header_img,
ul#crop_title_img {
	position:relative;
	height:100%;
}
ul.thumb li,
ul#crop_header_img li,
ul#crop_title_img li{
	float:left;
	padding-right:20px;
	z-index:1;
}
ul.thumb img,
ul#crop_header_img img,
ul#crop_title_img img {
	border:2px solid #ccc;
}
img.hiddenImg {
	display:none;
	position:absolute;
	top:0;
	left:0;
	z-index:999;
}
img.thumbImg,
img.thumbImgBg,
img.thumbBannerImg_crop, 
img.thumbTitleImg_crop {
	position:relative;
	cursor:pointer;
	float:left;
	z-index:1000;
}
img.thumbImg,
img.thumbTitleImg_crop {
	width:180px;
	height:auto;
	max-height:80px;
}
img.thumbBannerImg_crop{
	width:100px;
	height:70px;
}
img.thumbImgBg {
	width:57px;
	height:57px;
}


#sidebar_img_block {
	position:relative;
	height:78px;
}
#2column_block {
	position:relative;
}

.tbl-picker {
	td {
		vertical-align: top;
	}
}

/*************************************************************
* イメージホバー表示
**************************************************************/
.sample_img {
	cursor:pointer;
	position:relative;
	top:0;
	color:#24a1ce;
	font-size:12px;
	margin:4px 0 20px 0;
	width:120px;
	&:before {
		font-size:24px;
	}
	img{
		display:none;
		border:1px solid #666;
		padding:3px;
		background:#fff;
		z-index:10000;
	}

	&:hover img{
		position:absolute;
		top:0;
		left:0;
		display:inline;
	}
}

/*************************************************************
* For JS
**************************************************************/
.ui-slider-handle {
  cursor:move;
}
.field input {
  padding:0;
}
.filter-sample-img {
  position:relative;
  width:450px;
  height:300px;
  overflow:hidden;
  img {
	position:absolute;
	top:0;
	left:0;
	clip:rect(5px,445px,295px,5px);
  }
}
// Color picker
.wp-picker-container {
	line-height:2.4;
	display:inline-block;
}

/*************************************************************
* 背景画像アップロードスペース専用
*************************************************************/
#bg-setting {
	position:relative;
}
.btn-save {
	font-size:11px;
	background-color: #24a1ce!important;
	box-shadow: 0 5px #1E89AF!important;
}
.close_all{
	font-size:11px;
}


#uploadedImageView {
	overflow: auto;
	position:relative;
	margin:10px 10px 10px 0;
	width:100%;
	height:280px;
}

#trim_banner_img_div, #trim_title_img_div{
width:100%;
height:auto;
overflow:scroll;
}
#trim_banner_img_div img, #trim_title_img_div img{
border:1px solid #ccc;
}


/**
 * Quicktag style
 */
.quicktags-toolbar{
    max-height:96px;
    overflow:scroll;
}


/**
 * Add ons license panel
 */
.dp_ex_license_div{
	span{
		&.description{
			display:block;
			margin-top:5px;
			font-size:12px;
			color:#777;
		}
	}
}


// Table
.dp_table1{
	th {
		padding:0 15px 10px 0;
		text-align: left;
	}
	td {
		padding:0 0 10px 0;
	}
}

.dp_ex_conf_title,
.dp_ex_conf_toggle_title {
	font-size:14.5px;
	margin:0;
}
.dp_ex_slide_panel {
	display:none;
}
.dp_pointer {
	cursor:pointer;
}
/**
 * Add ons license panel
 */


// Clearfix
.clearfix:before,
.clearfix:after,
ul#main_menu_ul:after {
content:"";
display:block;
overflow:hidden;
}
.clearfix:after {clear:both;}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {zoom:1;}


 .dp_import_button {
	display:inline-block;
    position:relative;
    overflow:hidden;
    border-radius:3px;
    background-color:#0073aa;
    color:#fff;
    text-align:center;
    padding:10px;
    line-height:9px;
    width:180px;
    font-size: 12px;
    cursor:pointer;
    &:hover{
    	background-color:#0092D8;
    }
}
.dp_import_button input[type=file] {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;    
    cursor:pointer;
    opacity:0;
}
.dp_import_btn_text {
    display:none;
    background-color:rgba(255,255,255,0.2)!important;
    border-radius:3px;
    padding:3px;
    margin-top:10px;
    font-size:11px;
    width:94%;
    color:#fff!important;
}