$amp: 0;
@import "../../pc/scss/settings/settings";

@import "compass"; // DO NOT DELETE
@import "../../_import/ptp-14";
@import "../../_import/icon-font";

// *************************************
// Mixin modules
// *************************************
@import "../../pc/scss/mixin/common_mixins";
@import "../../pc/scss/mixin/button_label_mixin";

// *************************************
// Extends modules
// *************************************
@import "../../pc/scss/extend/placeholder";
@import "../../pc/scss/extend/button_label_extend";
@import "../../pc/scss/style/decoration";

// Quicktags Toolbar
.quicktags-toolbar{
	max-height:89px;
	overflow:scroll;
}

// Text widget
// Text widget
.widgets-holder-wrap .widget-inside .wp-editor-wrap,
.widgets-holder-wrap .custom-html-widget-fields .CodeMirror{
	overflow:hidden;
	border:4px solid rgba(#aaa,.48);

	&:hover{
		left:50%;
		transform:translateX(calc(-50% - 12vw));
		width:50vw;
		min-width:400px;
		padding:20px;
		background-color:#fff;
		border:1px solid rgba(#aaa,.48);
		box-shadow:0 0 24px -16px;
		max-height:unset;
		overflow:scroll;
		z-index:10;
	}
}
@media ( max-width : 1249px ){
	.widgets-holder-wrap .widget-inside .wp-editor-wrap,
	.widgets-holder-wrap .custom-html-widget-fields .CodeMirror{

		&:hover{
			transform:translateX(-50%);
			width:60vw;
		}
	}
}

.widget-content{
	.toggle_ele{
		&:checked{
			~ .toggle_content:first-of-type{
				display:block;
			}
		}
		&.rev {
			~ .toggle_content:first-of-type{
				display:none;
			}
			&:not(:checked){
				~ .toggle_content:first-of-type{
					display:block;
				}
			}
		}
	}

	.toggle_content{
		display:none;
	}
}

//ブロックベースウィジェットのクラシックウィジェット用のCSS
.wp-block-legacy-widget{
	h3.wp-block-legacy-widget__edit-form-title{
		cursor:pointer;
		background:none!important;
		margin:0!important;
		padding:10px 0!important;
		box-shadow:none!important;
		border:none!important;

		&::before,
		&::after{
			content:none!important;
		}
	}

	br{
		// content:'';
	}

	hr{
		padding:0!important;
		margin:1rem 0!important;
	}

	.components-placeholder,
	.wp-block-legacy-widget__edit-no-preview{
		display:none;
	}

	input[type="checkbox"],
	input[type="radio"] {
		&::before,
		&::after{
			background-color:#fff;
		}
		background-color:var(--wp-admin-theme-color, #007cba)!important;
	}

	input[type="checkbox"]{
		&:checked{
			&::before{
				margin:auto;
			}
		}
	}
}

.wp-block-legacy-widget__edit-form{
	display:flow-root!important;
	font-size:13.5px;

	.widget,
	textarea.sync-input{
		display:none;
	}

	&:hover{
		.widget{
			display:block;
			border-top:1px solid!important;
			padding-top:12px;
		}
	}

	p{
		font-size:13.5px!important;
		line-height:1.5!important;
	}

	input[type="number"]{
		display:inline-block!important;
	}

	table{
		width:100%;
		max-width:640px;
		th,
		td{
			border:none!important;
		}
		td{
			min-width:180px;
		}
	}
}
.wp-block-legacy-widget__edit-preview{
	display:none!important;
}