$amp:0;
@charset "utf-8";

// *************************************
// Settings 
// 
// @ Target:settings directory
// *************************************
@import "../../pc/scss/settings/settings";

// *************************************
// Import 
// 
// @ Target:import directory
// @ Add your preset styling if you need
// *************************************
@import "compass"; // DO NOT DELETE

// *************************************
// Mixin modules
// *************************************
@import "../../_import/icon-font";
@import "../../pc/scss/mixin/common_mixins";
@import "../../pc/scss/mixin/button_label_mixin";

// *************************************
// Extends modules
// *************************************
@import "../../pc/scss/extend/placeholder";
@import "../../pc/scss/extend/button_label_extend";


/**
 * Params
 */
$gb_base_font_family:'Hiragino Kaku Gothic ProN',Meiryo,YuGothic, 'Yu Gothic','ＭＳ Ｐゴシック',sans-serif;
$bg_editor_width:824px + 28;
$bg_editor_width_wide:1180px + 28;
$bg_editor_width_full:none;

@font-face {
    font-family: 'Hiragino Sans';
    src: local( HiraginoSans-W3 );
    font-weight: normal;
}
@font-face {
    font-family: 'Hiragino Sans';
    src: local( HiraginoSans-W6 );
    font-weight: bold;
}

/**
 * Change default width
 */
.wp-block{
    max-width:$bg_editor_width;
    &[data-align=wide]{
        max-width:$bg_editor_width_wide;
    }
    &[data-align=full]{
        max-width:none;
    }
}

/**
 * Change the main title font family
 */
.editor-post-title__block .editor-post-title__input{
    font-family:$gb_base_font_family;
    font-size:1.86em;
    border-bottom:1px dashed rgba(#000,.2);
    margin-bottom:34px;
}
/**
 * Code editor style
 */
div.editor-block-list__block{
    .CodeMirror{
        font-size:14.5px;
    }
}
body,
.wp-block-freeform.block-library-rich-text__tinymce{

    strong, em, dt, th{
        font-weight:bold;
    }
    dt, th, td{
        padding:6px 8px;
    }
    dd{
        padding:8px 18px 12px 18px;
        margin:0;
    }

    .alternate,
    .striped>tbody>:nth-child(odd),
    ul.striped>:nth-child(odd){
        background-color:rgba(103, 103, 103, 0.1);
    }

	font-family: $gb_base_font_family;
	font-size: 15px;
	color: #202020;
	line-height:2;
	
	a, a:visited {
		color:$linkColor;
	}
	a:hover {
		color:$linkColorHover;
	}

	section {
	  display: block; 
	}
	ul {
	  list-style: none; }

	dl,
	table {
	  position: relative;
	  border-collapse: collapse;
	  border-spacing: 0; }

	caption,
	th,
	td {
	  text-align: left;
	  font-weight: normal;
	  vertical-align: middle; }

	blockquote,
	code,
	dt, 
	th {
	  background-color:rgba($fontColor, 0.06);
	}

	q, 
	blockquote {
	  quotes: none; 
	}

	blockquote{
		@extend %border_box;
		position:relative;
		padding:12px $smallSeparateWidth $smallSeparateWidth $smallSeparateWidth;
		margin:0 0 $smallSeparateWidth 0;
		


		&:before,
		&:after{
			display:block;
			font-size:25px;
			color:$linkColor;
		}
		&:before {
			margin:0 auto 0 0;
		}
		&:after{
			margin:-$smallSeparateWidth 0 0 auto;
			text-align: right;
		}
		p{
			padding:8px 30px 26px 30px;
		}
	}

	pre:not(.CodeMirror-line) {
		padding:12px;
		margin-bottom:$separateWidth;
		line-height:168%;
		font-size:13px;
		overflow:auto;
	}

	address {
		padding:6px 0 6px 12px;
		margin-bottom:$separateWidth;
		border-left:2px solid $linkColor;
	}

	table,
    dl {
        margin-bottom: $separateWidth;
    }
    table {
        th,
        td {
            border:1px solid;
        }
    }

    dl {
        border-top: 1px solid;
    }
    dt,
    dd {
        border: 1px solid;
        border-top: none;
    }
    pre:not(.CodeMirror-line),
    td,
    dd,
    code,
    blockquote{
        font-size:.94em;
    }

    td,
    dd{
        p:last-of-type{
            padding-bottom:0;
        }
    }
    p {
        margin: 0 0 2.14em;
        line-height:2.14;
        &.wp-caption-text {
            padding: 4px 0;
            margin: 0;
            font-size:12.5px;
        }
    }

	h1,
	h2,
	h3,
	h4,
	h5,
	h6{
		line-height:1.6;
		margin:$separateWidth 0 $smallSeparateWidth 0;
		border-color:$linkColor;
	}
	h1,h2,h3,h4 {
		padding:10px 0 10px 16px;
		border-left-style:solid;
		border-left-width:2px;
	}
	h3,h4 {
		padding:6px 0 6px 12px;
		border-left-width:1px;
	}
	h4{
		padding:4px 0 4px 12px;
	}
	h5, h6 {
		padding:3px 0;
		border-bottom-style:solid;
		border-bottom-width:1px;
	}
	h6 {
		border-bottom-style:dotted;
	}

	h1{font-size:21px;}
	h2{font-size:20px;}
	h3{font-size:19px;}
	h4{font-size:18px;}
	h5{font-size:17px;}
	h6{font-size:16px;}


	.wp-caption{
		max-width:100%;
		margin:12px 0;
		text-align: center;
		border:1px solid #eee;

		img {
			height:auto;
			margin:5px auto 0 auto;
		}
	}

	img:not(.mce-wp-nextpage):not(.mce-wp-more){
		margin:22px auto 22px 0;
		max-width: 100%;
		height:auto;
	}
	img.fl-l,
	img.alignleft,
	.wp-caption.alignleft{ 
		margin:10px 32px 32px 0;
	}
	img.fl-r,
	img.alignright,
	.wp-caption.alignright{
		margin:10px 0 32px 32px;
	}
	
	ul{
		margin:0 0 0 5px;
		padding:0 0 $separateWidth 0;

		li {
			line-height:192%;
			padding:2px 0 2px 0;
		}
	}
	// Fix :before content
	ul {
		list-style:none;
		margin-left:24px;

		li {
			position:relative;
			&:before {
				position:absolute;
				top:0;
				left:0;
				content:"";
				@extend %border_radius_all_half;
				margin:11px auto auto -17px;
				width:6px;
				height:6px;
				background-color:$linkColor;
			}
		}
	}
	ul ul {
		padding:0;
	}
	ol{
		list-style-type:decimal;
	}

	ul.recent_entries{
		margin-left:auto;
		li{
			margin-left:auto;
		    letter-spacing:-1em;
		    white-space:nowrap;
		    &::before{
		        display:none;
		        content:none;
		        box-shadow:none;
		    }
		    *{
		        letter-spacing:normal;
		        white-space:normal;
		    }
		}
	}

	@import "../../pc/scss/style/form";
 	@import "../../pc/scss/style/decoration";
}
