.form-group,
.input-group,
.list-group,
.modal-content,
.table,
.panel,
.navbar,
.nav,
.row {
	*{
		@include box-sizing(border-box);
	}
	.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
		margin:20px 0 10px 0!important;
		padding:0!important;
		border:none!important;
		background:none!important;
		color:inherit!important;
	}
	text-shadow:none!important;
}
.panel{
	.panel-title{
		margin-top:0!important;
		margin-bottom:0!important;
		&:after{
			content:none!important;
		}
	}
}
.dropdown-menu{
	padding:5px 0!important;
	margin:2px 0 0!important; 
	.divider{
		padding:0!important;
	}
	li{
		padding:0!important;
		&:before{
			content:none!important;
		}
		a{
			&:hover{
				text-decoration: none!important;
			}
		}
	}
}
.nav,
.list-group{
	padding:0!important;
	li{
		line-height:1.4!important;
		&:before{
			content:none!important;
			width:0!important;
			height:0!important;
			border:none!important;
		}
		a{
			&:hover{
				text-decoration: none!important;
			}
		}
	}
}
.list-group{
	margin:0!important;
	li{
		padding:10px 15px!important;
	}
}
.nav{
	margin:auto auto 20px auto!important;
	li{
		padding:0!important;
	}
}
.navbar{
	a{
		&:hover{
			text-decoration: none!important;
		}
	}
}
.navbar-nav{
	padding:0!important;
	margin:0!important;
	clear:none!important;
}
.breadcrumb{
	padding:8px 15px!important;
	margin-bottom:20px!important;
	list-style:none!important;
	>li{
		display:inline-block!important;
		padding:0!important;
		margin:0!important;
	}
}
.pager,
.pagination{
	li{
		display:inline!important;
		padding:0!important;
		&:before{
			content:none!important;
			width:0!important;
			height:0!important;
			border:none!important;
		}
		a,a:hover{
			text-decoration: none!important;
		}
	}
}
.pager {
	>li{
		a,span{
			line-height:1.46;
		}
	}
}
.media-list{
	.media{
		&:before{
			content:none!important;
			width:0!important;
			height:0!important;
			border:none!important;
		}
	}
	img{
		max-width:none!important;
	}
}
.media-heading{
	margin-top:0!important;
	margin-bottom:5px!important;
}
.img-responsive, 
.thumbnail img, 
.carousel-inner img,
.media-list img{
	margin:0 auto!important;
	padding:0!important;
}
.input-group{
	input,textarea{
		margin:auto;
	}
	.form-control{
		margin:0;
	}
}
.panel{
	p {
		margin:0 0 10px!important;
		padding:0!important;
	}
	>.table,
	>.table-responsive>.table,
	>.panel-collapse>.table{
		margin-bottom:0!important;
	}
}
.btn,
.label{
	text-shadow:none!important;
}
.btn,
.btn:hover{
	text-decoration: none!important;
}