// Form
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"],
input[type="submit"],
.uneditable-input{
	display: inline-block;
	padding:4px 6px;
	margin:6px 10px 6px 0;
	word-wrap:normal;
	border:1px solid #d0d0d0;
	@include border_radius(2px);
}
input[type="checkbox"], 
input[type="radio"] {
	box-sizing:border-box;
	padding:0;
	margin:0 6px 4px 0;
}
textarea{
	height:auto;
}

/* Disable focus outline on Chrome */
input:focus,
select:focus,
textarea:focus{
	outline:0;
}
input[type=button],
input[type="submit"],
input[type="reset"],
input[type="search"],
 {
 	cursor:pointer;
	-webkit-appearance: none!important;
	-webkit-border-radius:2px!important;
}