
// Floating Menu
#fixed_menu,
#fixed_sform{
	position:fixed;
	top:0;
	height:44px;
	width:100%;
}
#fixed_menu {
	left:0;
	text-align:center;
	background-color:#fff;
	z-index:1000;
}
	#fixed_sform {
		position:absolute;
		margin:0 auto;

		#searchform{
			position:absolute;
			width:88px;
			margin-bottom:0;
			border:none;
		}
	}
ul#fixed_menu_ul,
#fixed_sform .hd_searchform{
	display:inline-block;
	position:relative;
	width:$containerWidth;
	padding:0;
	margin:0 auto;
	height:44px;
	_zoom:1;
}

ul {
	&#fixed_menu_ul {
		li {
			float:left;
			position:relative;
			list-style:none;
			font-size:85.7%;
			line-height:44px;
			margin:0;
			padding:0;
			z-index:100;
			text-align:center;
			
			a {
				position:relative;
				display:block;
				margin:0;
				font-weight:normal;
				border-top:4px solid transparent;
				padding:8px 22px 12px 22px;
				line-height:20px;
				text-decoration:none;
			}

			li {
				font-size:100%;
			}

			ul {
				display:none;
				position:absolute;
				left:0;
				margin:0;
				padding:0;
				width:180px;
				zoom:1;

				li {
					float:none;
					margin:0;
					padding:0;
				}

				ul {
					left:180px;
					top:0;
				}
			}
		}

		.fl_submenu_li {
			position:relative;
			float:right;
			text-align: center;
			width:44px;
			height:44px;
			display:block;
			cursor:pointer;
			z-index:1000;

			&:before {
				position:relative;
				top:2px;
				cursor:pointer;
			}
		}
	}
}
#fixed_sform #searchform {
	position:relative;
	top:9px;
	right:0;
	float:right;
}

// SNS link in floating menu 
#fixed_sns {
	position:relative;
	*position:fixed;
	*left:0;
	padding:0;
	overflow:hidden;

	ul {
		list-style:none;
		padding:0;
		margin:0 auto;
	}
	li {

		a{
			float:right;
			width:34px;
			line-height:44px;
			margin:0 auto;
			padding:0;
			font-size:14px;
			text-align:center;
			font-family: Arial;
		}
	}
}

#fixed_sns li a:hover,
.dp_feed_widget li a:hover {
	-moz-transform: rotate(15deg); 
	transform:rotate(15deg);
	-webkit-transform: rotate(15deg);
}

#expand_float_menu {
	display:none;
	cursor:pointer;
	position:absolute;
	top:0;
	left:-6px;
	height:44px;
	line-height:44px;
	width:20%;
	padding:0 12px 0 12px;
	text-align:left;
}

ul.menu{margin:0;}