// **********************************************************
// media queries
// **********************************************************
@include mq-custom ( 0, '1179px', false, false ) {
	.container-widget-area,
	.container-widget-area.liquid,
	.content_footer{
		width:100%;
		padding-right:10px;
		padding-left:10px;
	}
}
@include mq-custom ( 0, '960px', false, false ) {
	body{-webkit-text-size-adjust:none;}
	
	div#header_container,
	div#header_container_paged,
	div#header_container_half,
	.dp_breadcrumb,
	#container,
	#ft-widget-content,
	#ft-btm-content {
		width:95%;
	}

	header#header_area {
		height:560px;
	}
	div#header_container,
	div#header_container_half{
		top:100px;
	}
	#site_title h1 img, 
	#header_container_paged h1 img {
		max-width:100%;
	}

	div#top-right-widget {
		margin-top:0;
	}
	#fixed_sform .hd_searchform {
		right:10px;
		width:100%;
	}

	// Floating, Global menu
	#expand_float_menu {
		display:block;
	}
	ul#fixed_menu_ul{
		top:44px;
		width:auto;
		height:auto;
		margin:0;
		display:none;

		li {
			float:none;
			width:auto;
			height:auto!important;
			text-align:left;

			ul {
				li {
					position:relative;
				}
			}

			a {
				padding:8px 12px 12px 12px;
			}
		}

		ul {
			position: relative;
			width:auto;
			overflow: hidden;

			&.sub-menu {
				position:relative;
				width:auto;
				margin-left:20px;
				overflow:hidden;
			}

			ul {
				left:0!important;
			}
		}
	}

	#content,
	#sidebar,
	#sidebar2,
	#ft-widget-area1,
	#ft-widget-area2,
	#ft-widget-area3,
	#ft-widget-area4{
		float:none!important;
		width:auto!important;
		margin:0 auto $separateWidth auto!important;
		left:auto!important;
		right:auto!important;
		img {

		}
	}

	.breadcrumb_arrow {
		top:-44px;
	}

	#container {
		margin-top:44px;
	}
	#top-container-widget, 
	#top-content-widget, 
	#top-content-bottom-widget {
		margin-bottom:44px;
	}
	
	.top-posts-ul{
		margin:0 auto;
		text-align:center;
		li {
			float:none!important;
			display:inline-block!important;
			width:300px!important;
			min-height:259px!important;
			max-height:259px!important;
			text-align:left;
			margin:0 20px 10px auto!important;

			&.evenpost {
				margin:0 auto 10px auto!important;
			}
		}

		.post_thumb_portfolio {
			height:200px!important;
		}
	}
	
	.loop-article.post_excerpt {
		width:100%;
		margin:0 auto;
		padding:30px 0 30px 0;
	}

	#gallery-style, 
	#gallery-style-1col {
		margin:0 auto 30px auto;
	}

	.post img,
	div#header_container img,
	div#header_container_half img{
		height:auto;
		width:auto\9;
	}

	.entry iframe {
		max-width: 100%;
	}

	#ft-widget-container {
		padding:30px 0 20px 0;
	}

	a#gototop {
		display:none;
	}
}

@include mq-custom ( 0, '900px', false, false ) {
	.mq-hide900{display:none;}
	.mq-show900 {display:block;}
	
	div#header_container,
	div#header_container_half {
		top:44px;
	}
	header#header_area {
		height:480px;
	}
	div#site_title h1{
		font-size:40px;
	}
	.dp_topbar_title {
		padding:20px 0;
		font-size:28px;
		h1 {
			font-size:32px;
		}
	}

	header#header_area_paged .dp-widget-hd-right-not-home {
		display: none;
	}
}

@include mq-custom ( 0, '850px', false, false ) {
	.mq-hide850{display:none;}
	.mq-show850 {display:block;}

	header#header_area {
		height:460px;
	}
}
@include mq-custom ( 0, '820px', false, false ) {
	div#header_container,
	div#header_container_half {
		top:34px;
	}
	header#header_area {
		height:430px;
	}
	div#site_title h1{
		margin-bottom:12px;
	}
	div#site_banner_desc {
		margin:22px 0;
		font-size:14px;
	}
}
@include mq-custom ( 0, '800px', false, false ) {
	.mq-hide800{display:none;}
	.mq-show800 {display:block;}
	
	div#header_container,
	div#header_container_half {
		top:28px;
	}
	
	div#header_left {
		width:100%;
		float:none;
	}
	div#top-right-widget,
	div#site_banner_desc {
		display:none!important;
	}

	header#header_area {
		height:400px;
	}
}
@include mq-custom ( 0, '780px', false, false ) {
	header#header_area {
		height:380px;
	}
	.dp_breadcrumb {
		ul#headline_ticker {
			left:780px;
		}
	}
}
@include mq-custom ( 0, '760px', false, false ) {
	.dp_topbar_title {
		padding:14px 0;
		font-size:25px;
		h1 {
			font-size:28px;
		}
	}
}
@include mq-custom ( 0, '750px', false, false ) {
	.mq-hide750{display:none;}
	.mq-show750 {display:block;}
}
@include mq-custom ( 0, '740px', false, false ) {
	header#header_area {
		height:360px;
	}
}
@include mq-custom ( 0, '700px', false, false ) {
	.mq-hide700{display:none;}
	.mq-show700 {display:block;}

	header#header_area {
		height:340px;
	}

	.top-posts-ul{
		li {
			display: block!important;
			margin:0 auto 10px auto!important;
		}
	}

	#gototop {
		display:none;
	}
}
@include mq-custom ( 0, '680px', false, false ) {
	#expand_float_menu {height:44px;}
	#new-entry{display:none;}
	
	header#header_area {
		height:320px;
	}

	.dp_topbar_title {
		padding:12px 0;
		font-size:22px;
		h1 {
			font-size:25px;
		}
	}
	.dp_breadcrumb {
		.headline_main_title {
			top:-6px;
			float:none;
			margin:0 0 5px 0;
		}
	}
	
	.g_item footer.tbl_meta span.icon-user {
		display:none;
	}

	div#site_banner_container{height:220px;}
}
@include mq-custom ( 0, '660px', false, false ) {
	div#site_banner_desc {
		display: none;
	}

	header#header_area,
	header#header_area_half {
		height:300px;
	}
	
	div#site_banner_image{background-size:105% auto;}
	div#site_banner_container{height:200px;}
}
@include mq-custom ( 0, '650px', false, false ) {
	.mq-hide650{display:none;}
	.mq-show650 {display:block;}

	.post_thumb {
		width:160px;
		min-height:102px;
	}
}

@include mq-custom ( 0, '600px', false, false ) {
	.mq-hide600{display:none;}
	.mq-show600 {display:block;}

	header#header_area,
	header#header_area_half {
		height:280px;
	}
	#header_container_paged h1 a{
		font-size:24px;
		letter-spacing:0.04em;
	}

	div#top-left-bottom-widget {
		display:none;
	}

	.posttitle, 
	.newentrylist,
	.comment_hd_title,
	h3#reply-title {
		font-size:22px;
	}
	div#site_title h2 {
		font-size:14px;
	}
	a.show-this-rss {
		top:5px;
		font-size:15px;
	}

	.new-entry,
	.commentlist_div {
		display:none;
	}
	.g_item_desc {
		font-size:11px;
	}

	.entry h1{font-size:157.1%;}
	.entry h2{font-size:142.9%;}
	.entry h3{font-size:128.6%;}
	.entry h4{font-size:114.3%;}
	.entry h5{font-size:107.1%;}
	.entry h6{font-size:100%;}

	img.bd {
		box-sizing:border-box;
	}
}
@include mq-custom ( 0, '568px', false, false ) {
	
	#site_title {
		background-attachment:scroll!important;
		background-position-y:0!important;
	}

	.dp_topbar_title {
		font-size:16px;
		h1 {
			font-size:20px;
		}
		&.headline_slider_sec {
			font-size:13px;
		}
	}
	.dp_breadcrumb {
		ul.slides {
			padding:0 10px;
		}
		ul#headline_ticker {
			left:568px;
		}
	}

	.dp_topbar_title,
	#container_footer {
		padding:10px 0;
	}
	#fixed_menu {
		position:absolute;
		top:-44px;
	}
	#fixed_sform {
		position:absolute;
	}
	.dp_breadcrumb ul li {
		left:-4px;
	}
	.breadcrumb_arrow {
		top:-46px;
	}
	header#header_area,
	header#header_area_half {
		height:276px;
	}
	#container {
		margin:44px auto 22px auto;
	}
	.loop-article.post_excerpt {
		padding:22px 0 22px 0;
		> div{
			padding-bottom:11px;
		}
	}
	.post_thumb {
		float:none;
		width:100%!important;
		height:auto!important;
		margin:0 auto 10px auto;
	}
	.post_excerpt {
		.excerpt_div {
			z-index:0;
		}
	}

	.g_item_desc {
		display:none;
	}

	.entry_excerpt,
	.postmetadata_archive .entrylist-cat,
	.postmeta_title .entrylist-cat,
	#sns_buttons,
	.dp_time_for_reading {
		display:none;
	}
	.top-posts-ul li {
		margin-bottom:22px;
	}

	a#gototop2 {
		right:15px;
		bottom:15px;
	}

	// Contact form 7
	.wpcf7-form {
		.wpcf7-form-control-wrap {
			display: block;
			text-align:center;
			margin:0 auto 10px auto;
		}
		.wpcf7-list-item {
			display:block;
			margin:6px auto 10px 0;
			text-align:left;
		}
		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type="url"],
		input[type="tel"],
		input[type="submit"],
		textarea {
			display:block;
			width:100%;
			margin:0 auto;
			padding:10px 6px;
		}
		input.wpcf7-submit {
			height:40px;
			font-size:14px;
		}
	}
}
@include mq-custom ( 0, '550px', false, false ) {
	.mq-hide550{display:none;}
	.mq-show550 {display:block;}
}
@include mq-custom ( 0, '540px', false, false ) {
	div#site_banner_image{background-size:108% auto;}
		header#header_area,
		header#header_area_half {
		height:250px;
	}
}
@include mq-custom ( 0, '520px', false, false ) {
	div#site_banner_image{background-size:112% auto;}
}
@include mq-custom ( 0, '500px', false, false ) {
	.mq-hide500{display:none;}
	.mq-show500 {display:block;}

	header#header_area,
	header#header_area_half {
		height:200px;
	}
	div#site_title h2 {
		display:none;
	}
	
	div#site_banner_image{background-size:116% auto;}
}
@include mq-custom ( 0, '480px', false, false ) {
	.mq-show {display:block;}
	.mq-hide {display:none;}
	
	header#header_area,
	header#header_area_half {
		height:154px;
	}
	#fixed_sns {
		display:none;
	}
	
	div#site_title h1 {
		font-size:28px;
	}
	
	.dp_breadcrumb {
		ul#headline_ticker {
			left:480px;
		}
	}

	#gallery-style .masonry, 
	#gallery-style-1col .masonry {
		width:300px;
	}

	div#site_banner_container{height:180px;}
	
	.entry {
		.fl-r,
		.fl-l,
		.alignright,
		.alignleft{
			float:none;
			display:block;
		}
	}
	img {
		&.fl-r,
		&.fl-l,
		&.alignright,
		&.alignleft{
			padding:0!important;
			margin:0 auto 20px auto!important;
			border:none!important;
		}
	}

	.fbpluginrecommendationsbarright,
	.fbpluginrecommendationsbarleft{
		display:none!important;
	}
}
@include mq-custom ( 0, '440px', false, false ) {
	div#site_banner_image{background-size:120% auto;}
}
@include mq-custom ( 0, '420px', false, false ) {
	div#site_banner_image{background-size:124% auto;}
	.top-posts-ul{
		li {
			width:100%!important;
			min-height:320px!important;
			max-height:420px!important;
		}
		.post_thumb_portfolio {
			height:240px!important;
		}
	}
}
@include mq-custom ( 0, '400px', false, false ) {
	div.top-cat-desc{
		font-size:11px;
		min-height:32px;
		max-height:32px;
	}
	div#site_banner_image{
		background-size:132% auto;
	}
}
@include mq-custom ( 0, '380px', false, false ) {
	div#site_banner_image{
		background-size:142% auto;
	}
}
@include mq-custom ( 0, '340px', false, false ) {
	div#header_container, 
	div#header_container_paged, 
	div#header_container_half,
	.dp_breadcrumb, 
	#ft-widget-content, 
	#ft-btm-content {
		width:300px;
	}
	.top-posts-ul{
		li {
			width:100%!important;
			min-height:280px!important;
			max-height:350px!important;
		}
		.post_thumb_portfolio {
			height:200px!important;
		}
	}
	div#site_banner_image{
		background-size:150% auto;
	}
	.excerpt_div .excerpt_title{
		font-size:14px;
	}
	.dp_breadcrumb {
		ul#headline_ticker {
			left:340px;
		}
	}

	.g_item {
		width:300px!important;
		margin:0 auto 20px auto;
	}
}