// **********************************************************
// Slideshow
// **********************************************************
// Indicator
.sl_loading {
	background:#000 url(#{$jsRelativePath}/jquery/nivo-slider/loading.gif) no-repeat 50% 50%;
}

// Slideshow div
#hd_slideshow {
	position:relative;
	overflow:hidden;
	display:none;
	width:100%;
	background-color:#000;

	// Direction nav styles (e.g. Next & Prev) 
	.nivo-directionNav {
		a {
			@include position(absolute, 48%);
			@include opacity(0);
			color:#fff;
			font-size:28px;
			line-height:20px;
			z-index:100;
			height:28px;
			text-shadow:0 1px 0 #444;
			cursor:pointer;

			&:hover {
				text-decoration:none;
			}
		}

		.nivo-prevNav{
			left:10px;
			&:before {
				font-size:28px;
			}
		}
		.nivo-nextNav{
			right:10px;
			&:before {
				font-size:28px;
			}
		}
	}

	&:hover .nivo-directionNav a {
		@include opacity(.5);
	}
}
.nivoSlider {
	position:relative;
	width:100%;
	height:100%;
	overflow: hidden;

	img {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		max-width: none;
	}

	// If an image is wrapped in a link
	a.nivo-imageLink{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		border:0;
		padding:0;
		margin:0;
		z-index:6;
		display:none;
		@include opacity(0);
	}
}

.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

// The slices and boxes in the Slider 
.nivo-slice{
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box{
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;

	img {
		display:block;
	}
}
// Caption styles 
.nivo-caption{
	position:absolute;
	text-shadow:none;
	left:0;
	bottom:0;
	width:100%;
	max-height:120px;
	overflow:hidden;
	display: none;
	z-index:8;
	@include opacity(0.74);

	p{
		font-size:$px12;
		line-height:1.8;
		padding:6px 8px 10px 8px;
		margin:0;
		text-shadow:none;
	}

	a{
		display:inline !important;
		font-size:$px18;
		font-weight:bold;
		line-height:1.8;
		padding:8px;
	}
}
.nivo-html-caption{
	display:none;
}


// Control nav styles (e.g. 1,2,3...) 
.nivo-controlNav {
	position: absolute;
	bottom:-25px;
	width:100%;
	text-align:center;

	a{
		@extend %inline_block;
		cursor:pointer;
		font-size:0;
		line-height:4px;
		height:4px;
		width:4px;
		margin-right:8px;
		padding:4px;
		@include border_radius(8px);
		@include box_shadow(inset 0 1px 2px rgba(0, 0, 0, 1), 0 -1px 0 #000);
	}

	a:hover,
	a.active{
		font-weight:normal;
		text-decoration:none;

		// DELETE
		background-color:$headerGradient2;
	}
}