@charset "utf-8";

// Anchor text color
a {
	// @include link_color($linkColor, $linkColorHover);
}

code {
	padding:3px 6px 4px;
	margin:auto 6px;
	line-height:2;
	border-radius:3px;
}

hr,
hr.wp-block-separator {
	height: 0;
	margin: $smallSeparateWidth 0 $blockSeparateWidth 0;
	padding: 0;
	border: 0;
	border-top: 1px dotted;
	// border-color:rgba($fontColor,0.34);
}

// Necessary for front page changed to static page
.sticky {
	position:relative;
}
// Clearfix
.clearfix {
	@include clearfix;
	@include pie-clearfix;
}


// **********************************************************
// Header Area
// **********************************************************
header {
	&#header_area,
	&#header_area_half,
	&#header_area_paged {
		position:relative;
		width:100%;
		height:616px;
		padding:0;
		margin:0 auto;
	}

	&#header_area_half {
		height:308px;
	}
	&#header_area_paged{
		margin-top:44px;
		height:110px;
		.hgroup {
			@extend %inline_block;
		}

		.dp-widget-hd-right-not-home {
			margin:4px 0 auto auto;
			text-align: right;
			float:right;
			@extend %inline_block;
		}
	}
}


#header_container,
#header_container_half,
#header_container_paged{
	position:relative;
	top:132px;
	width:$containerWidth;
	margin:0 auto;
	text-align:left;
}

#header_container_half {
	top:74px;
}
#header_container_paged {
	top:24px;
}
#header_left{
	position:relative;
	display:none;
	width:55%;
	float:left;
}
#top-right-widget {
	margin-top:-66px;
	width:45%;
	float:right;
	display:none;
}
#site_title {
	height:100%;
	margin-top:44px;
	background:transparent url(../img/misc/loading2.gif) no-repeat 50% 50%;
	text-align:left;
	letter-spacing:0.75pt;
	z-index:100;
	overflow:hidden;
}
#site_title,
#header_container_paged {

	h1 {
		position:relative;
		left:-50px;
		height:auto;
		margin-bottom:11px;
		font-size:48px;

		a {
			@extend %inline_block;
			text-decoration:none;
			line-height:1.4;
			letter-spacing:1.3pt;
		}

		img {
			position: relative;
			top:2px;
			border:none;
			vertical-align:middle;
			padding:0;
			height:90px;
			max-height:90px;
			-webkit-transform:none;
		}
	}
}

// Fix for paged
#header_container_paged {
	h1 {
		left:0;
		font-size:34px;
		margin:0;
		
		// End Fix paged H1 title position 
		img {
			margin-top:-16px;
		}
	}

	h2 {
		font-size:13px;
		font-weight:normal;
	}
}


#site_title h2 {
	position:relative;
	right:-50px;
	font-size:20px;
	line-height:122%;
	height:auto;
}

/* Stretcher Background image */
#bgstretcher {
	ul {
		position:absolute;
		margin:0;
		padding:0;
		list-style-type: none;

		li {
			position:absolute;
			top:0;
			img {
				height:auto!important;
			}
			&:before {
				content:"";
			}
		}
	}
}
span.bgstr-tooltip {
	position:absolute;
	display:none;
	font-size:16px;
	padding:22px;
	width:340px;
}


#site_banner_desc {
	font-size:14px;
	line-height:150%;
	margin:44px 0;
}
#header_container_half {
	#site_banner_desc  {
		margin:22px 0;
	}
}
#site_banner_container{
	position:relative;
	width:100%;
	height:260px;
	text-align:left;
	overflow:hidden;
}

#site_banner_image{
	position:relative;
	width:100%;
	height:100%;
}

// Global menu caption
.menu-caption{
	position:absolute;
	top:12px;
	width:100%;
	cursor:pointer;
	max-height:30px;
	max-width:100%;
	font-size:11px;
	letter-spacing:1.4pt;
	overflow:hidden;
}


// **********************************************************
// Container Area
// **********************************************************
#container{
	clear:both;
	text-align:left;
	width:$containerWidth;
	margin:66px auto;
	margin-bottom:66px\9;
}

/* Widget in container and content */
#top-content-widget,
#top-content-bottom-widget{
	margin-bottom:66px;
	border-bottom:none;
	box-shadow:none;
	-webkit-box-shadow:none;
}
#top-content-bottom-widget {
	margin:44px 0 22px 0;
}
#top-content-widget.entry,
#top-content-bottom-widget.entry {
	padding-bottom:0;
}
.container-widget-area img,
#top-content-widget img,
#top-content-bottom-widget img,
#sidebar img{
	border:none;
	padding:0;
	margin:0;
}

.container-widget-area {
	width:$containerWidth;
	margin: 0 auto;
	box-sizing:border-box;
	&.pos-top{
		margin:66px auto;
	}
	&.liquid{
		width:100%;
		padding:0 2vw;
		box-sizing:border-box;
	}
}

// **********************************************************
// Breacrumbs
// **********************************************************
.dp_topbar_title {
	padding:30px 0 38px 0;
	font-size:30px;
	line-height:1;

	&.headline_slider_sec {
		padding:20px 0 22px 0;
		font-size:14px;
		line-height:1.3;
		text-align:center;
	}

	h1 {
		text-align:center;
		font-size:42px;
		letter-spacing: 3px;
	}
}

.dp_breadcrumb {
	position:relative;
	width:$containerWidth;
	margin:0 auto;

	.headline_main_title {
		@extend %inline_block;
		position:relative;
		top:0;
		float:left;
		margin-right:10px;
		h1 {
			font-size:12px;
			text-shadow:none;
			letter-spacing:0.05em;
			padding:4px 12px;
			@extend %border_radius_all_2px;
		}
	}

	ul {
		list-style-type:none;
		padding:0 0 42px 0;
		margin:0;

		li {
			position:relative;
			float:left;
			padding:0;

			&:after {
				padding-left:10px;
			}
		}
	}
	
	// Headline SLider
	.headline_slider {
		overflow:hidden;
		text-align:center;
		.slider-arrows {
			text-align:right;
			font-size:14px;
			.arrow_r{
				float:right;
			}
		}
	}
	ul.slides {
		position:relative;
		overflow: hidden;
		padding:0;
		display:none;
		@include css3(transition, all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000));
		li {
			a {
				padding:4px 15px;
				line-height:1.6;
				&:hover {
					// background-color:rgba(0,0,0,0.15);
				}
			}
			&:after {
				content:'';
				padding-left:0;
			}
		}
	}
	ul#headline_ticker {
		transition:none;
		-webkit-transition:none;
		left:$containerWidth;
		li {
			margin:0 50px 0 0;
			white-space: nowrap;
		}
	}
}
.breadcrumb_arrow {
	display:block;
	position:relative;
	top:-66px;
	width: 0px;
	height: 0px;
	margin:0 auto;
	border-style: solid;
	border-width: 22px 22px 0 22px;
	-webkit-transform:rotate(360deg);
}


// **********************************************************
// Content
// **********************************************************
.content{
	width:630px;
	min-height:100%;
	height:auto;
	line-height:198%;
	padding:0;
	margin:0;

	&.one-col {
		width:100%;
		float:none;
		left:auto;
		right:auto;
	}
	&.three-col {
		width:490px;
	}

	ol {
		li {
			margin:2px 0 2px 22px;
		}
	}
	blockquote:before,
	blockquote:after{
		display:block;
		line-height: 128%;
		padding:12px 0  0 6px;
		font-size:32px;
	}

	blockquote:before {
		margin:0 auto 0 0;
	}
	blockquote:after{
		margin:-22px 0 0 auto;
		text-align: right;
	}
	blockquote{
		position:relative;
		padding:12px 22px 22px 22px;
		margin:0 18px 20px 18px;
	}
	blockquote p{
		padding:8px 44px 22px 44px;
	}

	pre{
		padding:12px;
		margin-bottom:44px;
		line-height:168%;
		font-size:14px;
		max-height:500px;
	}

	table,
	blockquote,
	dl{
		margin-bottom:$separateWidth;
	}
}

#container address {
	padding-left:12px;
}

/* container footer */
#container_footer {
	position:relative;
	bottom: 0;
	padding:31px 0 31px 0;
	z-index:10;
}
.content_footer {
	text-align: left;
	width:$containerWidth;
	margin:0 auto;
	padding:0;
	border-bottom:none;
	box-sizing:border-box;
	&.liquid{
		width:100%;
		padding:0 2vw;
	}
}

// **********************************************************
// Toppage new entry lists
// **********************************************************
#scrollentrybox,
#scrollentrybox-single {
	overflow:auto;
}
#scrollentrybox-single {
	max-height:202px;
}
.new-entry {
	position:relative;
	margin-bottom:88px;
	font-size:12px;
}
.new-entry ul{
	margin:0;
}
.new-entry ul li {
	display:block;
	margin:0;
	padding:5px 0;
	line-height: 152%;
}
.entrylist-title {
	font-size:15px;
}
.entrylist-date {
	width:110px;
	float:left;
	margin-right:10px;
}
.entrylist-cat {
	margin-bottom:8px;
	a{
		@extend %inline_block;
		bottom:4px;
		padding:4px 6px;
		margin-bottom:3px;
		font-size:10px;
		line-height:1;
		white-space: nowrap;
	}
}

/* RSS ICON LINK*/
a.show-this-rss {
	position:absolute;
	top:10px;
	right:0;
	font-size:18px;
}


.posttitle,
.newentrylist {
	top:-10px;
	font-size:23px;
	line-height:142%;
	padding:0 6px 3px 0;
	margin:0 0 10px 0;
	vertical-align:middle;
}
.newentrylist {
	margin-bottom:0;
}
.dp_related_posts_horizon .posttitle,
.dp_related_posts_vertical .posttitle {
	margin-bottom:0;
}


// **********************************************************
// Post area
// **********************************************************
.postmeta_title,
.postmeta_bottom,
.postmetadata_archive {
	line-height: 1;
	margin-bottom:15px;
	font:{
		size:11px;
	}
	a {
		font-size:11px;
	}
	time {
		@extend %inline_block;
	}
	span {
		margin-right:10px;
	}
	.dp_time_for_reading {
		span {
			margin:0;
		}
	}
}
.postmeta_title {
	margin:0 0 15px 0;
	padding-bottom:10px;

	.first_row {
		margin-bottom:6px;
	}
}

.postmeta_bottom {
	@extend %border_top_dotted;
	@extend %border_bottom_dotted;
	padding:$separateWidth / 2 0;
}

.post, 
.post_excerpt {
	position:relative;
	display:block;
	clear:both;
	margin:0 0 44px 0;
	_zoom:1;
}
.post_excerpt {
	margin:0;
	padding:33px 0 28px 0;
	cursor:pointer;
}
.post_excerpt:first-child{
	padding-top:0;
}
.post_excerpt:last-child{
	margin-bottom:44px;
}
.posttitle a{
	text-decoration:none;
	padding:0;
}
.excerpt_div {
	position:relative;
	top:0;
	line-height: 1.3;
	z-index:0;

	.span {
		margin-right:4px;
	}
}
	// For normal archive post title
	.excerpt_title {
		display: inline;
		font-size:17px;
		margin-right:4px;
		a{
			line-height:1.42;
			margin: 0;
			&:hover {
				text-decoration:none;
			}
		}
	}

	.first-post {
		padding-top:0;
	}
	.last-post {
		margin-bottom:44px;
	}

#top-under-free,
#archive-under-free{
	border-bottom:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

// **********************************************************
// Entry area
// **********************************************************
.entry, 
.entry_excerpt{
	position:relative;
	letter-spacing:0.02em;
	line-height:1.86;
	padding:0 0 22px 0;
	margin:0;
}
.entry_excerpt{
	padding-bottom:0;
	font-size:12px;
	line-height:1.54;

	p {
		padding:20px 0 20px 0;
	}
}

.entry,
.dp_text_widget,
.textwidget {
	p {
		padding:0 0 $separateWidth 0;
	}


	h1,
	h2,
	h3,
	h4,
	h5,
	h6{
		line-height:1.6;
		padding:8px 0 0 0;
		margin:22px 0 12px 0;
	}
	h2,
	h4{padding:2px 0 0 8px;}

	h1{font-size:185.7%;}
	h2{font-size:171.4%;}
	h3{font-size:157.1%;}
	h4{font-size:142.9%;}
	h5{font-size:128.6%;}
	h6{font-size:114.3%;}

	img{
		margin:22px auto 22px 0;
		max-width: 100%;
		height:auto;
		&:hover {
			@extend %translateZ0;
		}
	}
	img.fl-l,
	img.alignleft,
	.wp-caption.alignleft{ 
		margin:10px 32px 32px 0;
	}
	img.fl-r,
	img.alignright,
	.wp-caption.alignright{
		margin:10px 0 32px 32px;
	}
	ul,
	ol {
		margin:0 0 0 10px;
		padding:0 0 $separateWidth 0;

		li {
			line-height:192%;
			padding:2px 0 2px 0;
		}
	}
	// Fix :before content
	ul {
		list-style:none;
		margin-left:32px;

		li {
			&:before {
				top:4px;
				font-size:22px;
				margin:0 8px 0 -28px;
			}
		}
	}
	ol ol,
	ul ul {
		padding:0;
	}
	ol{
		list-style-type:decimal;
	}

	input[type="submit"] {
		position:relative;
		font-size:13px;
		padding:0 16px;
		margin-right:0;
		line-height: 2;
		cursor:pointer;
		border:none;
	}

	.dp-widget-content h1 {
		margin-top:0;
	}

	> p {
		> a.more-link {
			display:block;
			width:80px;
			line-height:18px;
			margin:22px 0 0 auto;
			padding:6px 10px;
			text-align:center;
			font-size:12px;
		}
	}
}


// Attatchment figure with caption
.wp-caption {
    max-width: 100%;
    margin: 12px auto 40px;
    padding: 5px;
    text-align: center;
    border-radius:3px;
    box-shadow:0 6px 24px -16px;
    @extend %common_border_1px;
    @extend %common_background_color;
    img {
        height: auto;
        margin: 0 auto 5px;
    }
    p{
        padding:0;
        margin:0;
    }
}
// Caption
.wp-caption-text {
    padding:4px 0;
    margin:0;
    font-size:13.5px;
}


#content_footer {
	.entry {
		padding-bottom:0;
	}
}


// **********************************************************
// Related posts
// **********************************************************
.dp_related_posts_vertical,
.dp_related_posts_horizon {
	margin-bottom:44px;
}
.dp_related_posts_vertical h3,
.dp_related_posts_horizon h3{margin-top:0;}

.dp_related_posts_vertical,
.dp_related_posts_horizon {
	h4 {
		font-size:11px;
		line-height:1.4;
		font-weight:bold;
		border:none;
		@extend %inline_block;
	}

	img {
		border:none;
		margin:0;
		padding:0;
	}

	.entrylist-cat {
		margin-bottom:0;
	}
}
.dp_related_posts_vertical ul,
.dp_related_posts_horizon ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
.dp_related_posts_vertical ul li:before,
.dp_related_posts_horizon ul li:before{
	content:'';
}


.dp_related_posts_vertical {
	h4 {
		padding-top:4px;
		font-size:12.8px;
		display:list-item;
	}

	li {
		padding:5px 0;
		margin:0;
		cursor:pointer;
	}
}

.dp_related_posts_horizon  {
	line-height: 1.4;

	.widget-post-thumb {
		width:115px;
		height:80px;
		float:none;
		margin-bottom:8px;
	}

	li {
		display:block;
		float:left;
		padding:10px 5px 0 5px;
		margin:0;
		width:115px;
		min-height:178px;
		max-height:178px;
		overflow:hidden;
		cursor:pointer;

		&.rel_post_1col {
			width:126px;
			min-height:185px;
			max-height:185px;

			.widget-post-thumb {
				width:125px;
				height:87px;
			}
		}
		&.rel_post_3col {
			width:111px;
			min-height:174px;
			max-height:174px;

			.widget-post-thumb {
				width:110px;
				height:77px;
			}
		}
	}
}

.dp_related_posts_vertical,
.dp_related_posts_horizon{
	.entrylist-cat a {
		text-decoration:none;
	}
}

.tagbar,
.relatedposts {
	font-weight:bold;
	margin:15px 0 0 0;
	padding:0 7px;
}

/* For Simple tags related post plugin */
.st-related-posts{
	margin:5px 0 12px 8px!important;
	border:none!important;

	li {
		color:#2d2d2d!important;
	}
}

.dp-pagenavi  {
	a.more-link {
		background-color:none;
	}
}



// **********************************************************
// Post meta info
// **********************************************************
.postmeta_title,
.postmetadata,
.postmetadata_archive {
	font-size:11px;
	padding:10px 0 44px 0;
	margin:0;
	line-height: 1.64;
}
.postmeta_title {
	padding:0;
	margin-bottom:22px;
}
.postmetadata_archive {
	padding:0;
}
.postmetadata span,
.postmeta_title span,
.postmetadata_archive span,
.abs_time {
	margin-right:6px;
}
.dp_time_for_reading span{
	margin:0px;
}
.postmeta_title div,
.postmetadata div,
.postmetadata_archive div{
	margin:0 0 6px 0;
	padding:0;
}
.postmeta_title a,
.postmetadata a,
.postmetadata_archive a{
	font-weight:normal;
}

#single-header-widget,
#single-footer-widget {
	margin-bottom:0;
}
#single-header-widget img,
#single-footer-widget img,
#content_footer img,
#ft-widget-content img {
	margin:0 auto;
	height: auto;
	max-width:100%;
}


div.trackback_url_area{
	margin:22px 0 22px 0;
	font-size:78.6%;

	div {
		background-color:#eee;
		color:#333;
		padding:0;
		overflow:hidden;
	}

	input {
		width:98%;
		border:none;
		background-color:transparent;
	}
}
input.trackback-url{
	line-height:188%;
	margin:0;
}


// **********************************************************
// Comment
// **********************************************************
#comment_section {
	margin-top:44px;
}
#respond {
	margin-top:44px;
}
.comment_hd_title,
h3#reply-title {
	font-size:23px;
	line-height:165%;
	padding:0;
	margin:0 0 11px 0;
}

ul#switch_comment_type {
	list-style-type:none;
	padding:0;
	margin:0;

	li {
		float:left;
		width:50%;
		height:34px;
		font-size:15px;
		cursor:pointer;
		border-radius:2px 2px 0 0;

		span {
			display:block;
			height:100%;
			padding-left:12px;
			line-height:34px;
		}
	}
}

.inactive_tab {
	background-color:#eee;
	color:#666;
}

div.trackbacks_div {
	display:none;
}

form#commentform{
	font-size:78.6%;
	margin:11px 0 66px 0;

	input[type="text"],
	input[type="url"],
	input[type="email"],
	textarea {
		padding:0;
		margin:0;
		width:100%;
		background-color:transparent;
		border:none;
	}
	.form-submit{
		margin:0;
	}
}

div#comment-author,
div#comment-email,
div#comment-url,
div#comment-comment{
	font-size:13px;
	padding:0 8px;
	margin-bottom:11px;
}
ol.commentlist{
	list-style-type:none;
	margin:10px 0 20px 0;
	border:none!important;

	p {
		font-size:12px;
		padding:4px 0 20px 0;
	}
	ul{
		&.children {
			list-style-type:none;
			margin:22px 0 -18px 0;
		}
	}
}

li.comment,
li.trackback,
li.pingback{
	font-size:13px; /* Fix font size */
	line-height:175%;
	padding:14px;
	margin:4px 0 20px 0!important;
	border:1px solid #bababa;

	div.reply{
		position:relative;
		top:0;
		text-align:right;
	}
}
.comment-author,
.bypostauthor {
	margin-bottom:12px;
	font-size:11px;
	img {
		padding:3px;
		float:left;
		background-color:#fff;
		border:1px solid #ccc;
	}
}
// only post author comment
.bypostauthor {

}

.commentmetadata{
	position:relative;
	top:8px;
}
.comment_author_name{
	position:relative;
	top:4px;
}
img.avatar{
	margin:0 12px 6px 0!important;
}

div.comment-body p{
	position:relative;
	top:6px;
}

a.comment-reply-link {
	padding:4px 8px;
	text-shadow:none;
}

textarea#comment{
	width:95%;
	height:100px;
	margin-top:8px!important;
}

/* Form */
input#submit{
	width:100px;
	height:24px;
	padding:12px 0;
	margin:4px auto 12px auto;
	cursor:pointer;
	border:none;
}
#commentform {
	input[type="submit"] {
		width:100%;
		height:44px;
		padding:0;
		margin:0;
		font-size:16px;
	}
}
// **********************************************************
// Facebook social Widget Plugins
// **********************************************************
.fb-comments,
.fb-comments span[style],
.fb-comments iframe[style],
.fb_iframe_widget:not(.fb-like),
.fb_iframe_widget[style],
.fb_iframe_widget:not(.fb-like) iframe[style],
.fb_iframe_widget:not(.fb-like) span[style] {
	overflow: hidden;
	width: 100% !important;
}
.fb_iframe_widget iframe{
	max-width:none;
}
.fb-page{
	margin-bottom:40px;
}
.fb-like{
	display:inline-block!important;
	>span{
		vertical-align:top!important;
	}
}


// **********************************************************
// Navigation
// **********************************************************
nav.navigation{
	display:block;
	clear:both;
	width:100%;
	margin:$separateWidth 0 12px 0;
	.tooltip{
        opacity:1;
    }
}
.navialignleft{
	float:left;
	text-align:left;
	span:before {
		margin-left:-8px;
	}
}
.navialignright{
	float:right;
	text-align:right;
	span:after {
		margin-right:-8px;
	}
}
.navialignleft,
.navialignright {
	a {
		padding:6px 0 4px 0;
		font-size:32px;
	}
	span:before,span:after {
		position:relative;
		top:-4px;
		font-size:30px;
		display: inline-block;
	}
}
.nav_to_paged {
	line-height:44px;
	margin:0 auto;

	a {
		display:block;
		text-align:center;
	}
}

.wp-pagenavi,
.wp-navigation{
	text-align:center;
	padding:5px 0 5px 0;
	margin:8px 0 25px 0;
}
.dp-pagenavi {
	padding:0;
	margin:0 auto;
	text-align:center;

	span,
	a {
		@extend %inline_block;
		line-height:32px;
		margin:0;
		padding:0 12px;
		font-size:78.9%;
		white-space: nowrap;
	}
}


// ***************************************
// Read More 
// ***************************************
div.more_block{
	text-align:right;
	padding:8px 10px 8px 0;
	margin:6px 0 4px auto;
}
// For recent post widget
.more-entry-link {
	position:absolute;
	top:0;
	right:0;
	@extend %border_radius_all_2px;
	@extend %tagcloud_style;
	// @extend %common_bordercolor_bgcolor;
	// @extend %common_box_shadow_linkcolor_1px;
}

// ***************************************
// Auto pager
// ***************************************
#pager-loading {
	background:transparent url(../img/misc/loading1.gif) no-repeat 50% 50%;
	background-size:100%;
	width:30px;
	height:30px;
	text-align: center;
	margin:0 auto;
}



// **********************************************************
// Portfolio
// **********************************************************
#post-table-section {
	position:relative;
}
.top-posts-ul{
	position:relative;
	width:100%;
	margin:0;
	list-style:none;
	li {
		display:block;
		position:relative;
		width:300px;
		min-height:259px;
		max-height:259px;
		height:auto;
		line-height:160%;
		padding:0;
		margin:0 0 30px 0;
		@extend %border_radius_all_2px;
	}
		.loop-article {
			position:absolute;
			height:100%;
			width:100%;
			
			.post_tbl_div {
				opacity:0;
				visibility:hidden;
				@extend %hover_easing_0_3s;
			}

			&:hover {
				.post_tbl_div{
					opacity:1;
					visibility:visible;
				}
			}
		}

	&.one-col{
		li{
			margin-bottom:30px;
			float:left;

			&:nth-child(3n-1){
				float:left;
				margin-left:30px;
			}
			&:nth-child(3n){
				float:right;
			}
			&:nth-child(3n+1){
				clear:both;
			}
		}
	}

	&.two-col{
		li {
			&:nth-child(2n+1){
				clear:both;
			}
			&.odd{
				float:left;
			}
			&:nth-child(odd){
				float:left;
			}
			&.even{
				float:right;
			}
			&:nth-child(even){
				float:right;
			}
		}
	}

	&.three-col{
		li {
			width:240px;
			min-height:224px;
			max-height:224px;
			margin-bottom:10px;

			&:nth-child(2n+1){
				clear:both;
			}
			&.odd{
				float:left;
			}
			&:nth-child(odd){
				float:left;
			}
			&.even{
				float:right;
			}
			&:nth-child(even){
				float:right;
			}

			.post_thumb_portfolio,
			.post_info_portfolio {
				width:100%;
				height:160px;
			}
		}
	}

	&:after {
		content:"";
		display:block;
		clear:both;
	}
}
.hide-ex li{
	min-height:300px!important;
	max-height:300px!important;	
}

.top-tbl-title {
	font-size:14px;
	padding:0 20px;
	line-height:1.5;
}
.top-cat-desc {
	font-size:12px;
	line-height:160%;
	margin:8px 0 0 18px;
	min-height:0;
	max-height:58px;
	overflow:hidden;
}
img.hatebunumber{
	position:relative; 
	top:2px;
}

.post_info_portfolio {
	position:absolute;
	top:0;
	width:100%;
	height:200px;
	display:inline-table;
	text-align:center;
	vertical-align:middle;
	overflow:hidden;
	cursor:pointer;

	@include border_radius(2px 2px 0 0);

	a {
		font-weight:bold;
		font-weight:normal;
		display: table-cell;
		vertical-align: middle;
		padding:20px;
	}
}

.tbl_meta {
	position:relative;
	top:0;
	font-size:10px;
	margin:0;
	padding:11px 5px;
	line-height: 2;

	span {
		margin-right:6px;
	}

	a,
	a:hover{
		text-decoration:none;
	}
}

// Thumbnail
.post_thumb,
.post_thumb_portfolio,
.widget-post-thumb {
	position:relative;
	overflow:hidden;
	background-color:#f0f0f0;
	background-color:rgba(0,0,0,0.08);
	
	background-repeat:no-repeat;
	background-image:url(../img/misc/loading3.gif);
	background-position:50% 50%;
	background-size:22px 22px;

	@extend %translateZ0;
	img {
		opacity:0;
	}
}
// Excerpt block
.post_thumb {
	float:left;
	width:200px;
	min-height:127px;
	margin-right:22px;
	z-index:1;

	img {
		-webkit-transition:all 0.4s ease;
		-moz-transition:all 0.4s ease;
		-ms-transition:all 0.4s ease;
		-o-transition:all 0.4s ease;
		transition:all  0.4s ease;

		&:hover {
			-moz-transform: scale(1.15); 
			-webkit-transform:scale(1.15);
		}
	}
}
// Overwright post thumbnail size
.post_thumb_portfolio {
	margin:0;
	height:200px;
}
.post_thumb,
.post_thumb_portfolio {
	a {
		display:block;
		height:100%;
		margin:0 auto 0 auto;
		text-align:center;
			@extend %translateZ0;

	}
	img {
		margin:0;
		padding:0;
		border:none;
	}
}



// **********************************************************
// Gallery archive style
// **********************************************************
#gallery-style,
#gallery-style-1col {
	position:relative;
	width:100%;
	margin:0 auto 66px auto;
	text-align: center;

	h1 {
		a {
			@extend %inline_block;
			font-size:15px;
			font-weight: bold;
		}
	}
}
#gallery-style {
	h1 {
		margin-bottom:12px;
		line-height: 1.4;
	}
	.grid-sizer {
		width:630px;
		position: absolute;
	}
}
.g_item{
	float:left;
	margin:0 12px 11px 0; /* Add 1px diff for shadow and border */
	text-align:left;
	overflow: hidden;

	footer.tbl_meta {
		padding:11px 0;
	}
}
.g_item_desc {
	margin:12px 0 10px 0;
	font-size:11.5px;
	line-height: 1.8;
}
.post_thumb_gallery {
	margin-bottom:12px;
	a {
		display:block;
	}
	img {
		width:100%;
		height:auto;
	}
	@extend %translateZ0;
}



// **********************************************************
// WordPress gallery
// **********************************************************
// Gallery block
ul.blocks-gallery-grid,
.entry ul.blocks-gallery-grid{
    margin:0 0 4em 0;
}
ul.blocks-gallery-grid{
    .blocks-gallery-item{
        padding:0;
        &::before{
            content:none;
            display:none;
            border:none;
        }

        img{
            margin:auto;
            padding:0;
        }
    }
}
// Media gallery
.gallery {
	dl,
	dt,
	dd{
		background-color:transparent!important;
		border:none!important;
	}
	a,
	img {
		-webkit-transition:none!important;
		-moz-transition:none!important;
		transition:none!important;
	}
}

dl.gallery-item {
	position:relative;
	text-align:left;
	width:auto;
	margin-bottom:0;
}
dt.gallery-icon {
	img {
		margin:0;
		padding:0;
		border:1px solid #eee!important;
		border:1px solid rgba(32,32,32,0.18)!important;
	}
}
dd.gallery-caption {
	position:relative;
	bottom:5px;
	overflow:hidden;
	font-size:11px;
	line-height:1.3;
	padding:0 18px;
	border:none!important;
}

// Screenchot hatebu number 
img.dp_ss_hatebu {
	position:relative;
	vertical-align:-3px;
	padding:0 0 0 4px!important;
	margin:0!important;
}


// **********************************************************
// Sidebar
// **********************************************************
#sidebar, 
#sidebar2{
	position:relative;
	min-height:100%;
	height:100%;
	overflow:hidden;
}
.widget-box{
	position:relative;
	margin:0 0 44px 0;
	padding:0;
	font-size:12px;
	line-height:168%;

	a {
		font-weight:normal;
	}

	p{
		margin:5px 0 10px 0;
	}

	img {
		max-width:100%;
	}

	select{margin:10px;}
}

#ft-widget-content,
.widget-box {
	h1 {
		font-size:18px;
		line-height:1.4;
		padding:0 0 2px 0;
		vertical-align:bottom;
	}
}
.widget_title_hover,
.fake-hover{
	display:block;
}

#sns_buttons ul,
.sns_buttons_meta ul,
.widget-box ul,
.ft-widget-box ul{
	position:relative;
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
	overflow:hidden;
}
#sns_buttons ul,
.sns_buttons_meta ul {
	overflow: visible;
}

.widget-box ul,
#ft-widget-content ul.recent_entries.thumb li{
	background:none;
}

.widget-box,
.ft-widget-box {
	li {
		margin:0;
		padding:6px 0;
		line-height:1.48;

		li {
			padding-left:15px;
		}

		ul {
			position:relative;
			right:0;
		}
	}
}

.widget_nav_menu,
.widget_pages,
.widget_categories{
	a {
		display:block;
		line-height: 2.8;
	}

	li  {
		position:relative;
		padding:0;
		line-height:238%;
		font-size:12px;

		a {
			text-decoration:none!important;
			&:before {
				padding-right:6px;
			}
		}

		ul {
			li {
				a {
					&:before {
						padding-right:6px;
					}
				}
			}
		}
	}
	&.slider_fx {
		ul {
			&.children {
				display:none;
			}
		}
	}
}
// Only category widget
.widget_categories {
	li {
		// Count number
		.count {
			margin:auto 0 auto 10px;
			padding:4px 6px;
			font-size:10px;
			font-weight:bold;
			border-radius:2px;
		}
	}
}

.widget_nav_menu {
	&.slider_fx {
		ul {
			&.sub-menu {
				display:none;
			}
		}
	}
	li {
		a{
			display:block;
		}
	}
}
.dp_tab_widget{
	&.slider_fx {
		#tab_category_content {
			ul {
				&.children {
					display:none;
				}
			}
		}
	}
}

.widget_rss div.rssSummary,
.widget_rss cite {
	font-size:11px;
}

.widget_rss div.rssSummary{
	line-height:15px;
	padding:4px;
}

.dp_twitter_follow_widget,
.dp_feedly_widget {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.widget-time{
	display:block;
	font-size:71.4%;
}

#calendar_wrap{
	width:100%;
	margin:0 auto;
}


#wp-calendar{
	font-size:12px;
	width:100%;
	margin:0 auto;

	caption{
		font-size:12px;
		margin:14px auto 6px auto;
		text-align: center;
	}
	th,
	td{
		position:relative;
		left:-1px;
		text-align:center;
		padding:0;
		font-weight: normal;
		line-height: 29px;
		border-right:1px solid transparent;
		border-bottom:1px solid transparent;
	}
	tbody td a {
		display:block;
	}
	td#prev {
		text-align:left;
	}
	td#next {
		text-align:right;
	}
	td#today {
		background-color: rgba(0,0,0,0.07);
	}
}

.widget-post-thumb {
	position:relative;
	float:left;
	overflow: hidden;
	width:102px;
	height:68px;
	margin:0 10px 0 0;

	img {
		width:100%;
		height:auto;
		margin:0;
		padding:0;
	}
}

ul.recent_entries {
	margin-left:auto;

	li {
		position:relative;
		cursor:pointer;
		line-height:152%;
		min-height: 44px;
		padding:5px 0;
		margin-left:auto;
	    letter-spacing:-1em;
	    white-space:nowrap;
	    &::before{
	        display:none;
	        content:none;
	        box-shadow:none;
	    }
	    *{
	        letter-spacing:normal;
	        white-space:normal;
	    }
	}
	&.thumb {
		li {
			min-height:68px;
		}
	}
}
.recent_entries li time, 
.excerpt_div time{
	display:block;
	font-size:10px;
	margin-bottom:6px;
}

div#top-right-widget ul.recent_entries {
	list-style-type: none;
	margin:8px 0 22px 0;

	li {
		min-height:32px;
		font-size:12px;
		padding:8px 0;
	}
}



// Tag cloud
.tagcloud {
	position:relative;
	margin:8px 0 0 0;

	a {
		font-size:12px!important;
		@extend %tagcloud_style;
	}
}
.widget_tag_cloud {
	a {
		font-size:12px!important;
		@extend %tagcloud_style;
	}
}

ul.dp_feed_widget{
	margin:0 auto 0 auto;
	padding:0;
	text-align: center;
}
ul.dp_feed_widget li,
ul.dp_feed_widget li a {
	position:relative;
	top:6px;
	margin:0 2.4% 15px;
	@extend %inline_block;
	width:36px;
	height:36px;
	text-align:center;
	font-family: Arial;
	i{
		&:before{
			font-size:20px;
			line-height:36px;
			display:block;
		}
	}
}
#dp_fix_widget{
	max-width:300px;
	z-index:1;
}
/* Tab widget */
ul.dp_tab_widget_ul li{
	@extend %inline_block;
	float:left;
	overflow:hidden;
	height:24px;
	padding:6px 6px 0 6px;
	margin:0 2px 0 0;
	cursor:pointer;
	font-size:13px;
	border-radius:2px 2px 0 0;
}
.dp_tab_contents > div{
	display:none;
}

// ***************************
// Form
.widget_archive,
.widget_categories{
	select {
		width:100%;
		margin:10px 0 0 0;
		height:28px;
		line-height: 28px;
		font-size:12px;
		text-align: center;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		border-radius:0;
		cursor: pointer;
		background-color:transparent;
		border:1px solid rgba(0,0,0,0.14);
		&:hover {
			background-color:rgba(0,0,0,0.06);
		} 
	}
}






// **********************************************************
// Footer
// **********************************************************
#footer{
	position:relative;
	clear:both;
	width:100%;
	margin:0 auto;
	padding:0;
	z-index:10;

	a,
	a:hover {
		font-weight:normal;
	}
}

// ----------Return Object----------
a#gototop {
	position:absolute;
	top:-22px;
	left:50%;
	display:block;
	width: 0px;
	height: 0px;
	margin:0 auto 0 auto;
	border-style: solid;
	border-width: 0 22px 22px 22px;
	-webkit-transform:rotate(360deg);
	z-index: 100;

	span {
		@extend %display_none;
		position:absolute;
		bottom:0;
		right:-46px;
		width: 80px;
		height: 20px;
		padding:4px 6px;
		text-align:center;
	}
}
a#gototop2 {
	@include position(fixed, "", 40px, 40px);
	@extend %goto_return_link;
	@extend %text_shadow_none;
	transition:none;
	font-size:20px;
	z-index: 100;
	@extend %display_none;

	&:hover {
		@extend %text_shadow_none;
	}
	&:before {
		top:0;
		@extend %goto_return_link;
	}
	// DELETE
	// background-color:$headerH1BarGradient1;
	@extend %image_hover_opacity; 

	span {
		@extend %display_none;
	}
}

#footer-bottom{
	clear:both;
	height:66px;
	text-align:right;
	font-size:11.5px;
}
#ft-btm-content {
	width:$containerWidth;
	margin:0 auto;
	padding-top:24px;
	height:42px;
}
#ft-widget-container{
	height:auto;
	margin:0 auto;
	padding:66px 0 44px 0;
}

#ft-widget-content{
	display: table;
	margin:0 auto 0 auto;
	text-align:left;
	width:$containerWidth;
}
.ft-widget-box{
	position:relative;
	margin:0 0 44px 0;
	font-size:12px;
}

#hd_right_free{position:relative;}

#sidebar,
#sidebar2,
#footer .hd_searchform{
	padding:0 0 22px 0;
}





// **********************************************************
// Google custom search
// **********************************************************
.hd_searchform .gsc-search-box {
	float:right;
	width:158px!important;
	z-index:1000;
}
table.gsc-search-box {
	position:relative!important;
	padding:0!important;
	margin:2px 0 0 0!important;

	td {
		margin:0;
		padding:0;
	}
}

.gsc-control-cse,
.gsc-control-searchbox-only {
	background-color:transparent!important;
	border:none!important;
	padding:0!important;
}
.gsc-control-cse td{
	border:none!important;
}
form.gsc-search-box {
	padding-top:6px!important;
}
td.gsc-input {
	padding:0 4px 0 0!important;
}
div.gsc-input-box {
	padding-left:4px;
	table {
		margin:3px 0 0 0!important;
	}
}
td.gsc-search-button {
	padding:0!important;
	width:25px!important;
	height:25px!important;
}
input.gsc-search-button {
	float:right;
	padding:6px!important;
	margin:0!important;
}
.gsc-webResult,
.gsc-result {
	border:none!important;
}

//------ Search form -----
#searchform{
	position:relative;
	display:block;
	width:auto;
	padding:2px 32px 0 6px;
	margin-bottom:44px;
	height:24px;
	z-index:100;
	background:#fff;
	border:1px solid #e0e0e0;
}

#searchform,
input#s:focus {
	background:#fff;
}
#upperdiv #searchform{
	right:0;
}

input#s{
	position:relative;
	top:2px;
	font-size:13px;
	padding:0;
	margin:0;
	float: right;
	width: 100%;
	border:none;
	color:#666;
}
input#searchsubmit{
	display: block;
	position: absolute;	
	top:1px;
	right:4px;
	padding:0;
	margin: 0;
	width:24px;
	height:24px;
	font-size:18px;
	color:#666;
	background:none;
	border: none;
	cursor:pointer;
}
#found-title {
	position:relative;
	top:-42px;
	margin-bottom:2px;
	text-align: center;

	span{
		font-size:15px;
		line-height: 1.5;
		padding:6px 11px;
	}
}

.ooops{
	margin:20px 0 5px 0;
	font-size:150px;
	width:100%;
	text-align:center;
}


// **********************************************************
// tooltip
// **********************************************************
.tooltip {
	position:relative;
	@extend %inline_block;

	span{
		display:block;
	}
}
.tooltip-div{
	position: absolute;
	opacity:0.9;
	z-index: 100;

	.tooltip-arrow{
		position:relative;
		top:0;
		left:75px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 10px 10px 10px;
		-webkit-transform:rotate(360deg);

	}

	.tooltip-msg{
		text-align: center;
		padding:6px 8px;
		width:160px;
		font-size:12px;
		line-height:1.6;
	}
}
.tooltip-div span:before,
.tooltip-div span:after{
	content:'';
}


// **********************************************************
// Misc...
// **********************************************************
// Radius 
#container,
.entrylist-cat a,
div.tagcloud a,
nav.single-nav a,
.nav_to_paged a,
.entry > p > a.more-link,
li.comment,
li.trackback,
li.pingback,
a.comment-reply-link,
#comment-author,
#comment-email,
#comment-comment,
#comment-url,
div.trackback_url_area div,
.entry input[type="submit"],
.wp-caption,
#searchform,
input#submit,
input#s:focus,
.gsc-input-box,
.post_thumb,
.post_thumb_portfolio,
.g_item,
.gallery-item img,
#container blockquote,
#container q,
#container pre,
#container code,
#found-title span,
.tooltip-msg,
a#gototop {
	@extend %border_radius_all_2px;
}

/* Text shadow none */
#fixed_sns li  a:hover,
#site_banner_bottom,
.tbl_meta,
.post_info_portfolio,
a.show-this-rss,
.entrylist-cat a,
.entrylist-cat a:hover,
.post_info_portfolio a,
.posttitle a:hover,
.entry h1 a:hover,
.entry h2 a:hover,
.entry h3 a:hover,
.entry h4 a:hover,
.entry h5 a:hover,
.entry h6 a:hover,
.nav_to_paged a,
.nav_to_paged a:hover,
nav.navigation a,
nav.navigation a:hover,
.meta_sns a,
.meta_sns a:hover,
.abs_time,
ul.dp_tab_widget_ul li,
.dp_feed_widget a:hover,
nav.single-nav a,
nav.single-nav a:hover,
span.current,
div.tagcloud a,
div.tagcloud a:hover,
a.more-link,
a.more-link:hover,
#content_footer a,
#content_footer a:hover,
.dp-pagenavi a,
.dp-pagenavi a:hover,
.dp-pagenavi span,
.wp-pagenavi a,
.wp-pagenavi a:hover,
#wp-calendar tbody td a,
#wp-calendar tbody td a:hover,
ul#switch_comment_type li,
a.comment-reply-link,
nav.single-nav a,
nav.single-nav a:hover,
input#submit:hover,
.widget-box h1 > a,
.widget-box h1 > a:hover,
#footer-bottom a,
#footer-bottom a:hover {
	text-shadow:none!important;
	text-decoration:none!important;
}

// Easing 
a,
.dp_related_posts_horizon ul li,
.dp_related_posts_vertical ul li,
.post a,
.entry a img,
.post_thumb,
.post_thumb_portfolio,
.post_thumb_gallery,
.post_excerpt,
.entry input[type="submit"],
input#submit,
ul#switch_comment_type li
#sidebar a,
#sidebar2 a,
#sidebar li,
#sidebar2 li,
#ft-widget-content a,
#ft-widget-content li{
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	transition:all  0.4s ease;
}
// Alpha 
section#site_banner_bottom,
.entry a:hover img,
.post_thumb_gallery:hover,
.post_thumb_portfolio:hover,
.recent_entries.thumb a:hover img{
	filter: brightness(65%);
	-moz-filter: brightness(65%);
	-o-filter: brightness(65%);
	-ms-filter: brightness(65%);
	-webkit-filter: brightness(65%);
	// For Retina
	@extend %translateZ0;
}
.dp-widget-content a:hover img{
	filter: none;
	-moz-filter: none;
	-o-filter: none;
	-ms-filter: none;
	-webkit-filter: none;
}

/* display none */
#fixed_menu_ul .menu-caption,
#fixed_sns li a span,
.breadcrumb_arrow span,
a.show-this-rss span,
.meta_sns span,
.dp_feed_widget span,
.assistive-text,
input#searchsubmit,
.screen-reader-text,
.dp-slide,
.ooops span,
.except-ie,
.mq-show900,
.mq-show850,
.mq-show800,
.mq-show750,
.mq-show700,
.mq-show650,
.mq-show600,
.mq-show550,
.mq-show500,
.mq-show {
	@extend %display_none;
}

// To Vertical sub menus
span.v_sub_menu_btn {
	position: absolute;
	top:0;
	right:0;
	text-align: center;
	width:33px;
	height:33px;
	line-height: 38px;
	cursor: pointer;
	overflow:hidden;
}


.dp_related_posts_vertical li{
	border-bottom:1px dotted #bbb;
}
.dp_related_posts_horizon li {
	border-right:1px dotted #bbb;
}
.dp_related_posts_horizon li:last-child {
	border-right:none;
}

// SNS buttons layout
.sns_buttons_meta {
	ul {
		@extend %widget_ul_style;
		overflow: visible;
		margin:0 auto;
	}

	li {
		@extend %inline_block;
		vertical-align: top;
		position:relative;
		margin:0;
		padding:0 8px 0 0;
		max-width:90px;
		max-height:68px;
		text-align: center;

		span {
			margin-right:0;
		}
		img,
		>a{
			vertical-align:top!important;
		}

		&.sns_btn_google {
			max-width:66px;
		}
		&.sns_btn_pinterest,
		&.sns_btn_facebook{
			max-width:110px;
		}
		&.sns_btn_pinterest{
			>a{
				vertical-align:top!important;
			}
			>span{
				>span{
					background-color:#fff!important;
					color:#666!important;
					font-size:12px!important;
					border:1px solid #c0c0c0;
					box-sizing:border-box;
					&:before,
					&:after{
						border-width:4px!important;
						border-style:solid;
						border-color:transparent;
					}
					&:after{
						position:absolute;
						content:"";
					}
				}
			}
		}
		&.sns_btn_twitter {
			min-width:72px;
		}
		&.sns_btn_pocket {
			top:2px;
			.pocket-btn {
				margin-bottom:0;
			}
		}
		&.sns_btn_mixi {
			top:3px;
		}
		&.sns_btn_tumblr {
			a {
				@extend %inline_block;
				overflow:hidden;
				width:81px; 
				height:20px; 
				background:url('https://platform.tumblr.com/v1/share_2.png') top left no-repeat transparent;
			}
			span {
				display: none;
			}
		}
	}
	&.bottom {
		margin:10px 0 0 auto;
		text-align:right;

		li {
			padding:0 0 0 8px;
		}
	}

	// Fix
	.btn_box{
		li{
			&.sns_btn_pinterest{
				>a{
					margin-top:36px!important;
				}
				>span{
					margin-top:40px!important;
					>span{
						height:34px!important;
						line-height:34px!important;
						margin-top:-4px;
						&:before,
						&:after{
							left:50%!important;
							margin-left:-4px;
						}
						&:before{
							bottom:-8px!important;
							border-top-color:#c0c0c0!important;
						}
						&:after{
							bottom:-7px;
							border-top-color:#fff;
						}
					}
				}
			}
		}
	}
	.btn_normal {
		li {
			&.sns_btn_pinterest{
				>span{
					>span{
						&:before,
						&:after{
							top:50%!important;
							margin-top:-4px;
						}
						&:before{
							left:-8px!important;
							border-right-color:#c0c0c0!important;
						}
						&:after{
							left:-7px;
							border-right-color:#fff;
						}
					}
				}
			}
		}
	}
}
	// **********************************
	// feedly subscriber count box
	// **********************************
	a.feedly_button {
		display:block;
		color: #777777;
		text-align: center;
		text-decoration: none;
		&:hover {
			color: #333333;
			text-decoration: none;
		}
		&:visited {
			color: #777777;
		}
	}
	.arrow_box_feedly {
		position: relative;
		background: none repeat scroll 0 0 #ffffff;
		border: 1px solid #bbbbbb;
		border-radius: 3px 3px 3px 3px;
		height: 35px;
		width: 100%;
		margin-bottom: 6px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		&:before,
		&:after {
			position: absolute;
			top: 100%;
			left: 50%;
			border: medium solid transparent;
			content: " ";
			height: 0;
			pointer-events: none;
			width: 0;
		}
		&:after {
			border-color: #ffffff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
			border-width: 4px;
			margin-left: -4px;
		}
		&:before {
			border-color: #999999 rgba(204, 204, 204, 0) rgba(204, 204, 204, 0);
			border-width: 5px;
			margin-left: -5px;
		}
		img {
			margin: 0;
			border: none;
		}
		span {
			display:block;
			width:100%;
			font-size:14px;
			line-height: 35px;
			overflow:hidden;
		}

		&.feedly_standard {
			height:20px;
			width:auto;
			margin:0 auto auto 6px;
			float:right;
			
			&:after,
			&:before {
				left:0;
			}
			&:before {
				border-color: rgba(204,204,204,0) #999999 rgba(204,204,204,0) rgba(204,204,204,0);
				border-width: 4px;
				margin: -13px auto auto -8px;
			}

			&:after {
				border-color: rgba(255, 255, 255, 0) #ffffff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
				border-width: 3px;
				margin: -12px auto auto -6px;
			}

			span {
				width:auto;
				font-size:11px;
				line-height: 20px;
				padding:0 4px;
			}
		}
	}


// SNS share number
img.hatebunumber {
	margin:0 8px 0 0;
	vertical-align: text-bottom;
}

// ***********************************
// SNS share number
// ***********************************
.loop-share-num {
	position: relative;
	letter-spacing: 0.06em;
	text-shadow:none!important;
	font-family: Arial;
	@extend %inline_block;

	&.in-blk {
		margin-top: 8px;
		@extend %inline_block;
	}

	div {
		position:relative;
		display: inline;
		padding:2px 4px;
		line-height:1.2;
		font-size:11px;
		&:before {
			font-size:12px;
		}
		
		// color:$linkColor;
		// background-color:rgba($linkColor,0.14);
		border-bottom:1px solid;
		// @extend %common_bordercolor_linkcolor;

		// default
		background-color:rgba(128,128,128,0.14);
	}
	.share-num {
		margin:0;
	}
}
.widget-views {
	display: inline-block;
	font-size:11px;
	padding:0 4px;
	line-height: 15px;
	vertical-align: bottom;
}
div.bg-hatebu{
	background-color:#dbf5ff;
	color:#00A5DE;
	border-color:#00A5DE;
}
div.bg-tweets{
	background-color:#daf2fe;
	color:#087fc4;
	border-color:#087fc4;
}
div.bg-likes{
	background-color:#dbe4fd;
	color:#0c37ac;
	border-color:#0c37ac;
}


// for Plugins
// Feed list Plugin
*:first-child+html .rssLinkListItemTitle {
	margin-left:-15px;
}
* html .rssLinkListItemTitle {
	margin-left:-15px;
}
// Post ratings
img.post-ratings-image {
	border:none;
	padding:0;
	margin:0;
}

/******************************************************
 Embeded iframe video
******************************************************/
.emb_video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.emb_video iframe {
	position:absolute;
	top:0;
	left:0;
	max-width:100%;
	max-height:100%;
}

// **********************************************************
// Shortcodes
// **********************************************************
div.phg-af-box,
div.ls-af-box {
	img {
		@extend %border_none;
	}
}

/**
 * Google Map adjustment
 */
div.gm-style{
    img{
        margin:auto;
        max-width:none;
    }
}

// **********************************************************
// Ranking Label
// **********************************************************
.rank_label {
	position: absolute;
	display: block;
	font-weight:normal;
	line-height: 1;
	text-shadow: none;
	&.thumb {
		top:5px;
		left:5px;
		padding-top:3px;
		// color:#fff;
		font-size:11px;
		z-index: 10;

		&:before {
			position:absolute;
			top:0;
			left:-5px;
			content:"";
			width: 0;
			height: 0;
			z-index:-1;
			border-style: solid;
			border-width: 30px 30px 0 0;
			// border-color: rgba(64,183,229,0.8) transparent transparent transparent;
		}
	}
	&.no-thumb {
		top:20%;
		right:4px;
		height:100%;
		font-size:34px;
		font-weight:bold;
		font-style:italic;
		// color:rgba(0,0,0,0.14);
		z-index:0;
	}
}
