@charset "utf-8";
// **********************************************************
// Default Params
// 
// @ "_reset.scss" uses these params.
// @ if you set to undefine, remove or comment the specific line.
// **********************************************************
$fontSize: 15px;
$fontColor:#333333;
$fontFamily:'Hiragino Kaku Gothic ProN',Meiryo,YuGothic, 'Yu Gothic',sans-serif;
$backgroundColor:transparent;
$selectionFontColor:#ffffff;
$selectionBgColor:#1ec3ce;
$tableCellPadding:6px 8px 6px 8px;
$ddPadding:8px 18px 12px 18px;
$jsRelativePath:"../inc/js";


// **********************************************************
// User Params 
// 
// -> Add your custom params.
// **********************************************************
// italic and mincho font
$fontFamilyItalic: 'Times New Roman', 'Hiragino Kaku Gothic ProN',Verdana,'Lucida Grande',sans-serif;
$fontFamilyMincho:'Hiragino Mincho Pro', 'Yu Mincho', YuMincho, 'MS PMincho', serif;

// (SAMPLE)Links
$linkColor: #0c8cc7;
$linkColorHover: #11adf5;


// Icon Font
$fontNameIcon:"dpicons";
$fontFileNameIcon:"dpicons";
$fontScaleIcon:120%;

// Size
$containerWidth:960px;
$contentWidth:710px;
$smallSeparateWidth:20px;
$separateWidth:30px;
$blockSeparateWidth:40px;
$bigSeparateWidth:60px;
$bannerHeight:300px;

// Sidebar 
$sidebarWidth:220px;


// Header
$h1BarHeight:20px;
$headerHeight:200px;
$headerH1BarGradient1: #444;
$headerH1BarGradient2: #1a1a1a;
$headerH1BarFontColor: #fff;
$headerGradient1:#fff;
$headerGradient2:#e0e0e0;
$headerFontColor: #2e2e2e;
$headerTextShadowColor:#fff;
$headerSiteTitleFontSize:28px;

// Header Right information
$headerRightPhoneNumberColor:#11adf5;
$headerRightOpenHourColor:#2e2e2e;
$headerRightButtonMailGradient1:#11adf5;
$headerRightButtonMailGradient2:#0c8cc7;
$headerRightButtonMailColor:#fff;
$headerRightButtonMailTextShadowColor:#777;

// Global menu
$expandBarHeight:60px;
$globalMenuHeight:60px;
$globalSubMenuHeight:38px;
$globalSubMenuWidth:220px;
$globalMenuGradient1:#fff;
$globalMenuGradient2:#e9e9e9;
$globalMenuShadowOpacity:0.12;
$globalMenuLinkColor:#444;
$globalMenuCaptionColor:#999;
$globalMenuTextShadowColor:#fff;

// Slider
$siteBannerBoxShadowOpacity:0.45;


// New Entry list
$newEntryListHorizonHeight:232px;
$newEntryListVerticalHeight:253px;
$newEntryListHorizonSeparateWidth:25px;
$newEntryListHorizonThumbWidth:220px;
$newEntryListHorizonThumbHeight:162px;
$newEntryListVerticalThumbWidth:98px;
$newEntryListVerticalThumbHeight:72px;


// Custom post type
$customersVoiceThumbSize:180px;

// Footer
$footerBaseFontSize:12px;
$footerH1TitleFontSize:15px;

// Sidebar 
$sidebarWidgetTitlePadding:7px 4px 6px 10px;
$sideBarWidgetTitleFontSize:14px;