@mixin rotateInUpLeft($prefix) {
  0.00% {
    @include transform-origin(left bottom, $prefix);
    @include transform(rotate(90deg), $prefix);
    opacity: 0;
  }
  100% {
    @include transform-origin(left bottom, $prefix);
    @include transform(rotate(0), $prefix);
    opacity: 1;
  }
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes rotateInUpLeft { @include rotateInUpLeft(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes rotateInUpLeft { @include rotateInUpLeft(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes rotateInUpLeft { @include rotateInUpLeft(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes rotateInUpLeft { @include rotateInUpLeft(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes rotateInUpLeft { @include rotateInUpLeft(o); }
}
@keyframes rotateInUpLeft { @include rotateInUpLeft(none); }

.rotateInUpLeft {
  @include animation-name(rotateInUpLeft);
}