@mixin rotateInDownLeft($prefix) {
  0.00% {
    @include transform-origin(left bottom, $prefix);
    @include transform(rotate(-90deg), $prefix);
    opacity: 0;
  }
  100% {
    @include transform-origin(left bottom, $prefix);
    @include transform(rotate(0), $prefix);
    opacity: 1;
  }
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes rotateInDownLeft { @include rotateInDownLeft(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes rotateInDownLeft { @include rotateInDownLeft(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes rotateInDownLeft { @include rotateInDownLeft(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes rotateInDownLeft { @include rotateInDownLeft(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes rotateInDownLeft { @include rotateInDownLeft(o); }
}
@keyframes rotateInDownLeft { @include rotateInDownLeft(none); }

.rotateInDownLeft {
  @include animation-name(rotateInDownLeft);
}