@mixin rotateInDownRight($prefix) {
  0.00% {
    @include transform-origin(right bottom, $prefix);
    @include transform(rotate(90deg), $prefix);
    opacity: 0;
  }
  100% {
    @include transform-origin(right bottom, $prefix);
    @include transform(rotate(0), $prefix);
    opacity: 1;
  }
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes rotateInDownRight { @include rotateInDownRight(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes rotateInDownRight { @include rotateInDownRight(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes rotateInDownRight { @include rotateInDownRight(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes rotateInDownRight { @include rotateInDownRight(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes rotateInDownRight { @include rotateInDownRight(o); }
}
@keyframes rotateInDownRight { @include rotateInDownRight(none); }

.rotateInDownRight {
  @include animation-name(rotateInDownRight);
}