@mixin rotateIn($prefix) {
  0.00% {
    @include transform-origin(center center, $prefix);
    @include transform(rotate(-200deg), $prefix);
    opacity: 0;
  }
  100% {
    @include transform-origin(center center, $prefix);
    @include transform(rotate(0), $prefix);
    opacity: 1;
  }
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes rotateIn { @include rotateIn(webkit); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes rotateIn { @include rotateIn(khtml); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes rotateIn { @include rotateIn(moz); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes rotateIn { @include rotateIn(ms); }
}
@if $experimental-support-for-opera {
  @-o-keyframes rotateIn { @include rotateIn(o); }
}
@keyframes rotateIn { @include rotateIn(none); }

.rotateIn {
  @include animation-name(rotateIn);
}