@charset "utf-8";
// Params
$btn_color_blue:#0d94ec;
$btn_color_lightblue:#08ace5;
$btn_color_green:#1abc9c;
$btn_color_orange:#ef9406;
$btn_color_red:#de3631;
$btn_color_pink:#fc8184;
$btn_color_primary:#1ec3ce;
$btn_color_gray:#999;
$btn_color_black:#353c42;


// **********************************************************
// Button and label base
// **********************************************************
@mixin button_and_label ($bgColor:#999, $fontColor:#fff, $type:"flat") {
	
	@extend %inline_block;
	position:relative;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	color:$fontColor;

	&:before {
		position:relative;
	}

	@if ($type == "flat") {
		&:before {
			position:relative;
		}
		text-shadow:none;
		border-width:0;
		@include each_button_color();

	} @else if ($type == "flat2" or $type == "flat3") {
		text-shadow:none;
		@include each_button_color($type);

	} @else if ($type == "flat4") {
		text-shadow:none;
		@include each_button_color($type);
		@include each_label_color($type);

	} @else {
		text-shadow: 0 -1px 0 #777;
		background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, .18) 49%, rgba(0, 0, 0, 0) 54%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0,0, 0) 100%) #000;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, .18) 49%, rgba(0, 0, 0, 0) 54%), linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0,0, 0) 100%) #000;

		border:1px solid rgba(0,0,0,0.1);
		border-color:rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);

		// For IE 9
		&:not(:target) {
			filter:none;
		}

		@include each_button_color('gradient');
	}
	
	// Default button and label color
	background-color:$bgColor;
}

// **********************************************************
// Button style
// **********************************************************
@mixin button_style ($fontColor:#fff, $type:"flat") {
	
	// Base design
	cursor: pointer;
	padding:14px 22px;
	margin:10px 0;
	line-height: normal;

	// For prevent retina fuzzy
	-webkit-transform: translateZ(0);

	@if ($type == "flat") {
		border-radius:4px;
		transition:none!important;
		-webkit-transition:none!important;

		border-width:0;
		box-shadow:0 5px #777;

		&:hover{
			top:2px;
			@include filter(brightness(110%));
			box-shadow:0 3px #777;
			color:$fontColor;
			text-decoration: none;
			-webkit-transform: translateZ(0);
		}

		@include each_button_hover_shadow();

		&:active{
			top:5px;
			box-shadow:none!important;
			outline:none;
		}
	
	} @else if ($type == "flat2" or $type == "flat4") {
		transition:none!important;
		-webkit-transition:none!important;
		
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;

		&:hover{
			@include filter(brightness(110%));
			color:$fontColor;
			text-decoration: none;
			-webkit-transform: translateZ(0);
		}
		&:active{
			top:2px;
			@include filter(brightness(90%));
			outline:none;
		}

		@if ($type == "flat4") {
			border-radius:3px;
		}

	} @else if ($type == "flat3") {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;

		@include transition(all 0.3s ease-in-out);
		&:after {
			content:'';
			position:absolute;
			top:0;
			right:0;
			width:36%;
			height:400%;
			background-color:rgba(#ffffff,0.2);
			z-index:1;
			@include transform-origin(0, 0);
			@include rotate(-20deg);
			@include transition(all 0.3s ease-in-out);
		}
		&:hover{
			&:after {
				width:42%;
			}
			@include filter(brightness(110%));
			color:$fontColor;
			text-decoration: none;
			-webkit-transform: translateZ(0);
		}
		&:active{
			top:2px;
			outline:none;
		}

	} @else {
		@include transition(all 0.3s ease);
		border-radius:4px;
		
		&:hover {
			text-decoration: none;
			@include filter(brightness(110%));
			color:$fontColor;
			-webkit-transform: translateZ(0);
		}
		&:active,
		&:focus{
			outline:none;
			box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15);
			@include transition(none);
		}
	}

	&.disabled {
		cursor: not-allowed;
		background-image: none;
		background-color:#999;
		text-shadow:none;
		-webkit-box-shadow:none;
		box-shadow:none;

		@include opacity(0.65);

		&:hover{
			top:0;
			-webkit-box-shadow:none;
			box-shadow:none;
			@include filter(brightness(90%));
		}
	}
}

// **********************************************************
// Label style
// **********************************************************
@mixin label_style ($type:"flat") {

	line-height:1.6;
	font-size:1em;
	margin:10px 0;
	padding:5px 14px;
	font-weight:bold;
	vertical-align: middle;
	

	@if ($type == "flat") {
		box-shadow:none!important;
	} 
	@if ($type == "flat4") {
	 	&::after {
			position: absolute;
			top: 0;
			right: 0;
			content: "";
			height: 10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 0 0 10px;
			border-color: transparent transparent transparent rgba(#000000,0.24);
		}

		box-shadow:none;

		&[class*="label-"] {
			box-shadow:none;
		}
	 }

	@if ($type != "flat4") {
		border-radius:30px;
	}

	+ span{
		position: relative;
		font-size:17px;
		font-weight:bold;
		margin-left:10px;
		line-height: 1;
		vertical-align: middle;
	}
}

// **********************************************************
// Button colors
// **********************************************************
@mixin each_button_color ($type:"flat") {

	@if ($type == "flat") {
		&.btn-blue,
		&.label-blue{
			background-color: $btn_color_blue;
			box-shadow:0 5px #0973b7;
		}
		&.btn-lightblue,
		&.label-lightblue{
			background-color:$btn_color_lightblue;
			box-shadow:0 5px #088ab7;
		}
		&.btn-orange,
		&.label-orange{
			background-color: $btn_color_orange;
			box-shadow:0 5px #b36f03;
		}
		&.btn-red,
		&.label-red{
			background-color: $btn_color_red;
			box-shadow:0 5px #a02623;
		}
		&.btn-pink,
		&.label-pink{
			background-color: $btn_color_pink;
			box-shadow:0 5px #d46c6d;
		}
		&.btn-green,
		&.label-green{
			background-color: $btn_color_green;
			box-shadow:0 5px #12997F;
		}
		&.btn-primary,
		&.label-primary{
			background-color: $btn_color_primary;
			box-shadow:0 5px #179da6;
		}
		&.btn-gray,
		&.label-gray{
			background-color: $btn_color_gray;
			box-shadow:0 5px #777;
		}
		&.btn-black,
		&.label-black{
			background-color: $btn_color_black;
			box-shadow:0 5px #000;
		}
		&[class*="label-"] {
			box-shadow:none;
		}

	} @else {
		&.btn-blue,
		&.label-blue{
			background-color: $btn_color_blue;
		}
		&.btn-lightblue,
		&.label-lightblue{
			background-color:$btn_color_lightblue;
		}
		&.btn-orange,
		&.label-orange{
			background-color: $btn_color_orange;
		}
		&.btn-red,
		&.label-red{
			background-color: $btn_color_red;
		}
		&.btn-pink,
		&.label-pink{
			background-color: $btn_color_pink;
		}
		&.btn-green,
		&.label-green{
			background-color: $btn_color_green;
		}
		&.btn-primary,
		&.label-primary{
			background-color: $btn_color_primary;
		}
		&.btn-gray,
		&.label-gray{
			background-color: $btn_color_gray;
		}
		&.btn-black,
		&.label-black{
			background-color: $btn_color_black;
		}
	}
}
// **********************************************************
// Label colors
// **********************************************************
@mixin each_label_color ($type:"flat4") {

	@if ($type == "flat4") {
		&.label-blue{
			&:after{
				border-color: transparent transparent transparent darken( $btn_color_blue, 15% );
			}
		}
		&.label-lightblue{
			&:after{
				border-color: transparent transparent transparent darken( $btn_color_lightblue, 15% );
			}
		}
		&.label-orange{
			&:after{
				border-color: transparent transparent transparent darken( $btn_color_orange, 15% );
			}
		}
		&.label-red{
			&:after{
				border-color: transparent transparent transparent darken( $btn_color_red, 15% );
			}
		}
		&.label-pink{
			&:after{
				border-color: transparent transparent transparent darken( $btn_color_pink, 15% );
			}
		}
		&.label-green{
			&:after{
				border-color: transparent transparent transparent darken( $btn_color_green, 15% );
			}
		}
		&.label-primary{
			&:after{
				border-color: transparent transparent transparent darken( $btn_color_primary, 15% );
			}
		}
		&.label-gray{
			&:after{
				border-color: transparent transparent transparent darken( $btn_color_gray, 15% );
			}
		}
		&.label-black{
			&:after{
				border-color: transparent transparent transparent darken( $btn_color_black, 15% );
			}
		}
	}
}


// For Flat button hover only
@mixin each_button_hover_shadow () {
	&.btn-orange:hover{
		box-shadow:0 3px #b36f03;
	}
	&.btn-blue:hover{
		box-shadow:0 3px #0973b7;
	}
	&.btn-lightblue:hover{
		box-shadow:0 3px #088ab7;
	}
	&.btn-red:hover{
		box-shadow:0 3px #a02623;
	}
	&.btn-pink:hover{
		box-shadow:0 3px #d46c6d;
	}
	&.btn-green:hover{
		box-shadow:0 3px #12997F;
	}
	&.btn-primary:hover{
		box-shadow:0 3px #179da6;
	}
	&.btn-gray:hover{
		box-shadow:0 3px #777;
	}
	&.btn-black:hover{
		box-shadow:0 3px #000;
	}
}
