@charset "utf-8";

@mixin clearfix {
	// For modern browsers
	&:before,
	&:after {
		content:"";
		display:table;
	}
	&:after {
		clear:both;
	}
	// For IE 6/7 (trigger hasLayout)
 	& {
 		zoom:1;
	}
}

// **********************************************************
// Link color
// **********************************************************
@mixin link_color($color, $hoverColor:"") {
	color: $color;
	&:hover, &:active, &:focus {
		@if ($hoverColor != "") {
				color:$hoverColor;
			} @else {
				color: lighten($color, 20%);
			}
	}
}


// **********************************************************
// Gradient background
// **********************************************************
@mixin gradient($startColor:#fff, $endColor:#ccc) {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, $startColor), color-stop(1, $endColor));
	background:-webkit-linear-gradient(top, $startColor 0%, $endColor 100%);
	background:linear-gradient(top, $startColor 0%, $endColor 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#{$startColor}', endColorstr='#{$endColor}');
	-pie-background:linear-gradient($startColor, $endColor);
}

@mixin gradient_with_bgcolor($bgColor:#ddd) {
	background-color:$bgColor;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.18)));
	background:-webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
	background:linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
	// For IE
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#00000000, endColorstr=#18000000);
	-pie-background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.18));

	// For IE 9
	&:not(:target) {
		filter:none;
	}
}

// **********************************************************
// border radius
// @param : top_left top_right bottom_right bottom_left
// **********************************************************
@mixin border_radius($value: 4px) {
	border-radius: $value;
}

// **********************************************************
// Box shadow
// **********************************************************
$DEFAULT_box_shadow: 0px 0px 2px 2px #666 !default;
@mixin box_shadow($value...) {
    @if(not existed($value...)) {
        $value: $DEFAULT_box_shadow;
    }
	-webkit-box-shadow: $value;
	box-shadow: $value;
}
// 可変長引数が空の値を受け取ったか判別する
@function existed($value...) {
	@if(length($value) == 0) {
		@return false;
	} @else {
		@return true;
	}
}


// **********************************************************
// CSS3 with vender prefix
// **********************************************************
@mixin css3($property, $value) {
	@each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
		#{$prefix}#{$property}: $value;
	}
}


// **********************************************************
// Opacity
// **********************************************************
@mixin opacity($value) {
	$valueIE:$value * 100;
	
	-webkit-opacity:$value;
	-khtml-opacity:$value;	
	-moz-opacity:$value;
	-o-opacity:$value;
	filter:alpha(opacity=$valueIE);
	-ms-filter:"alpha(opacity=#{$valueIE})";
	opacity:$value;
}


// **********************************************************
// Position
// **********************************************************
@mixin position ($pos, $top:"", $right:"", $bottom:"", $left:"") {
	@if ($pos) {
		position: $pos;
	} @else {
		position:relative;
	}
	@if ($top != "") {
		top:$top;
	}
	@if ($right != "") {
		right: $right;
	}
	@if ($bottom != "") {
		bottom: $bottom;
	}
	@if ($left != "") {
		left: $left;
	}
}
